<div class="row">
    <div class="col">
        <p class="heading">{{title}}</p>

        <div>
            <div *ngFor="let menu of menuItems; let i = index">
                <div class="step step-active" *ngIf="menu.url === router.url; else falseBlock">
                    <div>
                        <div class="active-circle"></div>
                    </div>
                    <div>
                        <div class="title" routerLinkActive="active" (click)="goToRouterUrl(menu.url)">{{ menu.title }}
                        </div>
                    </div>
                </div>
                <div class="vertical-line-not-active" *ngIf="menu.url === router.url  && (i < menuItems!.length - 1)"></div>

                <div *ngFor="let item of menu.child">
                    <div class="step step-active" *ngIf="item.url === router.url; else subMenuFalseBlock">
                        <div>
                            <div class="sub-menu-vertical-line-not-active"></div>
                        </div>
                        <div>
                            <div class="title" routerLinkActive="active" (click)="goToRouterUrl(item.url)">{{ item.title
                                }}</div>
                        </div>
                    </div>
                    <ng-template #subMenuFalseBlock>
                        <div class="step" *ngIf="(sessionArray.indexOf(item.title) != -1)">
                            <div>
                                <div class="sub-menu-vertical-line-active"></div>
                            </div>
                            <div>
                                <div class="title" (click)="goToRouterUrl(item.url)">{{ item.title }}</div>
                            </div>
                        </div>
                        <div class="sub-menu-vertical-line-active"
                            *ngIf="(sessionArray.indexOf(item.title) != -1) && (i < menu.child!.length - 1)"></div>

                        <div class="step" *ngIf="(sessionArray.indexOf(item.title) == -1)">
                            <div>
                                <div class="sub-menu-vertical-line-not-active"></div>
                            </div>
                            <div>
                                <div class="title" (click)="goToRouterUrl(item.url)">{{ item.title }}</div>
                            </div>
                        </div>
                        <div class="sub-menu-vertical-line-not-active"
                            *ngIf="(sessionArray.indexOf(item.title) == -1) && (i < menu.child!.length - 1)"></div>

                    </ng-template>
                </div>

                <ng-template #falseBlock>
                    <div class="step" *ngIf="(sessionArray.indexOf(menu.title) != -1)">
                        <div>
                            <div class="complete-circle"><i class="bi bi-check-lg"></i></div>
                        </div>
                        <div>
                            <div class="title" (click)="goToRouterUrl(menu.url)">{{ menu.title }}</div>
                        </div>
                    </div>
                    <div class="vertical-line-active"
                        *ngIf="(sessionArray.indexOf(menu.title) != -1) && (i < menuItems!.length - 1) && menu.child?.length == 0"></div>
                    <div class="small-vertical-line-active" *ngIf="(sessionArray.indexOf(menu.title) != -1) && (i < menuItems!.length - 1) && menu.child?.length != 0"></div>

                    <div class="step" *ngIf="(sessionArray.indexOf(menu.title) == -1)">
                        <div>
                            <div class="later-circle"></div>
                        </div>
                        <div>
                            <div class="title" (click)="goToRouterUrl(menu.url)">{{ menu.title }}</div>
                        </div>
                    </div>
                    <div class="vertical-line-not-active"
                        *ngIf="(sessionArray.indexOf(menu.title) == -1) && (i < menuItems!.length - 1) && menu.child?.length == 0"></div>
                    <div class="small-vertical-line-not-active" *ngIf="(sessionArray.indexOf(menu.title) != -1) && (i < menuItems!.length - 1) && menu.child?.length != 0"></div>

                </ng-template>
            </div>
        </div>

    </div>
</div>