<div class="row sticky">
	<div class="col-11">
		<div class="col pills">
			<a [ngClass]="[ selectTab == 'overview' ? 'active' : 'inactive']" (click)="scroll(overview, 'overview')">Overview</a>
			<a [ngClass]="[ selectTab == 'profile' ? 'active' : 'inactive']" (click)="scroll(profile, 'profile')">Profile</a>
			<a [ngClass]="[ selectTab == 'information' ? 'active' : 'inactive']" (click)="scroll(information, 'information')">Information</a>
			<a [ngClass]="[ selectTab == 'preferences' ? 'active' : 'inactive']" (click)="scroll(preferences, 'preferences')">Preferences</a>
			<a [ngClass]="[ selectTab == 'emergencyContact' ? 'active' : 'inactive']" (click)="scroll(emergencyContact, 'emergencyContact')">Emergency Contact</a>
			<a [ngClass]="[ selectTab == 'notes' ? 'active' : 'inactive']" (click)="scroll(notes, 'notes')">Notes</a>
		</div>
	</div>
	<div class="col-1 d-flex justify-content-center align-items-center mb-3">
		<button class="btn btn-dark">
			<i class="bi bi-x-lg"></i>
		</button>
	</div>
</div>

<div class="row">
	<div class="col-12" id="main">
		<div class="section" #overview>
			<div class="row">
				<div class="col-sm">
					<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
					</app-image-uploader>
				</div>
				<div class="col-sm">
					<p>Olivia Doe <span>(P1001)</span></p>
					<p>Female</p>
					<p>May 10,1992</p>
					<p>29y, 10m</p>
				</div>
				<div class="col-sm">
					<p>Phase: 2</p>
					<p>Status: Active</p>
					<p>Dentist: <span data-toggle="tooltip"	title="Kim Doe">{{ 'Kim Doe' | shortened: 4 }}</span></p>
					<p>Referrer: <span data-toggle="tooltip" title="John Doe">{{ 'John Doe' | shortened: 4 }}</span></p>
				</div>
				<div class="col-sm">
					<p>Language: English</p>
					<p>Provider: <span data-toggle="tooltip" title="Provider Name">{{ 'Provider Name' | shortened: 8 }}</span></p>
					<p>Practice: <span data-toggle="tooltip" title="Practice Name">{{ 'Practice Name' | shortened: 8 }}</span></p>
					<p>Location: <span data-toggle="tooltip" title="330 2nd Street Huntington Beach, CA 92646">{{ '330 2nd Street Huntington Beach, CA 92646' | shortened: 8 }}</span></p>
				</div>
				<div class="col-sm">
					<p><span data-toggle="tooltip" title="Chart Number">{{ 'Chart Number' | shortened: 8 }}</span> : <span data-toggle="tooltip" title="US-10001">{{ 'US-10001' | shortened: 4 }}</span></p>
					<p><span data-toggle="tooltip" title="Creation Date">{{ 'Creation Date' | shortened: 8 }}</span> : <span data-toggle="tooltip" title="Feb 15, 2022">{{ 'Feb 15, 2022' | shortened: 4 }}</span></p>
					<p><span data-toggle="tooltip" title="Treatement Start Date">{{ 'Treatement Start Date' | shortened: 8 }}</span> : <span data-toggle="tooltip" title="Feb 20, 2022">{{ 'Feb 20, 2022' | shortened: 4 }}</span>
					</p>
					<p><span data-toggle="tooltip" title="Treatement End Date">{{ 'Treatement End Date' | shortened: 8 }}</span> : <span data-toggle="tooltip" title="March 20, 2022">{{ 'March 20, 2022' | shortened: 4 }}</span>
					</p>
				</div>
			</div>
		</div>

		<div class="section" #profile>
			<form autocomplete="off">
				<h6 class="heading">Profile</h6>
				<div class="row">
					<div class="col">
						<label class="required">Title</label>
						<select class="form-select" formControlName="title">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
					<div class="col">
						<label class="required">First Name</label>
						<input
							class="form-control value-must"
							type="text"
							placeholder=""
							name="firstName"
							formControlName="firstName"
						/>
					</div>

					<div class="col">
						<label class="required">Middle Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="middleName"
						/>
					</div>
					<div class="col">
						<label class="required">Last Name</label>
						<input
							class="form-control value-must"
							type="text"
							placeholder=""
							name="lastName"
							formControlName="lastName"
						/>
					</div>
					<div class="col">
						<label class="required">Date of Birth</label>
						<input
							class="form-control value-must"
							type="date"
							placeholder=""
							name="DOB"
							formControlName="DOB"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="required">Gender</label>
						<select class="form-select" formControlName="gender">
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select>
					</div>
					<div class="col">
						<label class="required">Preferred Pronoun</label>
						<select class="form-select" formControlName="pronoun">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
					<div class="col">
						<label class="required">Language</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="language"
						/>
					</div>
					<div class="col">
						<label class="required">Marital Status</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="maried"
						/>
					</div>
				</div>
			</form>
		</div>

		<div class="section" #information>
			<form autocomplete="off">
				<h6 class="heading">Information</h6>
				<div class="row">
					<div class="col">
						<label
							class="required"
							
							>Preferred Name</label
						>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="id"
							formControlName="preferredName"
						/>
					</div>
					<div class="col">
						<label class="required">Pronounciation</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="pronounciation"
						/>
					</div>

					<div class="col">
						<label class="required">School</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="school"
						/>
					</div>
					<div class="col">
						<label class="required">Interests</label>
						<select class="form-select" formControlName="interest">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
					<div class="col">
						<label class="required">Tags</label>
						<select class="form-select" formControlName="tags">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="required">ID Type</label>
						<input
							class="form-control"
							formControlName="idType"
							type="text"
							placeholder=""
							name="name"
						/>
					</div>

					<div class="col">
						<label class="required">ID Number</label>
						<input
							class="form-control"
							formControlName="idNumber"
							type="text"
							placeholder=""
							name="name"
						/>
					</div>

					<!-- <div class="col mt-4">
						<button
							class="btn btn-light"
							[disabled]="ids.length == 1"
							(click)="removeId(i)"
						>
							<i class="bi bi-trash"></i>
						</button>
					</div> -->
				</div>
				<div class="row">
					<div class="col">
						<label class="required">ID Type</label>
						<input
							class="form-control"
							formControlName="idType"
							type="text"
							placeholder=""
							name="name"
						/>
					</div>

					<div class="col">
						<label class="required">ID Number</label>
						<input
							class="form-control"
							formControlName="idNumber"
							type="text"
							placeholder=""
							name="name"
						/>
					</div>

					<!-- <div class="col mt-4">
						<button
							class="btn btn-light"
							[disabled]="ids.length == 1"
							(click)="removeId(i)"
						>
							<i class="bi bi-trash"></i>
						</button>
					</div> -->
				</div>
				<!-- <div formArrayName="info">
					<div *ngFor="let inf of ids.controls; let i = index">
						<div class="row">
							<div class="col">
								<label class="required">ID Type</label>
								<input
									class="form-control"
									formControlName="idType"
									type="text"
									placeholder=""
									name="name"
								/>
							</div>

							<div class="col">
								<label class="required">ID Number</label>
								<input
									class="form-control"
									formControlName="idNumber"
									type="text"
									placeholder=""
									name="name"
								/>
							</div>

							<div class="col mt-4">
								<button
									class="btn btn-light"
									[disabled]="ids.length == 1"
									(click)="removeId(i)"
								>
									<i class="bi bi-trash"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="space2"></div>
					<div class="row" (click)="addId()">
						<div class="col">
							<button type="button" class="btn btn-dark">
								<i class="bi bi-plus-lg"></i>
							</button>
							Add Another ID
						</div>
					</div>
				</div> -->
			</form>
		</div>

		<div class="section" #preferences>
			<form autocomplete="off">
				<h6 class="heading">Preferences</h6>
				<div class="row">
					<div class="col">
						<label class="required">Location</label>
						<select class="form-select" formControlName="location">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
					<div class="col">
						<label class="required">Billing Provider</label>
						<select class="form-select" formControlName="practice">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>

					<div class="col">
						<label class="required">Treating Provider</label>
						<select class="form-select" formControlName="provider">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col">
						<label class="required">New Patient Coordinator</label>
						<select class="form-select" formControlName="patientCoordinator">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
					<div class="col">
						<label class="required">Treatment Coordinator</label>
						<select class="form-select" formControlName="treatmentCoordinator">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>

					<div class="col">
						<label class="required">Chair Side Assistant</label>
						<select class="form-select" formControlName="CSAssistant">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
				</div>
			</form>
		</div>

		<div class="section" #emergencyContact>
			<form autocomplete="off">
				<h6 class="heading">Emergency Contact</h6>
				<div class="row">
					<div class="col">
						<label class="required">Contact Person</label>
						<select class="form-select" formControlName="cPerson">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col">
						<label class="required">Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="id"
							formControlName="name"
						/>
					</div>
					<div class="col">
						<label class="required">Emergency Contact</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="eContact"
						/>
					</div>
				</div>
			</form>
		</div>

		<div class="section" #notes>
			<h6 class="heading">Notes</h6>
			<div class="row">
				<div class="col-6">
					<textarea
						class="form-control"
						name="note"
						id=""
						cols="70"
						rows="5"
						formControlName="note"
					></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
