// @import url("../../component/custom_components_styles.scss");

.nav {
  justify-content: left;
  width: 95.5%;
}

.navbar {
  flex-wrap: nowrap;
}

.name {
    font-size: 10px;
    color: var(--primary-color);
    font-weight: 800;
    span {
      color: black;
      font-weight: 400;
      font-size: 7px;
    }
  }
  p {
    margin-bottom: 5px;
  }
  
  .bold {
    font-weight: 800;
  }
  .row {
    justify-content: space-between;
  }
  .container {
    font-size: 8px;
    font-weight: 500;
  }
  
  .rght {
    min-width: 8rem;
  }
  .roww {
    display: flex;
    align-items: baseline;
    .lft {
      text-align: left;
      margin-right: 10px;
      min-width: 2.5rem;
    }
  }

  .btn_icon {
    width: fit-content;
    hero-icon {
      width: 15px;
      cursor: pointer;
    }
  }

  .card {
    background: #f9f9f9;
  }
  