<div class="row" *ngIf="Form">
    <app-nav-bar-pills [menuItems]="menuItems" [activeClass]="currentSelection" [cancelBtn]="true" [saveBtn]="true"
        [disableSaveBtn]="Form.invalid" (onCancel)="cancel()" (onSave)="save(Form.value)"></app-nav-bar-pills>
    <form [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
        <div class="col-12" id="main" scrollSpy (sectionChange)="onSectionChange($event)">
            <div class="section" id="treatmentPreference">
                <div class="row">
                    <h6 class="heading">Treatment Preferences</h6>
                </div>
                <div class="row">
                    <div class="5">
                        <p>Are you interested in: (Please indicate all that apply)</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Information</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Treatment at this time</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">Clarification of previously recieved
                                or conflicting information</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Would you prefer that facial apperance NOT to be discussed in front of your child?</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="latexRadio1" name="latexRadio" value="yes">
                            <label class="form-check-label" for="latexRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="latexRadio2" name="latexRadio" value="no">
                            <label class="form-check-label" for="latexRadio2">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="chiefComplaint">
                <div class="row">
                    <h6 class="heading">Chief Complaint</h6>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p>Please decribe all the concern's you have about patient's teeth</p>
                        <div class="mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-7"></div>
                </div>
            </div>
            <div class="section" id="expectations">
                <div class="row">
                    <h6 class="heading">Expectations</h6>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>If patient's teeth were to be changed, how would you like them changed?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" *ngFor="let teethTreatment of teethTreatmentList; let i = index;">
                        <div class="form-check">
                            <input class="form-check-input" type="{{teethTreatment.inputType}}"
                                id="defaultCheck{{i + 1}}" [checked]="teethTreatmentList[i].checkValue"
                                (change)="getCheckboxValue($event, i)">
                            <label class="form-check-label" for="defaultCheck{{i + 1}}">
                                {{teethTreatment.title}}
                            </label>
                        </div>
                        <span *ngFor="let subTeethTreatment of teethTreatment.child; let j = index;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="{{subTeethTreatment.inputType}}"
                                    name="inlineRadioOptions{{i + 1}}" id="inlineRadio{{j + 1}}"
                                    [disabled]="!teethTreatmentList[i].checkValue">
                                <label class="form-check-label"
                                    for="inlineRadio{{j + 1}}">{{subTeethTreatment.title}}</label>
                            </div>
                        </span>
                    </div>
                    <div class="col-5">
                        <p>Other</p>
                        <div class="mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" rows="5" id="otherField"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>If any features of the face could be changed, what would you like to see?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" *ngFor="let faceTreatment of faceTreatmentList; let i = index;">
                        <p>{{faceTreatment.title}}</p>
                        <span *ngFor="let subFaceTreatment of faceTreatment.child; let j = index;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="{{subFaceTreatment.inputType}}"
                                    name="inlineRadioOptions{{i + 1}}" id="inlineRadio{{j + 1}}">
                                <label class="form-check-label"
                                    for="inlineRadio{{j + 1}}">{{subFaceTreatment.title}}</label>
                            </div>
                        </span>
                    </div>
                    <div class="col-5">
                        <p>Other</p>
                        <div class="mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" rows="5" id="otherField"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="familyHistory">
                <div class="row">
                    <h6 class="heading">Family History</h6>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p>Is there any significant family history of jaw or teeth problems?</p>
                        <div class="form-check form-check-inline" (change)="showFamilyHistoryInputFeild = true">
                            <input class="form-check-input" type="radio" id="latexRadio1" name="latexRadio" value="yes">
                            <label class="form-check-label" for="latexRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline" (change)="showFamilyHistoryInputFeild = false">
                            <input class="form-check-input" type="radio" id="latexRadio2" name="latexRadio" value="no">
                            <label class="form-check-label" for="latexRadio2">No</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <p *ngIf="showFamilyHistoryInputFeild">Please describe</p>
                        <div class="mb-3" *ngIf="showFamilyHistoryInputFeild">
                            <textarea class="form-control" placeholder="Leave a comment here" rows="5" id="floatingTextarea2"></textarea>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="section">
                <div class="row mb-3">
                    <div class="col-6">
                        <h6 class="heading">Legal Guardian's Signature</h6>
                        <div class="box"></div>
                    </div>
                    <div class="col-6">
                        <h6 class="heading">Provider's Signature</h6>
                        <div class="box"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>Legal Guardian's Name</p>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">Name1</option>
                            <option value="2">Name2</option>
                            <option value="3">Name3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <p>Date</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                    <div class="col-3">
                        <p>Provider's Name</p>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">Name1</option>
                            <option value="2">Name2</option>
                            <option value="3">Name3</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <p>Date</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>