<div class="row sticky">
	<div class="col-12">
		<div class="col pills">
			<a [ngClass]="[ selectTab == 'overview' ? 'active' : 'inactive']" (click)="scroll(overview, 'overview')">Overview</a>
			<a [ngClass]="[ selectTab == 'profile' ? 'active' : 'inactive']" (click)="scroll(profile, 'profile')">Profile</a>
			<a [ngClass]="[ selectTab == 'address' ? 'active' : 'inactive']" (click)="scroll(address, 'address')">Address</a>
			<a [ngClass]="[ selectTab == 'contact' ? 'active' : 'inactive']" (click)="scroll(contact, 'contact')">Contact</a>
			<a [ngClass]="[ selectTab == 'notes' ? 'active' : 'inactive']" (click)="scroll(notes, 'notes')">Notes</a>
			<div align="end">
				<button class="btn btn-light" [disabled]="Form?.invalid" >
					<img src="assets/icons/save.svg" width="36" height="36" />
				</button>
				<button class="btn btn-light" (click)="cancel()">
					<img src="assets/icons/cancel.svg" width="36" height="36" />
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12" id="main">
		<div class="section" #overview>
			<div class="row">
				<div class="col-sm">
					<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
					</app-image-uploader>
				</div>
				<div class="col-sm">
					<p>Olivia Doe <span>(P1001)</span></p>
					<p>Female</p>
					<p>May 10,1992</p>
					<p>29y, 10m</p>
				</div>
				<div class="col-sm">
					<p>Phase: 2</p>
					<p>Status: Active</p>
					<p>Dentist: <span data-toggle="tooltip"	title="Kim Doe">{{ 'Kim Doe' | shortened: 4 }}</span></p>
					<p>Referrer: <span data-toggle="tooltip" title="John Doe">{{ 'John Doe' | shortened: 4 }}</span></p>
				</div>
				<div class="col-sm">
					<p>Language: English</p>
					<p>Provider: <span data-toggle="tooltip" title="Provider Name">{{ 'Provider Name' | shortened: 8 }}</span></p>
					<p>Practice: <span data-toggle="tooltip" title="Practice Name">{{ 'Practice Name' | shortened: 8 }}</span></p>
					<p>Location: <span data-toggle="tooltip" title="330 2nd Street Huntington Beach, CA 92646">{{ '330 2nd Street Huntington Beach, CA 92646' | shortened: 8 }}</span></p>
				</div>
				<div class="col-sm">
					<p><span data-toggle="tooltip" title="Chart Number">{{ 'Chart Number' | shortened: 8 }}</span> : <span data-toggle="tooltip" title="US-10001">{{ 'US-10001' | shortened: 4 }}</span></p>
					<p><span data-toggle="tooltip" title="Creation Date">{{ 'Creation Date' | shortened: 8 }}</span> : <span data-toggle="tooltip" title="Feb 15, 2022">{{ 'Feb 15, 2022' | shortened: 4 }}</span></p>
					<p><span data-toggle="tooltip" title="Treatement Start Date">{{ 'Treatement Start Date' | shortened: 8 }}</span> : <span data-toggle="tooltip" title="Feb 20, 2022">{{ 'Feb 20, 2022' | shortened: 4 }}</span>
					</p>
					<p><span data-toggle="tooltip" title="Treatement End Date">{{ 'Treatement End Date' | shortened: 8 }}</span> : <span data-toggle="tooltip" title="March 20, 2022">{{ 'March 20, 2022' | shortened: 4 }}</span>
					</p>
				</div>
			</div>
		</div>

		<div class="section" #profile>
			<form autocomplete="off">
				<h6 class="heading">Profile</h6>
				<div class="row">
					<div class="col">
						<label class="required">Title</label>
						<select class="form-select" formControlName="title">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
					<div class="col">
						<label class="required">First Name</label>
						<input
							class="form-control value-must"
							type="text"
							placeholder=""
							name="firstName"
							formControlName="firstName"
						/>
					</div>

					<div class="col">
						<label class="required">Middle Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							fromControlName="middleName"
						/>
					</div>
					<div class="col">
						<label class="required">Last Name</label>
						<input
							class="form-control value-must"
							type="text"
							placeholder=""
							name="lastName"
							formControlName="lastName"
						/>
					</div>
					<div class="col">
						<label
							class="required">Practice Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="praticeName"
						/>
					</div>
				</div>
				<div class="row">
					
					<div class="col">
						<label class="required">Degree</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="degree"
						/>
					</div>
					<div class="col">
						<label
							class="required"
							data-toggle="tooltip"
							title="Dental/Medical School"
							>{{
								'Dental/Medical School' | shortened: 10
							}}</label
						>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="DMSchool"
						/>
					</div>
					<div class="col">
						<label class="required">Specialty</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="specialty"
						/>
					</div>
					<div class="col">
						<label
							class="required"
							data-toggle="tooltip"
							title="Specialty School"
							>{{ 'Specialty School' | shortened: 10 }}</label
						>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="specialtySchool"
						/>
					</div>
					<div class="col">
						<label class="required">Greeting</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlNAme="greeting"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="true" id="mailingCheckbox">
							<label class="form-check-label" for="mailingCheckbox">
								Prefered Provider
							</label>
						</div>
					</div>
					
				</div>
				
			</form>
		</div>

		<div class="section" #address>
			<h6 class="heading">Address</h6>
			<app-address-form
				[parentGroup]="Form"
				[formGroupName]="'address'"
			></app-address-form>
		</div>

		<div class="section" #contact>
			<h6 class="heading">Contact</h6>
			<div class="row">
				<div class="col">
					<label class="required">Practice Email</label>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="id"
						formControlName="emailId"
					/>
				</div>

				<div class="col">
					<label class="required">Dentist Email</label>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="id"
						formControlName="demailId"
					/>
				</div>

				<div class="col">
					<label class="required">Phone Number - Practice</label>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="name"
						formControlName="pPhoneNumber"
					/>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label class="required">Phone Number - Mobile</label>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="name"
						formControlName="pPhoneNumber"
					/>
				</div>

				<div class="col">
					<label
						class="required"
						data-toggle="tooltip"
						title="Preferred Mail Method"
						>{{ 'Preferred Mail Method' | shortened: 10 }}</label
					>
					<select class="form-select" formControlName="preferredMailMethod">
						<option disabled>Select Website</option>
						<option>Choose Website</option>
					</select>
				</div>

				<div class="col">
					<label class="required">Website</label>
					<div class="input-group mb-3">
						<span class="form-control" id="basic-addon3"
							>https://</span
						>
						<input
							type="text"
							class="form-control"
							id="basic-url"
							aria-describedby="basic-addon3"
							name="website"
							placeholder="www.example.com"
							formControlName="website"
						/>
					</div>
				</div>
			</div>
		</div>

		<div class="section" #notes>
			<h6 class="heading">Notes</h6>
			<div class="row">
				<div class="col-6">
					<textarea
						class="form-control"
						name="note"
						id=""
						cols="70"
						rows="5"
						formControlName="note"
					></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
