<div class="row formrow" *ngIf="Form">
	<app-nav-bar-pills
		[menuItems]="menuItems"
		[activeClass]="currentSelection"
		[cancelBtn]="true"
		[saveBtn]="true"
		[disableSaveBtn]="Form.invalid || Form.pristine"
		(onCancel)="cancel()"
		(onSave)="save(Form.value)"
	></app-nav-bar-pills>
	<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
		<div class="col-12"	id="main" scrollSpy	(sectionChange)="onSectionChange($event)">
			<div class="section" id="overview">
				<div class="row formrow">
					<div class="col-sm">
						<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
						</app-image-uploader>
					</div>
				</div>
			</div>
			
			<div class="section" id="profile">
		
				<h6 class="heading">Profile</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Title</label>
						<ng-select class="input-upper" formControlName="title" placeholder="Select">
							<ng-option [value]="title.value" *ngFor="let title of famiMembTitle.title">
								{{ title.label }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">First Name</label>
						<input class="form-control mandatory-field input-upper" type="text" placeholder="" name="firstName"
							formControlName="firstName" [class.valid-mandatory-field]="firstNameValid()"/>
					</div>
		
					<div class="col">
						<label class="label-input-gap">Middle Name</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							fromControlName="middleName" />
					</div>
					<div class="col">
						<label class="label-input-gap">Last Name</label>
						<input class="form-control mandatory-field input-upper" type="text" placeholder="" name="lastName"
							formControlName="lastName" [class.valid-mandatory-field]="lastNameValid()"/>
					</div>
					<div class="col">
						<label class="label-input-gap">Practice Name</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="praticeName" />
					</div>
				</div>
				<div class="row formrow">
		
					<div class="col">
						<label class="label-input-gap">Degree</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name" formControlName="degree" />
					</div>
					<div class="col">
						<label class="label-input-gap">Dental/Medical School</label>
						<input class="form-control mandatory-field input-upper" type="text" placeholder="" name="name" 
						formControlName="DMSchool" 
						[class.valid-mandatory-field]="DMSchoolValid()"/>
					</div>
					<div class="col">
						<label class="label-input-gap">Specialty</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="specialty" />
					</div>
					<div class="col">
						<label class="label-input-gap">Specialty School</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="specialtySchool" />
					</div>
					<div class="col">
						<label class="label-input-gap">Greeting</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name" formControlNAme="greeting" />
					</div>
				</div>
				<div class="row formrow">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input input-upper" type="checkbox" value="true" id="mailingCheckbox">
							<label class="form-check-label" for="mailingCheckbox">
								Prefered Provider
							</label>
						</div>
					</div>
		
				</div>
		
			</div>
		
			<div class="section" id="address">
				<h6 class="heading">Address</h6>
				<app-address-form [parentGroup]="Form" [formGroupName]="'address'"></app-address-form>
			</div>
		
			<div class="section" id="contact">
				<h6 class="heading">Contact</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Practice Email</label>
						<input class="form-control input-upper" type="text" placeholder="" name="id" formControlName="emailId" />
					</div>
		
					<div class="col">
						<label class="label-input-gap">Dentist Email</label>
						<input class="form-control input-upper" type="text" placeholder="" name="id" formControlName="demailId" />
					</div>
		
					<div class="col">
						<label class="label-input-gap">Phone Number - Practice</label>
						<input class="form-control red-bottom-line input-upper" type="text" placeholder="" name="name"
							formControlName="pPhoneNumber"[class.valid-required-field]="pPhoneNumberValid()"/>
					</div>
				</div>
		
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Phone Number - Mobile</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="pPhoneNumber" />
					</div>
		
					<div class="col">
						<label class="label-input-gap">Preferred Mail Method</label>
						<ng-select class="input-upper" formControlName="preferredMailMethod" placeholder="Select">
							<ng-option>
								Select
							</ng-option>
						</ng-select>
					</div>
		
					<div class="col">
						<label class="label-input-gap">Website</label>
						<div class="website">
							<span class="" style="height: 36px;">https://</span>
							<input type="text" class="form-control input-upper"
								name="website" placeholder="www.example.com" formControlName="website" />
						</div>
					</div>
				</div>
			</div>
		
			<div class="section" id="notes">
				<h6 class="heading">Notes</h6>
				<div class="row formrow">
					<div class="col-6">
						<textarea class="form-control input-upper" name="note" id="" cols="70" rows="5"
							formControlName="note"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>









