<div class="row">
    <div class="col-2">
      <div class="settings-row pointer" [routerLink]="urlManageUser">
        <i class="bi bi-arrow-left-circle" style="font-size: 2rem;"></i>
        <p>Manage Users</p>
      </div>
      <ul class="ul" style="margin-top: 23px;">
        <div *ngFor="let item of menuItems">
          <li class="pointer" *ngIf="item.isEnabled"  routerLinkActive="active" [routerLink]="item.url">
            {{ item.title }}
          </li>
        </div>
      </ul>
    </div>
    <div class="col-10 component-view">
        <router-outlet></router-outlet>
    </div>
  </div>
