<div *ngIf="users.length == 0" class="section" style="height: 90%;">
    <div style="text-align: center; padding-top: 7%;">
        <h5><b>You haven’t added yet</b></h5>
        <p>Click here, <img src="assets/icons/add.svg" width="36" height="36" (click)="addUser()" /> to add
            User</p>
    </div>
</div>
<div *ngIf="users.length != 0">

    <!-- search, plus button -->
    <div class="container">
        <div class="d-flex justify-content-between call-to-actions">

            <!-- search -->
            <div class="col-4">
                <div class="input-group search_box">
                    <span class="input-group-text border-0 bg-transparent" id="basic-addon1">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control border-0" placeholder="Search"
                        aria-describedby="basic-addon1" />
                </div>
            </div>

            <!-- plus icon -->
            <div class="d-flex gap-2">
                <button class="add_btn" [routerLink]="addRoute">
                    <img src="/assets/icons/add.svg" alt="" />
                </button>
            </div>
        </div>
    </div>

    <!-- table -->
    <div class="container mt-4">
        <div class="row formrow">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" /></th>
                        <th scope="col">ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead> 
                <tbody *ngIf="users">
                    <tr *ngFor="let user of users; let i = index">
                        <td><input type="checkbox" value="{{i}}" /></td>
                        <td>{{user['profile'].firstName}} {{user['profile'].lastName}}</td>
                        <td>{{user['profile'].email}}</td>
                        <td *ngIf="user['roles'].length >1">
                            {{user['roles'][0].name}} <span class="redcircle" triggers="mouseenter:mouseleave"
                                #p1="ngbPopover" (mouseover)="usersPopUp(user['roles'], i)"
                                [ngbPopover]="popContentArray[i]"> +2</span>
                        </td>
                        <td *ngIf="user['roles'].length ==1">
                            {{user['roles'][0].name}}
                        </td>
                        <td>{{user?.status}}</td>
                        <td>
                            <div ngbDropdown container="body" placement="bottom-end">
                                <i class="bi bi-three-dots-vertical" id="dropdownBasic" ngbDropdownToggle></i>
                                <ul ngbDropdownMenu aria-labelledby="dropdownBasic">
                                    <li ngbDropdownItem>Resend activation email</li>
                                    <li (click)="gotoPersonalInfo(user)" ngbDropdownItem>Edit</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>