<form [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
    <div class="mainformsection scroll">
        <div class="two-items">
            <h6 class="heading" style="font-weight: bolder;">Insurance</h6>
            <a class="heading a-link" *ngIf="showButtonSaveCancel==false" (click)="openTextarea()">Add Script</a>
            <div class="two-little-button" *ngIf="showButtonSaveCancel==true">
                <a class="heading a-link" (click)="closeSaveCancelFunc()">Save Script</a>
                <a class="heading a-link" (click)="closeSaveCancelFunc()">Cancel</a>
            </div>
        </div>
        <div *ngIf="openTextAreaVar==true" class="row formrow" style="margin: 5px 1px 14px 1px;">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 98px; padding: 5px 10px 8px 6px; font-size: 12px; line-height : 20px; border: 2px solid #7a7a7c; font-style: oblique; resize: none;"></textarea>
        </div>
        <div class="row formrow" style="margin-top: 14px;">
            <div class="col-6">
                <div class="mainformset">
                    <p class="required">
                        Is there any insurance you would like us to
                        check for you?
                    </p>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="form-check form-check-inline">
                            <input #insuYesNoRadio1 class="form-check-input" type="radio" name="radioyesno"
                                id="radioyesno1" checked (click)="setRadioStatus(1,'insuYesNo')" />
                            <label class="form-check-label" for="radioyesno1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input #insuYesNoRadio2 class="form-check-input" type="radio" name="radioyesno"
                                id="radioyesno2" (click)="setRadioStatus(2,'insuYesNo')" />
                            <label class="form-check-label" for="radioyesno2">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mainformset" *ngIf="provideInsurance">
                    <p class="required">How many?</p>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="form-check form-check-inline">
                            <input #howManyInsuRadio1 class="form-check-input" type="radio" name="radiohowmany"
                                id="btnradio1" checked (click)="setRadioStatus(1,'howManyInsu')" />
                            <label class="form-check-label" for="btnradio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input #howManyInsuRadio2 class="form-check-input" type="radio" name="radiohowmany"
                                id="btnradio2" (click)="setRadioStatus(2,'howManyInsu')" />
                            <label class="form-check-label" for="btnradio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input #howManyInsuRadio3 class="form-check-input" type="radio" name="radiohowmany"
                                id="btnradio3" (click)="setRadioStatus(3,'howManyInsu')" />
                            <label class="form-check-label" for="btnradio3">3</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr *ngIf="provideInsurance" style="position: relative; top: 29px; height: 1px;">
        <div class="row formrow" *ngIf="provideInsurance" style="margin-top: -15px;">
            <ul ngbNav #nav="ngbNav" class="nav-pills" [(activeId)]="active" (navChange)="onNavChange($event)">
                <li [ngbNavItem]="1">
                    <a ngbNavLink *ngIf="radioHowManyIns == 1 || radioHowManyIns > 1" class="tabs"
                        (click)="radiosInsurances()">Insurance
                        1</a>
                    <ng-template ngbNavContent>
                        <div class="row formrow" style="margin-top: 22px;">
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="label-input-gap">Search Insurance</label>
                                    <div class="input-button">
                                        <input class="form-control" type="text" placeholder="Type Name" name="" />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row formrow" style="margin-top: 5px;">
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="label-input-gap">Name of Insurance</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance1.insuranName"
                                        formControlName="insurance1InsuranName" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="label-input-gap">Phone</label>
                                    <input class="form-control" type="text" placeholder="" name="" [(ngModel)]="insurances.insurance1.phoneNumb
                                    " formControlName="insurance1PhoneNumb" />
                                </div>
                            </div>
                        </div>
                        <!-- Subscriber radios -->
                        <div class="row formrow" style="margin-top: 31px;">
                            <div class="mainformset">
                                <h6 class="heading formrow" style="font-size: 12px;color: black;">Subscriber</h6>
                                <div class="btn-group radios" role="group" aria-label="Basic radio toggle button group"
                                    style="margin-top: -2px;">
                                    <div class="subscriber-divs">
                                        <input #subscri1Radio1 class="form-check-input" type="radio" name="subscriber1"
                                            id="subscriAddNew" (click)="setRadioStatus(1,'subscri1')" />
                                        <label class="form-check-label subscriber-labels" for="subscriAddNew">Search/Add
                                            new one</label>
                                    </div>
                                    <div class="subscriber-divs">
                                        <input #subscri1Radio2 class="form-check-input" type="radio" name="subscriber1"
                                            id="subscriSameAs" (click)="setRadioStatus(2,'subscri1')" />
                                        <label class="form-check-label subscriber-labels" for="subscriSameAs">Same as
                                            patient</label>
                                    </div>
                                    <div class="subscriber-divs">
                                        <input #subscri1Radio3 class="form-check-input" type="radio" name="subscriber1"
                                            id="subscriLegGuard" (click)="setRadioStatus(3,'subscri1')" />
                                        <label class="form-check-label subscriber-labels" for="subscriLegGuard">Same as
                                            legal guardian</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Subscriber textbox and button -->
                        <div class="row formrow" *ngIf="subscriberRadio == 1" style="margin-top: 3px;">
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="label-input-gap">Search Subscriber</label>
                                    <div class="input-button">
                                        <input class="form-control" type="text" placeholder="Type Name" name="" />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Subscriber textboxes-->
                        <div class="row formrow" style="margin-top: 5px;">
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">Subscriber's First Name</label>

                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance1.subscriber1.firstName"
                                        formControlName="subscriber1FirstName" />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">Subscriber’s Last Name</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance1.subscriber1.lastName"
                                        formControlName=".subscriber1LastName" />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">Relationship with Patient</label>
                                    <ng-select placeholder="Select">
                                        <ng-option>Select</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">DOB</label>
                                    <input class="form-control" type="date" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance1.subscriber1.DOB"
                                        formControlName="subscriber1DOB" />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">SSN/ID</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance1.subscriber1.SSNID"
                                        formControlName="subscriber1SSNID" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink *ngIf="radioHowManyIns > 1" class="tabs" (click)="radiosInsurances()">Insurance
                        2</a>
                    <ng-template ngbNavContent>
                        <div class="row formrow" style="margin-top: 22px;">
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class=" pb-1">Search Insurance</label>
                                    <div class="input-button">
                                        <input class="form-control" type="text" placeholder="Type Name" name="" />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row formrow" style="margin-top: 5px;">
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="label-input-gap">Name of Insurance</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance2.insuranName"
                                        formControlName="insurance2InsuranName" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="label-input-gap">Phone</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance2.phoneNumb"
                                        formControlName="insurance2PhoneNumb" />
                                </div>
                            </div>
                        </div>
                        <!-- Subscriber radios -->
                        <div class="row formrow">
                            <div class="mainformset">
                                <h6 class="heading formrow" style="font-size: 12px;color: black;">Subscriber</h6>
                                <div class="btn-group radios" role="group" aria-label="Basic radio toggle button group"
                                    style="margin-top: -2px;">
                                    <div class="subscriber-divs">
                                        <input #subscri2Radio1 class="form-check-input" type="radio" name="insuran2"
                                            id="insuran2UseExi" (click)="setRadioStatus(1,'subscri2')" checked />
                                        <label class="form-check-label subscriber-labels" for="insuran2UseExi">Use
                                            existing one</label>
                                    </div>
                                    <div class="subscriber-divs">
                                        <input #subscri2Radio2 class="form-check-input" type="radio" name="insuran2"
                                            id="insuran2SameAs" (click)="setRadioStatus(2,'subscri2')" />
                                        <label class="form-check-label subscriber-labels" for="insuran2SameAs">Same as
                                            patient</label>
                                    </div>
                                    <div class="subscriber-divs">
                                        <input #subscri2Radio3 class="form-check-input" type="radio" name="insuran2"
                                            id="insuran2SameLeGuar" (click)="setRadioStatus(3,'subscri2')" />
                                        <label class="form-check-label subscriber-labels" for="insuran2SameLeGuar">Same
                                            as
                                            legal guardian</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Subscriber textbox and button -->
                        <div class="row formrow" style="margin-top: 3px;">
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="label-input-gap">Search Insurance</label>
                                    <div class="input-button">
                                        <input class="form-control" type="text" placeholder="Type Name" name="" />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Subscriber textboxes-->
                        <div class="row formrow" style="margin-top: 5px;">
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required">Subscriber's First Name</label>

                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance2.subscriber2.firstName"
                                        formControlName="subscriber2FirstName" />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">Subscriber’s Last Name</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance2.subscriber2.lastName"
                                        formControlName="subscriber2LastName" />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">Relationship</label>
                                    <ng-select placeholder="Select">
                                        <ng-option>Select</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">DOB</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance2.subscriber2.DOB"
                                        formControlName="subscriber2DOB" />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required">SSN/ID</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance2.subscriber2.SSNID"
                                        formControlName="subscriber2SSNID" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink *ngIf="radioHowManyIns == 3" class="tabs" (click)="radiosInsurances()">Insurance
                        3</a>
                    <ng-template ngbNavContent>
                        <div class="row formrow" style="margin-top: 22px;">
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="label-input-gap">Search Insurance</label>
                                    <div class="input-button">
                                        <input class="form-control" type="text" placeholder="Type Name" name="" />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row formrow" style="margin-top: 5px;">
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="label-input-gap">Name of Insurance</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance3.insuranName"
                                        formControlName="insurance3InsuranName" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="label-input-gap">Phone</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance3.phoneNumb"
                                        formControlName="insurance3PhoneNumb" />
                                </div>
                            </div>
                        </div>
                        <!-- Subscriber radios -->
                        <div class="row formrow">
                            <div class="mainformset">
                                <h6 class="heading formrow" style="font-size: 12px;color: black;">Subscriber</h6>
                                <div class="btn-group radios" role="group" aria-label="Basic radio toggle button group"
                                    style="margin-top: -2px;">
                                    <div class="subscriber-divs">
                                        <input #subscri3Radio1 class="form-check-input" type="radio" name="subscriber3"
                                            id="subscr1UseExit" (click)="setRadioStatus(1,'subscri3')" />
                                        <label class="form-check-label subscriber-labels" for="subscr1UseExit">Use
                                            existing one</label>
                                    </div>
                                    <div class="subscriber-divs">
                                        <input #subscri3Radio2 class="form-check-input" type="radio" name="subscriber3"
                                            id="subscriSameAs" (click)="setRadioStatus(2,'subscri3')" />
                                        <label class="form-check-label subscriber-labels" for="subscriSameAs">Same as
                                            patient</label>
                                    </div>
                                    <div class="subscriber-divs">
                                        <input #subscri3Radio3 class="form-check-input" type="radio" name="subscriber3"
                                            id="subscriSameLeGuar" (click)="setRadioStatus(3,'subscri3')" />
                                        <label class="form-check-label subscriber-labels" for="subscriSameLeGuar">Same
                                            as
                                            legal guardian</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Subscriber textbox and button -->
                        <div class="row formrow" style="margin-top: 3px;">
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="label-input-gap">Search Insurance</label>
                                    <div class="input-button">
                                        <input class="form-control" type="text" placeholder="Type Name" name="" />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Subscriber textboxes-->
                        <div class="row formrow" style="margin-top: 5px;">
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required">Subscriber's First Name</label>

                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance3.subscriber3.firstName"
                                        formControlName="subscriber3FirstName" />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">Subscriber’s Last Name</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance3.subscriber3.lastName"
                                        formControlName="subscriber3LastName" />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">Relationship</label>
                                    <ng-select placeholder="Select">
                                        <ng-option>Select</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="label-input-gap">DOB</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance3.subscriber3.DOB"
                                        formControlName="subscriber3DOB" />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required">SSN/ID</label>
                                    <input class="form-control" type="text" placeholder="" name=""
                                        [(ngModel)]="insurances.insurance3.subscriber3.SSNID"
                                        formControlName="subscriber3SSNID" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <div class="two-final-buttons" style="margin-top: 56px !important;">
                <div class="two-items">
                    <button class="btn btn-light btn-light-custom">Exit</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==1 && radioHowManyIns>1"
                        (click)="nav.select(2)">Next</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==1  && radioHowManyIns==1"
                        (click)="continueToFamilyMemb()">Save and
                        continue</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==2 && radioHowManyIns==3"
                        (click)="nav.select(3)">Next</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==2  && radioHowManyIns==2"
                        (click)="continueToFamilyMemb()">Save and
                        continue</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==3"
                        (click)="continueToFamilyMemb()">Save and continue</button>
                </div>
            </div>
        </div>
        <div class="two-final-buttons" *ngIf="!provideInsurance" style="margin-top: 61px !important;">
            <div class="two-items">
                <button class="btn btn-light btn-light-custom">Exit</button>
                <button type="button" class="btn btn-dark btn-dark-custom" (click)="continueToFamilyMemb()">Save and
                    continue</button>
            </div>
        </div>
    </div>
</form>