<form autocomplete="off">
    <div class="mainformsection">
        <div class="two-items">
            <h6 class="heading" style="font-weight: bolder;">Insurance</h6>
            <a class="heading a-link" *ngIf="showButtonSaveCancel==false" (click)="openTextarea()">Add Script</a>
            <div class="two-little-button" *ngIf="showButtonSaveCancel==true" >
                <a class="heading a-link" (click)="closeSaveCancelFunc()">Save Script</a>
                <a class="heading a-link" (click)="closeSaveCancelFunc()">Cancel</a>
            </div>
        </div>
        <div class="row" style="margin-top: 11px; margin-bottom: 18px;">
            <textarea *ngIf="openTextAreaVar==true"
                        class="form-control"
                        placeholder="Leave a comment here"
                        id="floatingTextarea2"
                        style="height: 98px; padding: 5px 10px 8px 6px; font-size: 12px; line-height : 20px; border: 2px solid #7a7a7c; font-style: oblique; resize: none;"
                    ></textarea
                    >
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-6">
                <div class="mainformset">
                    <p class="required">
                        Is there any insurance you would like us to
                        check for you?
                    </p>
                    <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic radio toggle button group"
                    >
                    <div class="form-check form-check-inline">
                        <input
                        class="form-check-input"
                            type="radio"
                            name="radioyesno"
                            id="radioyesno1"
                            autocomplete="off"
                            checked
                            (change)="yesfunction()"
                        />
                        <label class="form-check-label" for="radioyesno1"
                            >Yes</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                        class="form-check-input"
                            type="radio"
                            name="radioyesno"
                            id="radioyesno2"
                            autocomplete="off"
                            (change)="provideInsurance = false"
                        />
                        <label class="form-check-label" for="radioyesno2"
                            >No</label
                        >
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mainformset" *ngIf="provideInsurance">
                    <p class="required">How many?</p>
                    <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic radio toggle button group"
                    >
                    <div class="form-check form-check-inline">
                        <input
                        class="form-check-input"
                            type="radio"
                            name="radiohowmany"
                            id="btnradio1"
                            autocomplete="off"
                            checked
                            (click)="checkInsuranceCount = 1"
                            
                        />
                        <label class="form-check-label" for="btnradio1"
                            >1</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                        class="form-check-input"
                            type="radio"
                            name="radiohowmany"
                            id="btnradio2"
                            autocomplete="off"
                            (click)="checkInsuranceCount = 2"
                        />
                        <label class="form-check-label" for="btnradio2"
                            >2</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                        class="form-check-input"
                            type="radio"
                            name="radiohowmany"
                            id="btnradio3"
                            autocomplete="off"
                            
                            (click)="checkInsuranceCount = 3"
                        />
                        <label class="form-check-label" for="btnradio3"
                            >3</label
                        >
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="provideInsurance">
            <ul  ngbNav #nav="ngbNav" class="nav-pills" [(activeId)]="active" (navChange)="onNavChange($event)">
                <li [ngbNavItem]="1">
                    <a ngbNavLink *ngIf="checkInsuranceCount == 1 || checkInsuranceCount > 1">Insurance 1</a>
                    <ng-template ngbNavContent>
                        <div class="row" style="margin-top: 13px;">
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Search Insurance</label
                                    >
                                    <div class="input-button">
                                        <input
                                            class="form-control"
                                            type="text"
                                            placeholder="Type Name"
                                            name=""
                                        />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Name of Insurance</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Phone</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px;">
                            <h6 class="heading">Subscriber</h6>
                            <div
                                class="btn-group"
                                role="group"
                                aria-label="Basic radio toggle button group"
                                style="margin-top: 7px"
                            >
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                    type="radio"
                                    name="btnradio3"
                                    id="btnradio1"
                                    autocomplete="off"
                                    checked
                                    
                                />
                                <label class="form-check-label" for="btnradio1"
                                    >Add a new one</label
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                    type="radio"
                                    name="btnradio3"
                                    id="btnradio2"
                                    autocomplete="off"
                                    
                                />
                                <label class="form-check-label" for="btnradio2"
                                    >Same as patient</label
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                    type="radio"
                                    name="btnradio3"
                                    id="btnradio2"
                                    autocomplete="off"
                                />
                                <label class="form-check-label" for="btnradio2"
                                    >Same as legal guardian</label
                                >
                            </div>
                            </div>
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Search Subscriber</label
                                    >
                                    <div class="input-button">
                                        <input
                                            class="form-control"
                                            type="text"
                                            placeholder="Type Name"
                                            name=""
                                        />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required"
                                        >Subscriber’s First
                                        Name</label
                                    >

                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Subscriber’s Last
                                        Name</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required">Relationship</label>
                                    <ng-select placeholder="Select"  style="height: 36px;">
                                        <ng-option>Select</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >DOB</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required"
                                        >SSN/ID</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink *ngIf="checkInsuranceCount > 1">Insurance 2</a>
                    <ng-template ngbNavContent>
                        <div class="row" style="margin-top: 13px;">
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Search Insurance</label
                                    >
                                    <div class="input-button">
                                        <input
                                            class="form-control"
                                            type="text"
                                            placeholder="Type Name"
                                            name=""
                                        />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Name of Insurance</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Phone</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px;">
                            <h6 class="heading">Subscriber</h6>
                            <div
                                class="btn-group"
                                role="group"
                                aria-label="Basic radio toggle button group"
                                style="margin-top: 7px"
                            >
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                    type="radio"
                                    name="btnradio3"
                                    id="btnradio1"
                                    autocomplete="off"
                                    checked
                                    
                                />
                                <label class="form-check-label" for="btnradio1"
                                    >Add a new one</label
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                    type="radio"
                                    name="btnradio3"
                                    id="btnradio2"
                                    autocomplete="off"
                                    
                                />
                                <label class="form-check-label" for="btnradio2"
                                    >Same as patient</label
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                    type="radio"
                                    name="btnradio3"
                                    id="btnradio2"
                                    autocomplete="off"
                                />
                                <label class="form-check-label" for="btnradio2"
                                    >Same as legal guardian</label
                                >
                            </div>
                            </div>
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Search Subscriber</label
                                    >
                                    <div class="input-button">
                                        <input
                                            class="form-control"
                                            type="text"
                                            placeholder="Type Name"
                                            name=""
                                        />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required"
                                        >Subscriber’s First
                                        Name</label
                                    >

                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Subscriber’s Last
                                        Name</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required">Relationship</label>
                                    <ng-select placeholder="Select"  style="height: 36px;">
                                        <ng-option>Select</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >DOB</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required"
                                        >SSN/ID</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink *ngIf="checkInsuranceCount == 3">Insurance 3</a>
                    <ng-template ngbNavContent>
                        <div class="row" style="margin-top: 13px;">
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Search Insurance</label
                                    >
                                    <div class="input-button">
                                        <input
                                            class="form-control"
                                            type="text"
                                            placeholder="Type Name"
                                            name=""
                                        />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Name of Insurance</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Phone</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px;">
                            <h6 class="heading">Subscriber</h6>
                            <div
                                class="btn-group"
                                role="group"
                                aria-label="Basic radio toggle button group"
                                style="margin-top: 7px"
                            >
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                    type="radio"
                                    name="btnradio3"
                                    id="btnradio1"
                                    autocomplete="off"
                                    checked
                                    
                                />
                                <label class="form-check-label" for="btnradio1"
                                    >Add a new one</label
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                    type="radio"
                                    name="btnradio3"
                                    id="btnradio2"
                                    autocomplete="off"
                                    
                                />
                                <label class="form-check-label" for="btnradio2"
                                    >Same as patient</label
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                    type="radio"
                                    name="btnradio3"
                                    id="btnradio2"
                                    autocomplete="off"
                                />
                                <label class="form-check-label" for="btnradio2"
                                    >Same as legal guardian</label
                                >
                            </div>
                            </div>
                            <div class="col-6">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Search Subscriber</label
                                    >
                                    <div class="input-button">
                                        <input
                                            class="form-control"
                                            type="text"
                                            placeholder="Type Name"
                                            name=""
                                        />
                                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required"
                                        >Subscriber’s First
                                        Name</label
                                    >

                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >Subscriber’s Last
                                        Name</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required">Relationship</label>
                                    <ng-select placeholder="Select"  style="height: 36px;">
                                        <ng-option>Select</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required pb-1"
                                        >DOB</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                            <div class="twenty">
                                <div class="mainformset">
                                    <label class="required"
                                        >SSN/ID</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder=""
                                        name=""
                                    />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <div class="two-final-buttons">
                <div class="two-items">
                    <button class="btn btn-light btn-light-custom" >Exit</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==1 && checkInsuranceCount>1"  (click)="nav.select(2)" >Next</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==1  && checkInsuranceCount==1" (click)="continueToFamilyMemb()" >Save and continue</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==2 && checkInsuranceCount==3" (click)="nav.select(3)" >Next</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==2  && checkInsuranceCount==2" (click)="continueToFamilyMemb()" >Save and continue</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" *ngIf="active==3" (click)="continueToFamilyMemb()" >Save and continue</button>
                </div>
            </div>
        </div>
    </div>
</form>