<div class="row">
	<div class="col-2" *ngIf="!onPage">
		<div class="settings-row">
			<i
				class="bi bi-arrow-left-circle"
				style="font-size: 2rem; cursor: pointer"
				[routerLink]="urlPracticeTool"
			></i>
			<p>Practice Tools</p>
		</div>
		<ul class="ul" style="margin-top: 27px">
			<div *ngFor="let item of practiceInsuranceMenu">
				<li
					class="pointer"
					*ngIf="item.isEnabled"
					routerLinkActive="active"
					[routerLink]="item.url"
				>
					{{ item.title }}
				</li>
			</div>
		</ul>
	</div>
	<div [ngClass]="onPage ? 'col-12' : 'col-10'" class="component-view">
		<router-outlet></router-outlet>
	</div>
</div>