<div class="container content">
	<button (click)="procedToNextC()">Next Call's Info</button>
	<button (click)="procedToNextP()">Next Patient</button>
	<button (click)="procedToNextLG()">Next Legal Guardian</button>
	<button (click)="procedToNextD()">Next Dentist</button>
	<button (click)="procedToNextR()">Next Referrer</button>
	<button (click)="procedToNextI()">Next Insurance</button>
	<button (click)="procedToNextFM()">Next Family Members</button>
	<button (click)="procedToNextA()">Next Appointment</button>
	<button (click)="procedToNextCO()">Next Conclusion</button>
</div>