<div class="row" *ngIf="Form && staticData">
  <div class="col-12 d-flex mb-3">
    <div class="col d-flex align-items-center">
      <span class="text-uppercase fw-bold">{{ title }}</span>
    </div>
    <div class="col d-flex justify-content-end align-content-center">
      <button
        class="btn btn-dark"
        [disabled]="Form.invalid"
        (click)="save(Form.value)"
      >
        Save Changes
      </button>
      <button class="btn btn-light" (click)="cancel()">Cancel</button>
    </div>
  </div>
  <div class="col-12">
    <div class="col pills">
      <a class="active" (click)="scroll(overview)">Overview</a>
      <a (click)="scroll(profile)">Profile</a>
      <a (click)="scroll(physicalAddress)">Physical Address</a>
      <a (click)="scroll(mailingAddress)">Mailing Address</a>
      <a (click)="scroll(insuranceBillingAddress)">Insurance</a>
      <a (click)="scroll(contactDetails)">Contact</a>
      <a (click)="scroll(contactPerson)">Contact Person Info</a>
    </div>
  </div>

  <div class="container" id="main">
    <div class="section" #overview>
      <div class="row">
        <h6 class="heading">Logo</h6>
      </div>
      <div class="row">
        <app-image-uploader
          [imageUrl]="formData?.logo || ''"
          (onUpload)="handleUploadedImage($event)"
        ></app-image-uploader>
      </div>
    </div>
    <form [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
      <!-- Profile -->
      <div class="section" #profile>
        <div class="row">
          <h6 class="heading">Profile</h6>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="col">
            <label class="required">Description</label>
            <input
              type="text"
              class="form-control"
              formControlName="description"
            />
          </div>
          <div class="col">
            <label class="required">Abbreviation</label>
            <input
              type="text"
              class="form-control"
              formControlName="abbreviation"
            />
          </div>
        </div>
      </div>
      <!-- Physical Address -->
      <div class="section" #physicalAddress formGroupName="physicalAddress">
        <div class="row">
          <h6 class="heading">Physical Address</h6>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">Address Line 1</label>
            <input
              type="text"
              class="form-control"
              formControlName="addressLine1"
            />
          </div>
          <div class="col">
            <label class="required">Address Line 2</label>
            <input
              type="text"
              class="form-control"
              formControlName="addressLine2"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">Country</label>
            <input type="text" class="form-control" formControlName="country" />
          </div>
          <div class="col">
            <label class="required">State</label>
            <input type="text" class="form-control" formControlName="state" />
          </div>
          <div class="col">
            <label class="required">City</label>
            <input type="text" class="form-control" formControlName="city" />
          </div>
          <div class="col">
            <label class="required">Zip Code</label>
            <input
              type="number"
              class="form-control"
              formControlName="zipCode"
            />
          </div>
        </div>
      </div>
      <!-- Mailing Address -->
      <div class="section" #mailingAddress formGroupName="mailingAddress">
        <div class="row">
          <h6 class="heading">Mailing Address</h6>
        </div>
        <div class="row">
          <div class="col-4 mb-3">
            <button
              type="button"
              class="btn btn-sm btn-dark"
              (click)="setAddress('mailingAddress')"
            >
              Same as physical address
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">Address Line 1</label>
            <input
              type="text"
              class="form-control"
              formControlName="addressLine1"
            />
          </div>
          <div class="col">
            <label class="required">Address Line 2</label>
            <input
              type="text"
              class="form-control"
              formControlName="addressLine2"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">Country</label>
            <input type="text" class="form-control" formControlName="country" />
          </div>
          <div class="col">
            <label class="required">State</label>
            <input type="text" class="form-control" formControlName="state" />
          </div>
          <div class="col">
            <label class="required">City</label>
            <input type="text" class="form-control" formControlName="city" />
          </div>
          <div class="col">
            <label class="required">Zip Code</label>
            <input
              type="number"
              class="form-control"
              formControlName="zipCode"
            />
          </div>
        </div>
      </div>
      <!-- Insurance Billing Address -->
      <div
        class="section"
        #insuranceBillingAddress
        formGroupName="insuranceBillingAddress"
      >
        <div class="row">
          <h6 class="heading">Insurance Billing Address</h6>
        </div>
        <div class="row">
          <div class="col-4 mb-3">
            <button
              type="button"
              class="btn btn-sm btn-dark"
              (click)="setAddress('insuranceBillingAddress')"
            >
              Same as physical address
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">Address Line 1</label>
            <input
              type="text"
              class="form-control"
              formControlName="addressLine1"
            />
          </div>
          <div class="col">
            <label class="required">Address Line 2</label>
            <input
              type="text"
              class="form-control"
              formControlName="addressLine2"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">Country</label>
            <input type="text" class="form-control" formControlName="country" />
          </div>
          <div class="col">
            <label class="required">State</label>
            <input type="text" class="form-control" formControlName="state" />
          </div>
          <div class="col">
            <label class="required">City</label>
            <input type="text" class="form-control" formControlName="city" />
          </div>
          <div class="col">
            <label class="required">Zip Code</label>
            <input
              type="number"
              class="form-control"
              formControlName="zipCode"
            />
          </div>
        </div>
      </div>
      <!-- Contact -->
      <div class="section" #contactDetails formGroupName="contactDetails">
        <div class="row">
          <h6 class="heading">Contact Details</h6>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">Email</label>
            <input type="text" class="form-control" formControlName="email" />
          </div>
          <div class="col">
            <label class="required">Website</label>
            <input type="text" class="form-control" formControlName="website" />
          </div>
          <div class="col">
            <label class="required">Prefered Mail Method</label>
            <input
              type="text"
              class="form-control"
              formControlName="preferedMailMethod"
            />
          </div>
        </div>
        <div class="row" formGroupName="primaryPhone">
          <div class="col">
            <label class="required">Primary Phone Type</label>
            <select class="form-select" formControlName="type">
              <option
                [value]="type.value"
                *ngFor="let type of staticData.phone"
              >
                {{ type.label }}
              </option>
            </select>
          </div>
          <div class="col">
            <label class="required">Country Code</label>
            <input
              type="text"
              class="form-control"
              formControlName="countryCode"
            />
          </div>
          <div class="col">
            <label class="required">Number</label>
            <input type="text" class="form-control" formControlName="number" />
          </div>
        </div>
        <div class="row" formGroupName="secondaryPhone">
          <div class="col">
            <label class="required">Secondary Phone Type</label>
            <select class="form-select" formControlName="type">
              <option
                [value]="type.value"
                *ngFor="let type of staticData.phone"
              >
                {{ type.label }}
              </option>
            </select>
          </div>
          <div class="col">
            <label class="required">Country Code</label>
            <input
              type="text"
              class="form-control"
              formControlName="countryCode"
            />
          </div>
          <div class="col">
            <label class="required">Number</label>
            <input type="text" class="form-control" formControlName="number" />
          </div>
        </div>
      </div>
      <!-- Contact Person-->
      <div class="section" #contactPerson formGroupName="contactPerson">
        <div class="row">
          <h6 class="heading">Contact Person</h6>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">Party ID</label>
            <input type="text" class="form-control" formControlName="partyId" />
          </div>
          <div class="col">
            <label class="required">Designation</label>
            <input
              type="text"
              class="form-control"
              formControlName="designation"
            />
          </div>
          <div class="col">
            <label class="required">Title</label>
            <select class="form-select" formControlName="title">
              <option
                [value]="type.value"
                *ngFor="let type of staticData.title"
              >
                {{ type.label }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="required">First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
            />
          </div>
          <div class="col">
            <label class="required">Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
            />
          </div>
          <div class="col">
            <label class="required">Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
        </div>
        <div class="row" formGroupName="phone">
          <div class="col">
            <label class="required">Phone Type</label>
            <select class="form-select" formControlName="type">
              <option
                [value]="type.value"
                *ngFor="let type of staticData.phone"
              >
                {{ type.label }}
              </option>
            </select>
          </div>
          <div class="col">
            <label class="required">Country Code</label>
            <input
              type="text"
              class="form-control"
              formControlName="countryCode"
            />
          </div>
          <div class="col">
            <label class="required">Number</label>
            <input type="text" class="form-control" formControlName="number" />
          </div>
        </div>
      </div>
      <div class="d-flex border-top pt-3 gap-2">
        <button class="btn btn-dark" type="submit" [disabled]="Form.invalid">
          Save Changes
        </button>

        <button class="btn btn-light" type="button" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
