<div class="wrapper">
	<div class="left">
		<div class="sidebar-toggle pointer">
			<i class="bi bi-grid-3x3-gap" style="font-size: 1.6rem"></i>
		</div>
		<div class="logo">
			<img src="/assets/images/logo.png" alt="" />
		</div>
		<div class="search" #searchDivRef>
			<div class="search-results" *ngIf="searchFocus">
				<ul>
					<li *ngFor="let result of userSearchLst">
						<button	class="d-flex justify-content-between" (click)="handleSearchResultsClick(result)">
							<span> {{ result.user }} ({{ result.dob }}) </span>
							<span *ngIf="!result.active" class="inactive">
								Inactive
							</span>
						</button>
					</li>
				</ul>
				<div class="d-flex gap-3 ps-4 align-items-center">
					<div class="btn-group me-3">
						<button type="button" class="btn btn-dark"
						[routerLink]="'/dashboard/home/add-patient'"
						(click)="searchFocus = false"
						>
							Add Patient
						</button>
						<div
							class="btn-group"
							ngbDropdown
							role="group"
							aria-label="Button group with nested dropdown"
						>
							<button
								type="button"
								class="btn btn-dark dropdown-toggle-split"
								ngbDropdownToggle
							>
							</button>
						</div>
					</div>
					<div>
						<span>
							<input type="checkbox" />&nbsp;Inactive Patient
						</span>
					</div>
				</div>
			</div>
			<div class="input-group">
				<span
					class="input-group-text border-0 bg-transparent"
					id="basic-addon1"
				>
					<i class="bi bi-search"></i>
				</span>
				<input
					type="text"
					class="form-control border-0"
					placeholder="Search"
					aria-describedby="basic-addon1"
					(focus)="searchFocus = true"
					[(ngModel)]="searchWord"
					(click)="fetchSearch($event)" (keyup)="fetchSearch($event)"
				/>
			</div>
			<div ngbDropdown class="d-inline-block search-dropdown">
				<button id="dropdownBasic1" ngbDropdownToggle class="icon-btn">
					<i class="bi bi-chevron-down"></i>
				</button>
				<div
					ngbDropdownMenu
					aria-labelledby="dropdownBasic1"
					style="width: 250px"
				>
					<button
						ngbDropdownItem
						class="d-flex justify-content-between"
					>
						<span>Advance Search</span>
						<i class="bi bi-sliders2-vertical"></i>
					</button>
					<div class="divider"></div>
					<div class="ms-3 me-3">
						<span>Recent Search</span>
						<hr />
					</div>
					<button ngbDropdownItem class="d-flex gap-3">
						<i class="bi bi-clock-history"></i>
						<span>Human Anatomy</span>
					</button>
					<button ngbDropdownItem class="d-flex gap-3">
						<i class="bi bi-clock-history"></i>
						<span>Laboratory</span>
					</button>
					<button ngbDropdownItem class="d-flex gap-3">
						<i class="bi bi-clock-history"></i>
						<span>Drug Abuse</span>
					</button>

					<div class="divider"></div>
					<div class="ms-3 me-3">
						<span>Recent Search</span>
						<hr />
					</div>
					<button ngbDropdownItem class="d-flex gap-3">
						<i class="bi bi-clock-history"></i>
						<span>John Doe</span>
					</button>
					<button ngbDropdownItem class="d-flex gap-3">
						<i class="bi bi-clock-history"></i>
						<span>Morgan Jacobs</span>
					</button>
					<button ngbDropdownItem class="d-flex gap-3">
						<i class="bi bi-clock-history"></i>
						<span>McAnthony Greg</span>
					</button>
				</div>
			</div>
		</div>
		<div
			class="selected-patient d-flex justify-content-between align-items-center gap-5 ms-3"
			*ngIf="showSelectedPatient"
		>
			<div
				class="d-flex justify-content-center align-items-center gap-3"
				*ngIf="selectedPatient"
			>
				<div ngbDropdown class="d-inline-block dropdown">
					<div (click)="onSelectPatient('showSelectedPatientUserCard', selectedPatient)">
						<img src="{{ selectedPatient.profileUrl }}" alt="" ngbDropdownToggle />
						<span
							>{{ selectedPatient.user }} ({{ selectedPatient.id }})</span
						>
					</div>					
					<div ngbDropdownMenu style="width: 28rem;" *ngIf="showSelectedPatientUserCard">
						<div class="container">
							<div class="section">
								<div class="row">
									<div class="col-12" [align]="'center'">
										<img src="{{ selectedPatient.profileUrl }}" alt="" style="width: 86px; height: 80px;" />
										<p><b>{{ selectedPatient.user }}</b> ({{ selectedPatient.id }})</p>
										<p> "{{ selectedPatient.user }}" (Pronunciation) <img src="assets/icons/speaker_circle.svg" alt="" /> </p>
										<p>{{ selectedPatient.sex }}  | Preferred Pronoun</p>
										<p>{{ selectedPatient.dob | date }}</p>
										<p>(844) 569-8628</p>
									</div>
								</div>
								<div class="row" (click)="selectUserMenuItem(selectedPatient, 'showSelectedPatientUserCard')">
									<div class="col" *ngFor="let item of menuItems">
										<div [align]="'center'" class="gap-5 mb-3" style="background-color: white; border-radius: 5px;">
											<img
												src="{{item.icon}}"
												alt=""
												routerLinkActive="active"
												[routerLink]="item.url"
												*ngIf="item.shortTitle"
											/>
										</div>
										<div [align]="'center'" class="gap-5 mb-3">
											<span class="title" style="color: black;" *ngIf="item.shortTitle">{{ item.shortTitle }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
			<div class="d-flex justify-content-center align-items-center" *ngIf="selectUserLst?.length != 0">
				<div *ngFor="let selectUser of selectUserLst | slice:1:4">
					<div ngbDropdown class="d-inline-block dropdown">
						<img src="{{ selectUser.profileUrl }}" alt="" ngbDropdownToggle (click)="onSelectPatient('showUserCard', selectUser)" />
						<div class="pinOverlay" *ngIf="selectUser.isPin"> <img src="assets/icons/pin_fill.svg" alt="" width="10" height="10" /></div>
						<div ngbDropdownMenu style="width: 28rem;" *ngIf="showUserCard">
							<div class="container">
								<div class="section">
									<div class="row">
										<div class="col-12" [align]="'end'">
											<i class="bi bi-pin-angle" (click)="pinUser(selectUser)" *ngIf="!selectUser.isPin" style="font-size: large;"></i>
											<i class="bi bi-pin-angle-fill" (click)="unPinUser(selectUser)" *ngIf="selectUser.isPin" style="font-size: large; color: #e5833e;"></i>
										</div>
										<div class="col-12" [align]="'center'">
											<img src="{{ selectUser.profileUrl }}" alt="" style="width: 86px; height: 80px;" />
											<p><b>{{ selectUser.user }}</b> ({{ selectUser.id }})</p>
											<p> "{{ selectUser.user }}" (Pronunciation) <img src="assets/icons/speaker_circle.svg" alt="" /> </p>
											<p>{{ selectUser.sex }}  | Preferred Pronoun</p>
											<p>{{ selectUser.dob | date }}</p>
											<p>(844) 569-8628</p>
										</div>
									</div>
									<div class="row" (click)="selectUserMenuItem(selectUser, 'showUserCard')">
										<div class="col" *ngFor="let item of menuItems">
											<div [align]="'center'" class="gap-5 mb-3" style="background-color: white; border-radius: 5px;">
												<img
													src="{{item.icon}}"
													alt=""
													routerLinkActive="active"
													[routerLink]="item.url"
													*ngIf="item.shortTitle"
												/>
											</div>
											<div [align]="'center'" class="gap-5 mb-3">
												<span class="title" style="color: black;" *ngIf="item.shortTitle">{{ item.shortTitle }}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right">
		<div>
			<i class="bi bi-clock-history"></i>
		</div>
		<img src="assets/icons/full_screen.svg" width="20" height="20" />
		<img src="assets/icons/lock.svg" width="20" height="20" />
		<div>
			<span class="fw-bold">{{username?.profile?.firstName}} {{username?.profile?.lastName}}</span>
		</div>
		<div>
			<i class="bi bi-bell-fill"></i>
		</div>
		<div ngbDropdown class="d-inline-block dropdown">
			<button
				class="btn btn-link transparent-btn"
				id="dropdownBasic1"
				ngbDropdownToggle
			>
				<i class="bi bi-list" style="font-size: 1.6rem"></i>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem>Switch Roles</button>
				<hr />
				<button ngbDropdownItem>Org Selection</button>
				<hr />
				<button ngbDropdownItem>Employee Portal</button>
				<hr />
				<button ngbDropdownItem>Handover</button>
				<hr />
				<button ngbDropdownItem (click)="logOut()">Log Out</button>
				<hr />
				<button ngbDropdownItem class="text-uppercase">
					Intelliveer Version 1.0
				</button>
			</div>
		</div>
	</div>
</div>
