<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
    <div class="row sticky" style="width: 101%;">
        <div class="col-11">
            <div class="col pills menuheight">
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center mb-3 gap-2">
            <button [disabled]="Form?.invalid" (click)="saveRole()"><img src="/assets/icons/save.svg"
                style="width: 37px; height: 37px; cursor: pointer;" alt="" /></button>
            
            <img src="/assets/icons/cancel.svg" [routerLink]="'/dashboard/settings/role-management/manage-role'"
                style="width: 37px; height: 37px; cursor: pointer;" alt="" />
        </div>
    </div>
    <!-- content -->
    <div class="section" id="main">
        <h6 class="heading">Create Role</h6>
        <div class="row formrow">
            <div class="col-3">
                <label class="label-input-gap">Create using role template?</label>
                <div class="two-radios">
                    <div class="yes-no-radio">
                        <input class="form-check-input" type="radio" id="roletemplate1" name="roletemplate" value="yes"
                            checked>
                        <label class="form-check-label" for="roletemplate1">Yes</label>
                    </div>
                    <div class="yes-no-radio">
                        <input class="form-check-input" type="radio" id="roletemplate2" name="roletemplate" value="no">
                        <label class="form-check-label" for="roletemplate2">No</label>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label class="label-input-gap">Role Template</label>
                <ng-select placeholder="Role template name">
                    <ng-option>Select</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row formrow">
            <div class="col-6">
                <label class="label-input-gap">Name of role</label>
                <input type="text" class="form-control" [(ngModel)]="role.name" formControlName="roleName">
            </div>
            <div class="col-6">
                <label class="label-input-gap">Description</label>
                <input type="text" class="form-control" [(ngModel)]="role.description"
                formControlName="roleDescrip">
            </div>
        </div>


        <!-- Accordion -->
        <div class="row formrow">
            <div class="col-12" style="margin-top: 6px;">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <!-- Org. Onboarding -->
                    <ngb-panel cardClass="onboarding">
                        <ng-template ngbPanelTitle>
                            <div>
                                <p><strong>Org. Onboarding</strong> <br>
                                    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                        nibh</span>
                                </p>
                            </div>

                        </ng-template>
                        <ng-template ngbPanelContent>
                            <ngb-accordion #accOnboarding="ngbAccordion" activeIds="ngb-panel-0">
                                <!-- Business Group -->
                                <ngb-panel cardClass="businessg">
                                    <ng-template ngbPanelTitle>
                                        <p><strong>Business Group</strong> <br>
                                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                nonummy
                                                nibh</span>
                                        </p>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <table class="table">
                                            <thead>
                                                <tr style="background-color: #f1f2f2; height: 30px;">
                                                    <th></th>
                                                    <th>Permission</th>
                                                    <th>Lock</th>
                                                    <th>Allow Override</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="permissions">
                                                <tr *ngFor="let permission of permissions; let i = index">
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                    <td>{{permission?.description}}</td>
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-template>
                                </ngb-panel>

                                <!-- Legal Entity -->
                                <ngb-panel cardClass="legalenti">
                                    <ng-template ngbPanelTitle>
                                        <p><strong>Legal Entity</strong></p>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <table class="table">
                                            <thead>
                                                <tr style="background-color: #f1f2f2; height: 30px;">
                                                    <th></th>
                                                    <th>Permission</th>
                                                    <th>Lock</th>
                                                    <th>Allow Override</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="permissions">
                                                <tr *ngFor="let permission of permissions; let i = index">
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                    <td>{{permission?.description}}</td>
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-template>
                                </ngb-panel>

                                <!-- Location -->
                                <ngb-panel cardClass="location">
                                    <ng-template ngbPanelTitle>
                                        <p><strong>Location</strong></p>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <table class="table">
                                            <thead>
                                                <tr style="background-color: #f1f2f2; height: 30px;">
                                                    <th></th>
                                                    <th>Permission</th>
                                                    <th>Lock</th>
                                                    <th>Allow Override</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="permissions">
                                                <tr *ngFor="let permission of permissions; let i = index">
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                    <td>{{permission?.description}}</td>
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-template>
                                </ngb-panel>

                                <!-- Practice -->
                                <ngb-panel cardClass="practice">
                                    <ng-template ngbPanelTitle>
                                        <p><strong>Practice</strong></p>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <table class="table">
                                            <thead>
                                                <tr style="background-color: #f1f2f2; height: 30px;">
                                                    <th></th>
                                                    <th>Permission</th>
                                                    <th>Lock</th>
                                                    <th>Allow Override</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="permissions">
                                                <tr *ngFor="let permission of permissions; let i = index">
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                    <td>{{permission?.description}}</td>
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                    <td><input type="checkbox" value="{{i}}" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </ng-template>
                    </ngb-panel>

                    <!-- Module 1 -->
                    <ngb-panel cardClass="module1">
                        <ng-template ngbPanelTitle>
                            <p><strong>Module 1</strong> <br>
                                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                    nibh</span>
                            </p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                        </ng-template>
                    </ngb-panel>

                    <!-- Module 2 -->
                    <ngb-panel cardClass="module2">
                        <ng-template ngbPanelTitle>
                            <p><strong>Module 2</strong></p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                        </ng-template>
                    </ngb-panel>

                    <!-- Module 3 -->
                    <ngb-panel cardClass="module3">
                        <ng-template ngbPanelTitle>
                            <p><strong>Module 3</strong></p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                        </ng-template>
                    </ngb-panel>

                    <!-- Module 4 -->
                    <ngb-panel cardClass="module4">
                        <ng-template ngbPanelTitle>
                            <p><strong>Module 4</strong></p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</form>