<div class="container content" style="padding-top: 0px; ">
	<!-- Icons Menu -->
	<div class="row mini-icon-navbar d-flex justify-content-center align-content-center mb-3" style="margin-top: 0px; border-bottom: 1px solid #d8d9da; height: 90px !important;">
		<ul class="d-flex justify-content-center align-content-center" style="gap: 4.5rem;">
			<li *ngFor="let item of menuItems" class="{{item?.class}}">
				<img
					src="{{item.icon}}"
					alt=""
					routerLinkActive="active"
					[routerLink]="item.url"
					ngbTooltip="{{ item.title }}"
				/>
				<!-- <span *ngIf="router.url.includes(item.url)" class="title" >{{ item.title }}</span> -->
			</li>
		</ul>
	</div>
	<div class="row">
		<!-- Principal Content -->
		<div class="col component-view">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
