<div class="container content">
    <div class="row">
        <div class="col-2">
            <ul class="ul">
                <li class="pointer">Consultation Phase</li>
                <ol class="ol">
                    <li class="pointer" routerLinkActive="active" [routerLink]="'/dashboard/patient/patient-detail'">Patient</li>
                    <li class="pointer">Responsible Party</li>
                    <ul class="ol">
                        <li class="pointer" routerLinkActive="active" [routerLink]="'/dashboard/patient/legal-guardian'">Legal Guardian</li>
                        <li class="pointer" routerLinkActive="active" [routerLink]="'/dashboard/patient/payment-party'">Payment Party</li>
                        <li class="pointer" routerLinkActive="active" [routerLink]="'/dashboard/patient/insurance-subscriber'" data-toggle="tooltip" title="Insurance Subscriber">{{ 'Insurance Subscriber' | shortened : 10 }}</li>    
                    </ul>
                    <li class="pointer" routerLinkActive="active" [routerLink]="'/dashboard/patient/provider'">Provider</li>
                    <li class="pointer" routerLinkActive="active" [routerLink]="'/dashboard/patient/referer'">Referer</li>
                    <li class="pointer" routerLinkActive="active" [routerLink]="'/dashboard/patient/family_members'">Family Members</li>
                    <li class="pointer" routerLinkActive="active" [routerLink]="'/dashboard/patient/family_members'">Achieve Patient</li>
                    <li class="pointer" routerLinkActive="active" [routerLink]="'/dashboard/patient/family_members'">Delete Patient</li>
                </ol>
            </ul>
        </div>
        <div class="col-10 component-view">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>