<div class="row sticky">
	<div class="col-10">
		<div class="col pills">
			<a [ngClass]="[ selectTab == 'overview' ? 'active' : 'inactive']" (click)="scroll(overview, 'overview')">Overview</a>
			<a [ngClass]="[ selectTab == 'profile' ? 'active' : 'inactive']" (click)="scroll(profile, 'profile')">Profile</a>
			<a [ngClass]="[ selectTab == 'address' ? 'active' : 'inactive']" (click)="scroll(address, 'address')">Address</a>
			<a [ngClass]="[ selectTab == 'contact' ? 'active' : 'inactive']" (click)="scroll(contact, 'contact')">Contact</a>
			<a [ngClass]="[ selectTab == 'notes' ? 'active' : 'inactive']" (click)="scroll(notes, 'notes')">Notes</a>
		</div>
	</div>
	<div class="col-2 d-flex justify-content-center align-items-center mb-3">
		<div class="col">
			<button class="btn btn-light" [disabled]="Form?.invalid" >
				<img src="assets/icons/save.svg" width="36" height="36" />
			</button>
			<img src="assets/icons/cancel.svg" width="36" height="36" (click)="cancel()" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12" id="main">
		<div class="section" #overview>
			<div class="row">
				<div class="col-sm">
					<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
					</app-image-uploader>
				</div>
				<div class="col-sm">
					<p>Olivia Doe <span>(P1001)</span></p>
					<p>Female</p>
					<p>May 10,1992</p>
					<p>29y, 10m</p>
				</div>
				<div class="col-sm">
					<p>Prefered mail method: abc@gmail.com</p>
					<p>Primary Phone number: 1234567890</p>
					<p>Email: abc@email.com</p>
					<p>No. of referred patient: 4</p>
				</div>
			</div>
		</div>

		<div class="section" #profile>
			<form autocomplete="off">
				<h6 class="heading">Profile</h6>
				<div class="row mb-3">
					<div class="col">
						<label
							class="required"
							>Company Name</label
						>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="companyName"
						/>
					</div>
					<div class="col">
						<label class="required">Title</label>
						<select class="form-select" formControlName="title">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
					<div class="col">
						<label class="required">First Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="firstName"
							formControlName="firstName"
						/>
					</div>

					<div class="col">
						<label class="required">Middle Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="middleName"
						/>
					</div>
					<div class="col">
						<label class="required">Last Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="lastName"
							formControlName="lastName"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<label class="required">Greeting</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="greeting"
						/>
					</div>
				</div>
				
			</form>
		</div>

		<div class="section" #address>
			<h6 class="heading">Address</h6>
			<app-address-form
				[parentGroup]="Form"
				[formGroupName]="'address'"
			></app-address-form>
		</div>

		<div class="section" #contact>
			<h6 class="heading">Contact</h6>
			<div class="row mb-3">
				<div class="col">
					<label class="required">Email</label>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="id"
						formControlName="emailId"
					/>
				</div>

				<div class="col">
					<label class="required">Primary Phone Type</label>
					<select class="form-select" formControlName="pPhoneType">
						<option disabled>Select Website</option>
						<option>Choose Website</option>
					</select>
				</div>

				<div class="col">
					<label class="required">Primary Phone Number</label>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="name"
						formControlName="pPhoneNumber"
					/>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col">
					<label
						class="required">
						Secondary Phone Type</label>
					<select class="form-select" formControlName="sPhoneType">
						<option disabled>Select Website</option>
						<option>Choose Website</option>
					</select>
				</div>

				<div class="col">
					<label
						class="required"
						>Secondary Phone Number</label>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="name"
						formControlName="sPhoneNumber"
					/>
				</div>

				<div class="col">
					<label
						class="required">Preferred Mail Method</label>
					<select class="form-select" formControlName="preferredMailMethod">
						<option disabled>Select Website</option>
						<option>Choose Website</option>
					</select>
				</div>

				<div class="col">
					<label class="required">Website</label>
					<div class="input-group mb-3">
						<span class="form-control" id="basic-addon3"
							>https://</span
						>
						<input
							type="text"
							class="form-control"
							id="basic-url"
							aria-describedby="basic-addon3"
							name="website"
							placeholder="www.example.com"
							formControlName="website"
						/>
					</div>
				</div>
			</div>
		</div>

		<div class="section" #notes>
			<h6 class="heading">Notes</h6>
			<div class="row">
				<div class="col-6">
					<textarea
						class="form-control"
						name="note"
						id=""
						cols="70"
						rows="5"
						formControlName="note"
					></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
