<div class="row formrow" *ngIf="Form">
	<app-nav-bar-pills [menuItems]="menuItems" [activeClass]="currentSelection" [cancelBtn]="true" [saveBtn]="true"
		[disableSaveBtn]="Form.invalid || Form.pristine" (onCancel)="cancel()" (onSave)="save(Form.value)">
	</app-nav-bar-pills>
	<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
		<div class="col-12" id="main" scrollSpy (sectionChange)="onSectionChange($event)">
			<div class="section" id="overview">
				<div class="row formrow">
					<div class="col-2">
						<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
						</app-image-uploader>
					</div>
					<div class="col-4">
						<p>Olivia Doe <span>(P1001)</span></p>
						<p>Female</p>
						<p>May 10,1992</p>
						<p>29y, 10m</p>
					</div>
					<div class="col-4">
						<p>Prefered mail method: abc@gmail.com</p>
						<p>Primary Phone number: 1234567890</p>
						<p>Email: abc@email.com</p>
						<p>No. of referred patient: 4</p>
					</div>
					<div class="col-2"></div>
				</div>
			</div>

			<div class="section" id="profile">

				<h6 class="heading">Profile</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Company Name</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="companyName" />
					</div>
					<div class="col">
						<label class="label-input-gap">Title</label>
						<ng-select class="input-upper" formControlName="title" placeholder="Select">
							<ng-option [value]="title.value" *ngFor="let title of famiMembTitle.title">
								{{ title.label }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">First Name</label>
						<input class="form-control input-upper" type="text" placeholder="" name="firstName"
							formControlName="firstName" />
					</div>

					<div class="col">
						<label class="label-input-gap">Middle Name</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="middleName" />
					</div>
					<div class="col">
						<label class="label-input-gap">Last Name</label>
						<input class="form-control input-upper" type="text" placeholder="" name="lastName"
							formControlName="lastName" />
					</div>
				</div>
				<div class="row formrow">
					<div class="col-3">
						<label class="label-input-gap">Greeting</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="greeting" />
					</div>
				</div>


			</div>

			<div class="section" id="address">
				<h6 class="heading">Address</h6>
				<app-address-form [parentGroup]="Form" [formGroupName]="'address'" [referrer]="'referrer'">
				</app-address-form>
			</div>

			<div class="section" id="contact">
				<h6 class="heading">Contact</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Email</label>
						<input class="form-control input-upper" type="text" placeholder="" name="id"
							formControlName="emailId" />
					</div>

					<div class="col">
						<label class="label-input-gap">Primary Phone Type</label>
						<ng-select class="input-upper input-upper" placeholder="Select"
							formControlName="primaryPhoneType">
							<ng-option [value]="phone.value" *ngFor="let phone of famiMembTitle.phone">
								{{ phone.label }}
							</ng-option>
						</ng-select>
					</div>

					<div class="col">
						<label class="label-input-gap">Primary Phone Number</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="pPhoneNumber" />
					</div>
				</div>

				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">
							Secondary Phone Type</label>
						<ng-select class="input-upper" formControlName="secondaryPhoneType" placeholder="Select">
							<ng-option>
								Select
							</ng-option>
						</ng-select>
					</div>

					<div class="col">
						<label class="label-input-gap">Secondary Phone Number</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="sPhoneNumber" />
					</div>

					<div class="col">
						<label class="label-input-gap">Preferred Mail Method</label>
						<ng-select class="input-upper" formControlName="preferredMailMethod" placeholder="Select">
							<ng-option>
								Select
							</ng-option>
						</ng-select>
					</div>

					<div class="col">
						<label class="label-input-gap">Website</label>
						<div class="website">
							<span class="" style="height: 36px;">https://</span>
							<input type="text" class="form-control input-upper" name="website"
								placeholder="www.example.com" formControlName="website" />
						</div>
					</div>
				</div>
			</div>

			<div class="section" id="notes">
				<h6 class="heading">Notes</h6>
				<div class="row formrow">
					<div class="col-6">
						<textarea class="form-control input-upper" name="note" id="" cols="70" rows="5"
							formControlName="note"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>