<div class="container">
    <div class="row" style="margin-bottom: -25px;">
        <div class="col"><h6 class="heading">{{title | titlecase}}</h6></div>
        <div class="col-1"><span style="text-decoration: underline; color: #ed8064">Clear all</span></div>
    </div>
    <hr />
    <div class="row" style="height: 40rem;">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Do not Include</th>
                            <th>Fully Improved</th>
                            <th>Partially Improved</th>
                            <th>Unable to Improved</th>
                            <th>Not a scope of this Tx</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <h6>Chief Concerns</h6>
                        <tr>
                            <td><span><i class="bi bi-x-circle"></i></span>&nbsp;&nbsp;Bottom teeth are crowded</td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Partially Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Unable to Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                        </tr> 
                        <tr>
                            <td><span><i class="bi bi-x-circle"></i></span>&nbsp;&nbsp;Top teeth are sticking out and spaced</td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="sticking" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_2 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="sticking" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_2 = 'Partially Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="sticking" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_2 = 'Unable to Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                        </tr>
                        <h6>Expectations</h6>
                        <tr>
                            <td><span><i class="bi bi-x-circle"></i></span>&nbsp;&nbsp;Bring chin forward</td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="chin" (change)="treatmentOption.treatmentOptionsArray.Expectations = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="chin" (change)="treatmentOption.treatmentOptionsArray.Expectations = 'Partially Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="chin" (change)="treatmentOption.treatmentOptionsArray.Expectations = 'Unable to Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                        </tr>
                        <h6>Problems</h6>
                        <tr>
                            <td><span><i class="bi bi-x-circle"></i></span>&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetuer adipiscing</td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="adipiscing" (change)="treatmentOption.treatmentOptionsArray.Diagnosis = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="adipiscing" (change)="treatmentOption.treatmentOptionsArray.Diagnosis = 'Partially Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="adipiscing" (change)="treatmentOption.treatmentOptionsArray.Diagnosis = 'Unable to Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                        </tr>
                        <tr style="border: transparent;">
                            <td colspan="5">
                                <h6>Problems which are not present but are anticipated</h6>
                            </td>
                            <td><div [align]="'end'" (click)="addAnotherOption()"><span style="text-decoration: underline; color: #ed8064">+Add</span></div></td>
                        </tr>
                        <tr *ngFor="let item of anticipatedProblemList; let i = index;">
                            <td>
                                <input type="text" class="form-control" *ngIf="item.input" (blur)="item.input = !item.input" [(ngModel)]="item.value" />
                                <span *ngIf="!item.input"><i class="bi bi-x-circle" (click)="deleteAnticipatedProblem(i)"></i>&nbsp;&nbsp;{{item.value | titlecase}}</span>
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Triangles" (change)="treatmentOption.treatmentOptionsArray.anticipated_1 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Triangles" (change)="treatmentOption.treatmentOptionsArray.anticipated_1 = 'Partially Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Triangles" (change)="treatmentOption.treatmentOptionsArray.anticipated_1 = 'Unable to Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                        </tr> 
                        <tr>
                            <td><span><i class="bi bi-x-circle"></i></span>&nbsp;&nbsp;Proclination</td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Proclination" (change)="treatmentOption.treatmentOptionsArray.anticipated_2 = 'Fully Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Proclination" (change)="treatmentOption.treatmentOptionsArray.anticipated_2 = 'Partially Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Proclination" (change)="treatmentOption.treatmentOptionsArray.anticipated_2 = 'Unable to Improved'">
                            </td>
                            <td style="text-align: center;">
                                <input class="form-check-input" type="radio" name="Chief" (change)="treatmentOption.treatmentOptionsArray.Chief_Concerns_1 = 'Fully Improved'">
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>

            
        </div>
    </div>
    <div class="row gap-3" [align]="'end'">
        <div class="col p2">
            <button class="btn btn-dark" (click)="moveToNext()">Next</button>
        </div>
    </div>
</div>