<form autocomplete="off">
    <div class="mainformsection">
        <div class="two-items">
            <h6 class="heading" style="margin-top: 8px; margin-left: 4px; font-weight: bolder;">Conclusion</h6>
            <div class="two-items" style="width: 120px">
                <a class="heading a-link">Save Script</a>
                <a class="heading a-link">Cancel</a>
            </div>
        </div>

        <div class="formrow">
            <div class="row" style="margin-top: 2px;">
                <div class="col-12">
                    <div class="form-floating">
                        <textarea
                            class="form-control"
                            placeholder="Leave a comment here"
                            id="floatingTextarea2"
                            style="height: 98px; padding: 5px 10px 8px 6px; font-size: 12px; line-height : 20px; border: 2px solid #7a7a7c; font-style: oblique; resize: none;"
                        >
So I have reserved an hour on Appt. Date at Appt. Time for Pt. Name’s consultation visit. During this visit, Dr.Shah will do an extensive orthodontic
exam and will explain you his findings and treatment options. Also, our treatment coordinator will discuss fees and payment options with you. If you
decide to get started, our record technician can take x rays on the same day. Please allow an hour to hour and half for this visit. Also, we require all minors
to be accompanied by a legal guardian. Do you have any questions for me?</textarea
                        >
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 13px; margin-left: 4px;">
                <div class="" style="padding: 0px; width: 7.5%; margin-top: -7px;">
                    <span  style="padding: 0px; margin: 0px; font-style: oblique;">Response:</span>
                </div>
                <div style="padding: 0px; width: 36%;">
                    <textarea
                        name=""
                        id=""
                        cols="30"
                        rows="5"
                        class="textarea2"
                    ></textarea>
                </div>
            </div>
            <div class="row">
                <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea2"
                    class="textarea3"
                >
Dr. Shah is a wonderful orthodontist and I am sure you are really going to like him. If you have any questions please do not hesitate to call us. Everyone
here is great and you can even ask for me, my name is xxxxx. Thank you. Have a wonderful day!</textarea
                >
            </div>
            <div class="row two-final-buttons">
                <div class="two-items">
                    <button class="btn btn-light btn-light-custom" >Exit</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" (click)="continueToConclusion()" >Save and continue</button>
                </div>
            </div>
        </div>
    </div>
</form>