<form autocomplete="off">
    <div class="mainformsection">
        <div class="two-items">
            <h6 class="heading" style="font-weight: bolder;">Referrer</h6>
            <a class="heading a-link">Add Script</a>
        </div>
        <div class="row" style="margin-top: 8px;">
            <div class="col-12">
                <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic radio toggle button group"
                >
                <div class="form-check form-check-inline">
                    <input
                    class="form-check-input"
                        type="radio"
                        name="btnradio1"
                        id="btnradio1"
                        autocomplete="off"
                        checked
                    />
                    <label class="form-check-label" for="btnradio1"
                        >Same as dentist</label
                    >
                </div>
                <div class="form-check form-check-inline">
                    <input
                    class="form-check-input"
                        type="radio"
                        name="btnradio1"
                        id="btnradio2"
                        autocomplete="off"
                    />
                    <label class="form-check-label" for="btnradio2"
                        >Add a new one</label
                    >
                </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-6">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Who may we thank for referring you to our
                        office?</label
                    >
                    <div class="input-button">
                        <input
                            class="form-control"
                            type="text"
                            placeholder="Type Name"
                            name=""
                        />
                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 6px;">
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Company Name</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1">First Name</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1">Last Name</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Phone Number</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
        </div>
        <div class="row two-final-buttons">
            <div class="two-items">
                <button class="btn btn-light btn-light-custom" >Exit</button>
                <button type="button" class="btn btn-dark btn-dark-custom"  (click)="continueToInsurance()" >Save and continue</button>
            </div>
        </div>
    </div>
</form>