<div class="row" *ngIf="Form">
	<!-- <app-nav-bar-pills [menuItems]="menuItems" [activeClass]="currentSelection" [cancelBtn]="true" [saveBtn]="true"
		[disableSaveBtn]="Form.invalid" (onCancel)="cancel()" (onSave)="save(Form.value)"></app-nav-bar-pills> -->
	<div class="row sticky" style="width: 101%;">
		<div [ngClass]="{'col-11':!isSaveButton, 'col-12':!inEdit }">
			<div class="col">
				<app-nav-bar-pills [menuItems]="menuItems" [activeClass]="currentSelection"
					[cancelBtn]="isSaveButton || !inEdit" [saveBtn]="isSaveButton || !inEdit" [disableSaveBtn]="false"
					(onCancel)="cancel()" (onSave)="save(Form.value)">
				</app-nav-bar-pills>
			</div>
			<!-- [disableSaveBtn]="BGForm.invalid || BGForm.pristine" -->
		</div>
		<div *ngIf="!isSaveButton && inEdit" class="col-1 d-flex justify-content-center align-items-start"
			style="background-color: transparent;">
			<img src="/assets/icons/Edit.svg" style="width: 37px; height: 37px; cursor: pointer;" alt=""
				(click)="checkPermission()" />
		</div>
	</div>
	<form [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
		<div class="col-12" id="main" scrollSpy (sectionChange)="onSectionChange($event)">
			<div class="section" id="eligibility">
				<div class="mainformsection">
					<h6 class="heading">Eligibility</h6>
					<div class="formrow">
						<div class="row">
							<div class="col-3">
								<p class="label-input-gap">
									Is patient eligible under plan?
								</p>
								<div class="two-radios">
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="patielegp" id="patielegp1"
											[disabled]="FormDisable" checked />
										<label class="" for="patielegp1">Yes</label>
									</div>
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="patielegp" id="patielegp2"
											[disabled]="FormDisable" />
										<label class="" for="patielegp2">No</label>
									</div>
								</div>
							</div>
							<div class="col-3">
								<label class="label-input-gap">Calendar Year / Fiscal Year</label>
								<ng-select placeholder="Select" [items]="years" bindLabel="name" bindValue="name"
									name="calendarFiscal" [(ngModel)]="selectedYear" formControlName="calendarFiscal">
								</ng-select>
							</div>
							<div class="col-3" *ngIf="selectedYear == years[1].name">
								<label class="label-input-gap">Begin Date</label>
								<input class="form-control" type="text" placeholder="" name=""
									formControlName="beginDate" />
							</div>
							<div class="col-3" *ngIf="selectedYear == years[1].name">
								<label class="label-input-gap">End Date</label>
								<input class="form-control" type="text" placeholder="" name=""
									formControlName="endDateEligi" />
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="row">
							<div class="col-3">
								<label class="label-input-gap">Month to Month Eligibility?</label>
								<select class="form-select" formControlName="monthtoMonEligi">
									<option disabled>Select Website</option>
									<option>Select</option>
								</select>
							</div>
							<div class="col-3">
								<label class="label-input-gap">Age limit for subscriber</label>
								<input class="form-control" type="text" placeholder="" name=""
									formControlName="ageLimitSubsc" />
							</div>
							<div class="col-3">
								<label class="label-input-gap">Age limit for dependant (Child)</label>
								<input class="form-control" type="text" placeholder="" name=""
									formControlName="ageLimitDepenChild" />
							</div>
							<div class="col-3">
								<label class="label-input-gap">Age limit for dependant
									(Student)</label>
								<input class="form-control" type="text" placeholder="" name=""
									formControlName="ageLimitDepenStud" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section" id="cobaddig">
				<div class="mainformsection">
					<h6 class="heading">COB/Assignment</h6>
					<div class="formrow">
						<div class="row">
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Type of Coordination of benefits</label>
									<select class="form-select" formControlName="coordBenef">
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Assignment of Benefits</label>
									<select class="form-select" formControlName="assignBenef">
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Are the fees based on contract or
										UCR?</label>
									<select class="form-select" formControlName="feesUCR">
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">If contract, which fee schedule?</label>
									<select class="form-select" formControlName="feeSched">
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section" id="deductible">
				<div class="mainformsection">
					<h6 class="heading">Deductible</h6>
					<div class="formrow">
						<div class="row">
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Deductible (Family)</label>
									<input class="form-control" type="text" placeholder="" name=""
										formControlName="deducFam" />
								</div>
							</div>
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Deductible remaining (Family)</label>
									<input class="form-control" type="text" placeholder="" name=""
										formControlName="deducRemaiFam" />
								</div>
							</div>
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Deductible (Individual)</label>
									<input class="form-control" type="text" placeholder="" name=""
										formControlName="deducIndiv" />
								</div>
							</div>
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Deductible remaining
										(Individual)</label>
									<input class="form-control" type="text" placeholder="" name=""
										formControlName="deducRemaiIndiv" />
								</div>
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="row">
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Percentage Covered for Ortho:</label>
									<input class="form-control" type="text" placeholder="" name=""
										formControlName="percenCoveOrtho" />
								</div>
							</div>
							<div class="col-3">
								<p class="label-input-gap">Waiting Periods?</p>
								<div class="two-radios">
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="waitingpe" id="waitingpe1"
											[disabled]="FormDisable" checked />
										<label class="" for="waitingpe1">Yes</label>
									</div>
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="waitingpe" id="waitingpe2"
											[disabled]="FormDisable" />
										<label class="" for="waitingpe2">No</label>
									</div>
								</div>
							</div>
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">When does it end?</label>
									<select class="form-select" formControlName="whenEnd">
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">End Date</label>
									<input class="form-control" type="text" placeholder="" name=""
										formControlName="endDateDeduct" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section" id="benefits">
				<div class="mainformsection">
					<h6 class="heading">Benefits</h6>
					<div class="formrow">
						<div class="row">
							<div class="col-4">
								<label class="label-input-gap">Orthodontic Maximum Type:
									Lifetime/Annual</label>
								<ng-select placeholder="Select" formControlName="maxTypeAnnual">
									<ng-option>Select Website</ng-option>
								</ng-select>
							</div>
							<div class="col-4">
								<div class="">
									<label class="label-input-gap">Orthodontic Maximum Amount (In
										Network)</label>
									<input class="form-control" type="text" placeholder="" name=""
										formControlName="maxAmounInNet" />
								</div>
							</div>
							<div class="col-4">
								<div class="">
									<label class="label-input-gap">Orthodontic Maximum Amount (Out
										Network)</label>
									<input class="form-control" type="text" placeholder="" name=""
										formControlName="maxAmounOutNet" />
								</div>
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="row">
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Any benefits used?</label>
									<select class="form-select" formControlName="benefUsed">
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
							<div class="col-3">
								<div class="">
									<label class="label-input-gap">Remaining benefits</label>
									<input class="form-control" type="text" placeholder="" name=""
										formControlName="remaninBenef" />
								</div>
							</div>
							<div class="col-3">
								<p class="label-input-gap">
									Is work in progress covered?
								</p>
								<div class="two-radios">
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="workprog" id="workprog1"
											[disabled]="FormDisable" checked />
										<label class="" for="workprog1">Yes</label>
									</div>
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="workprog" id="workprog2"
											[disabled]="FormDisable" />
										<label class="" for="workprog2">No</label>
									</div>
								</div>
							</div>
							<div class="col-3">
								<p class="label-input-gap">
									Any exclusion for Ortho?
								</p>
								<div class="two-radios">
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="exclusorth" id="exclusorth1"
											[disabled]="FormDisable" checked />
										<label class="" for="exclusorth1">Yes</label>
									</div>
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="exclusorth" id="exclusorth2"
											[disabled]="FormDisable" />
										<label class="" for="exclusorth2">No</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section" id="preauth">
				<div class="mainformsection">
					<h6 class="heading">Pre-authorization</h6>
					<div class="formrow">
						<div class="row">
							<div class="col-4">
								<p class="label-input-gap">
									Is preauthorization mandatory?
								</p>
								<div class="two-radios">
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="preauthmand"
											id="preauthmand1" [disabled]="FormDisable" checked />
										<label class="" for="preauthmand1">Yes</label>
									</div>
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="preauthmand"
											id="preauthmand2" [disabled]="FormDisable" />
										<label class="" for="preauthmand2">No</label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<p class="label-input-gap">
									Does preauthorization need to be submitted
									on Insurance provided form?
								</p>
								<div class="two-radios">
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="preauthsubm"
											id="preauthsubm1" [disabled]="FormDisable" checked />
										<label class="" for="preauthsubm1">Yes</label>
									</div>
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="preauthsubm"
											id="preauthsubm2" [disabled]="FormDisable" />
										<label class="" for="preauthsubm2">No</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="row">
							<div class="col">
								<div class="">
									<p class="label-input-gap">
										What do we need to be submit along with
										preauthorization?
									</p>
									<div class="more-two-radios">
										<div class="rowinputs">
											<input class="form-check-input" type="checkbox" id="preauth1"
												value="option1" />
											<label class="form-check-label" for="preauth1">Study Models</label>
										</div>
										<div class="rowinputs">
											<input class="form-check-input" type="checkbox" id="preauth2"
												value="option2" />
											<label class="form-check-label" for="preauth2">Photos</label>
										</div>
										<div class="rowinputs">
											<input class="form-check-input" type="checkbox" id="preauth3"
												value="option3" />
											<label class="form-check-label" for="preauth3">Panoramic X-ray</label>
										</div>
										<div class="rowinputs">
											<input class="form-check-input" type="checkbox" id="preauth4"
												value="option4" />
											<label class="form-check-label" for="preauth4">Cephalometric
												X-ray</label>
										</div>
										<div class="rowinputs">
											<input class="form-check-input" type="checkbox" id="preauth5"
												value="option5" />
											<label class="form-check-label" for="preauth5">Exam Summary</label>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section" id="billingpaym">
				<div class="mainformsection">
					<h6 class="heading">BIlling & Payments</h6>
					<div class="formrow">
						<div class="row">
							<div class="col-4">
								<p class="label-input-gap">
									Are benefits paid automatically after
									initial claim?
								</p>
								<div class="two-radios">
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="benefauto" id="benefauto1"
											[disabled]="FormDisable" checked />
										<label class="" for="benefauto1">Yes</label>
									</div>
									<div class="yes-no-radio">
										<input class="form-check-input" type="radio" name="benefauto" id="benefauto2"
											[disabled]="FormDisable" />
										<label class="" for="benefauto2">No</label>
									</div>
								</div>
							</div>
							<div class="col-8">
								<div class="">
									<p class="label-input-gap">
										Initial payment amount/percentage:
									</p>
									<div class="btn-group" role="group" ngbRadioGroup name="radioBasic3">
										<label ngbButtonLabel class="btn-dark-brown label-radio-square">
											<input ngbButton type="radio" class="btn-check" [disabled]="FormDisable"
												[value]="1" />
											Percentage (%)
										</label>
										<label ngbButtonLabel class="btn-dark-brown-right label-radio-square">
											<input ngbButton type="radio" class="btn-check" [disabled]="FormDisable"
												value="middle" true />
											Amount ($)
										</label>
									</div>
									<input class="btnoutlinesecondary3" value="50%" type="text" placeholder="" name=""
										style="width: 100px" [disabled]="FormDisable" />
								</div>
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="row">
							<div class="col">
								<div class=" noradiopad">
									<p class="label-input-gap">
										Payment Schedule
									</p>
									<div class="more-two-radios" style="width: 530px;">
										<div class="rowinputs">
											<input class="form-check-input" name="paymentsche" type="radio"
												[disabled]="FormDisable" id="paymentsche1" value="option1" />
											<label class="form-check-label" for="paymentsche1">Monthly</label>
										</div>
										<div class="rowinputs">
											<input class="form-check-input" name="paymentsche" type="radio"
												[disabled]="FormDisable" id="paymentsche2" value="option2" />
											<label class="form-check-label" for="paymentsche2">Quarterly</label>
										</div>
										<div class="rowinputs">
											<input class="form-check-input" name="paymentsche" type="radio"
												[disabled]="FormDisable" id="paymentsche3" value="option3" />
											<label class="form-check-label" for="paymentsche3">Semi-annual</label>
										</div>
										<div class="rowinputs">
											<input class="form-check-input" name="paymentsche" type="radio"
												[disabled]="FormDisable" id="paymentsche4" value="option4" checked />
											<label class="form-check-label" for="paymentsche4">Annual</label>
										</div>
										<div class="rowinputs">
											<input class="form-check-input" name="paymentsche" type="radio"
												[disabled]="FormDisable" id="paymentsche5" value="option5" />
											<label class="form-check-label" for="paymentsche5">Lump Sum</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="">
							<p class="label-input-gap">Do we need to submit:</p>
							<div class="more-two-radios" style="width: 300px;">
								<div class="rowinputs">
									<input class="form-check-input" type="radio" name="wesubmit" id="wesubmit1"
										[disabled]="FormDisable" checked />
									<label class="form-check-label" for="wesubmit1">Periodic Claims</label>
								</div>

								<div class="rowinputs">
									<input class="form-check-input" type="radio" name="wesubmit" id="wesubmit2"
										[disabled]="FormDisable" />
									<label class="form-check-label" for="wesubmit2">Recertification Forms?</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>