<form autocomplete="off">
    <div class="mainformsection">
        <div class="two-items">
            <h6 class="heading" style="font-weight: bolder;">Dentist</h6>
            <a class="heading a-link">Add Script</a>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-6">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Who is Pt. Name’s General Dentist?</label
                    >
                    <div class="input-button">
                        <input
                            class="form-control"
                            type="text"
                            placeholder="Type Name"
                            name=""
                        />
                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Dentist’s Office Name</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Dentist’s First Name</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1">Last Name</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Office Phone Number</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
        </div>
        <div class="row two-final-buttons">
            <div class="two-items">
                <button  class="btn btn-light btn-light-custom"  >Exit</button>
                <button type="button" class="btn btn-dark btn-dark-custom"  (click)="continueToReferrer()" >Save and continue</button>
            </div>
        </div>
    </div>
</form>