@import 'buttons';
@import 'inputs';
@import 'table';

ul {
    font-size: 13px;
    font-weight: bold;

    li {
        line-height: 3.2;
    }
}

.redcircle {
    padding: 2px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    background-color: #ec6e4d;
}
.form-switch.form-switch-lg .form-check-input {
    height: 1.8rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
  }