<div class="container content">

	<!-- Nav -->
	<div class="d-flex justify-content-end align-items-end global-bg-dropdown formrow">
		<div class="col" *ngIf="onPage" style="margin-top: 18px;">
			<span >Settings</span>
		</div>
		<div class="col" *ngIf="!onPage">
			<span>Settings/ {{ currentRoute }} / {{ selectedBusinessGroup }}</span>
		</div>
		<div class="col-3" *ngIf="!onPage">
			<select class="form-select" [(ngModel)]="selectedBusinessGroup" (change)="setBusinessGroup($event)"
				[disabled]="disableBGDropdown">
				<option value="intelliveer">**INTELLIVEER**</option>
				<option *ngFor="let bg of businessGroups" [value]="bg._id" [disabled]="disableBGDropdown">
					{{ bg.name }}
				</option>
			</select>
		</div>
	</div>
	<hr  style="margin-bottom: 25px;"/>
	
	<!-- squares -->
	<div class="row" *ngIf="onPage">
		<div class="col component-view">
			<div class="squares">
				<div class="square" *ngFor="let menuItem of menuItems; let i = index" [routerLink]="menuItem.url">
					<p>{{ menuItem.name }}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- content -->
	<div class="row" *ngIf="!onPage">
		<div class="col component-view">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>