.principal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.letterandtext{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 216px;
}

.letter{
    position: relative;
    width: 78px;
    height: 90px;
    background-color: #f1f2f2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 56.33px;
    }

    #orange{
        width: max-content; padding: 0px 8px;
        background-color: #ec6e4d;
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: white;
        font-size: 7.5px;
        text-align: center;
        border-bottom-right-radius: 5px;
    }
}

.text{
    display: flex;
    justify-content: flex-start;
    height: 73px;
    width: 120px;
}

.horizont{
    display: flex;
    justify-content:flex-start;
    width: 100%;
    margin: 0px;
    padding: 0px;
    gap: 2px;
}

.columsp{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.colums{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    span{
        font-family: "Montserrat";
        font-size: 10px;
    }
}

.special{
    font-family: "Montserrat"; 
    font-size: 11px;
    color: #ec6e4d;
    font-weight: 600;
}

.colm{
    width: 20%;
}

.dots{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self:flex-start;
    margin-top: 8px;
    margin-left: 0px; 
    margin-right: 19px;
    cursor: pointer;
}

.modal-header{
    border-bottom: none;
    width: 433px;
}

.modal-content{
    margin: 0px;
    padding: 0px;
    width: 433px;
    border-radius: 8px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 433px;
    height: 227px;
    margin: 0px;
    padding: 0px;
    gap: 42px;
    p{
        margin: 0px !important;
        padding: 0px !important;
        width: 277px;
        text-align: center;
        font-family: "Montserrat";
        font-size: 11px;
        font-weight: bold;
        
    }
    #buttonmodal{
        width: 88.818px;
        height: 35.763px;
        border-radius: 5px;
    }
}

.menuheight{
    height: 43px;
}

.pluscentered{
    display: flex;
    justify-content: center;
    align-content: center;
}