<div class="row sticky">
    <div class="col d-flex justify-content-end align-content-center">
        <button class="btn_icon" disabled>
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>
    <div class="col-12">
        <div class="col pills">
            <a class="active" (click)="scroll(overview)">Overview</a>
            <a (click)="scroll(profile)">Profile</a>
            <a (click)="scroll(address)">Address</a>
            <a (click)="scroll(contact)">Contact</a>
            <a (click)="scroll(financials)">Financials</a>
            <a (click)="scroll(patientPortal)">Patient Portal</a>
            <a (click)="scroll(notes)">Notes</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" id="main">

        <div class="section" #overview>
            <div class="row">
                <div class="col-2">
                    <app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
                    </app-image-uploader>
                </div>
                <div class="col-2">
                    <p>Olivia Doe <span>(P1001)</span> </p>
                    <p>Female</p>
                    <p>May 10, 1992</p>
                    <p>29y, 10m</p>
                </div>
                <div class="col-2">
                    <div class="row">
                        <div class="col">
                            <p>Phase:</p>
                            <p>Status:</p>
                            <p>Dentist:</p>
                            <p>Referrer:</p>
                        </div>
                        <div class="col">
                            <p>2</p>
                            <p>Active</p>
                            <p>Kim Doe</p>
                            <p>John Doe</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col">
                            <p>Language:</p>
                            <p>Provider:</p>
                            <p>Practice:</p>
                            <p>Location:</p>
                        </div>
                        <div class="col">
                            <p>English</p>
                            <p>Provider Name</p>
                            <p>Practice Name</p>
                            <p>330 2nd Street Huntington Beach, CA 92646</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col">
                            <p>Chart Number:</p>
                            <p>Creation Date:</p>
                            <p>Treatement Start Date:</p>
                            <p>Treatement End Date:</p>
                        </div>
                        <div class="col">
                            <p>US-10001</p>
                            <p>Feb 15, 2022</p>
                            <p>Feb 20, 2022</p>
                            <p>March 20, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" #profile>
            <form autocomplete="off">
                <h6 class="heading">Profile</h6>
                <div class="row">
                    <div class="col">
                        <label class="required">{{'Relationship with Patient' | shortened : 10}}</label>
                        <select class="form-control">  
                            <option disabled>Select Website</option>  
                            <option>Choose Website</option>  
                        </select>
                    </div>
                    <div class="col">
                        <label class="required">Title</label>
                        <select class="form-control">  
                            <option disabled>Select Website</option>  
                            <option>Choose Website</option>  
                        </select>
                    </div>
                    <div class="col">
                        <label class="required">First Name</label>
                        <input class="form-control" type="text" placeholder="" name="firstName" />
                    </div>

                    <div class="col">
                        <label class="required">Middle Name</label>
                        <input class="form-control" type="text" placeholder="" name="name" />
                    </div>
                    <div class="col">
                        <label class="required">Last Name</label>
                        <input class="form-control" type="text" placeholder="" name="lastName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="required">Date of Birth</label>
                        <input class="form-control" type="date" placeholder="" name="DOB" />
                    </div>
                    <div class="col">
                        <label class="required">Gender</label>
                        <select class="form-control">  
                            <option value="M">Male</option>  
                            <option value="F">Female</option>  
                        </select>
                    </div>
                    <div class="col">
                        <label class="required">{{ 'Preferred Pronoun' | shortened: 10 }}</label>
                        <select class="form-control">  
                            <option value="M">Male</option>  
                            <option value="F">Female</option>  
                        </select>
                    </div>
                    <div class="col">
                        <label class="required">Language</label>
                        <select class="form-control">  
                            <option value="M">Male</option>  
                            <option value="F">Female</option>  
                        </select>
                    </div>
                    <div class="col">
                        <label class="required">{{ 'Marital Status' | shortened : 10 }}</label>
                        <select class="form-control">  
                            <option value="M">Maried</option>  
                            <option value="S">Single</option>  
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label class="required">{{ 'Previously used last name(s)' | shortened : 10 }}</label>
                        <input class="form-control" type="text" placeholder="" name="lastUsedName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-dark">
                            Save and Next
                        </button>
                        <button type="button" class="btn btn-light">Cancel</button>
                    </div>
                    
                </div>
            </form>
        </div>

        <div class="section" #address>
            <h6 class="heading">Address</h6>
            <app-address-form [parentGroup]="Form" [formGroupName]="'address'"></app-address-form>
        </div>

        <div class="section" #contact>
            <h6 class="heading">Contact</h6>
            <div class="row">
                    
                <div class="col">
                    <label class="required">Email</label>
                    <input class="form-control" type="text" placeholder="" name="id">
                </div>
    
                <div class="col">
                    <label class="required">Primary Phone Type</label>
                    <select class="form-control">
                        <option disabled>Select Website</option>
                        <option>Choose Website</option>
                    </select>
                </div>
    
                <div class="col">
                    <label class="required">Primary Phone Number</label>
                    <input class="form-control" type="text" placeholder="" name="name" />
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <label class="required">Secondary Phone Type</label>
                    <select class="form-control">
                        <option disabled>Select Website</option>
                        <option>Choose Website</option>
                    </select>
                </div>
    
                <div class="col">
                    <label class="required">Secondary Phone Number</label>
                    <input class="form-control" type="text" placeholder="" name="name" />
                </div>
    
                <div class="col">
                    <label class="required">{{ 'Preferred Communication Method - Primary' | shortened : 10 }}</label>
                    <select class="form-control">  
                        <option disabled>Select Website</option>  
                        <option>Choose Website</option>  
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <label class="required">{{ 'Preferred Communication Method - Secondary' | shortened : 30 }}</label>
                    <select class="form-control">  
                        <option disabled>Select Website</option>  
                        <option>Choose Website</option>  
                    </select>
                </div>
                <div class="col">
                    <label class="required">Preferred Timings for Call</label>
                    <input class="form-control" type="number" placeholder="" name="phone" />
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark">
                        Save Changes
                    </button>
                    <button type="button" class="btn btn-light">Cancel</button>
                </div>
                
            </div>
        </div>

        <div class="section" #financials>
            <h6 class="heading">Financials</h6>
            <div class="row">
                <div class="col">
                    <label class="required">Work Status</label>
                    <select class="form-control">
                        <option disabled>Select Website</option>
                        <option>Choose Website</option>
                    </select>
                </div>
                <div class="col">
                    <label class="required">Occupation</label>
                    <input class="form-control" type="text" placeholder="" name="name" />
                </div>
                <div class="col">
                    <label class="required">Employer</label>
                    <input class="form-control" type="text" placeholder="" name="name" />
                </div>
                <div class="col">
                    <label class="required">SSN</label>
                    <input class="form-control" type="text" placeholder="" name="name" />
                </div>
                <div class="col">
                    <label class="required">Credit Rating</label>
                    <select class="form-control">
                        <option disabled>Select Website</option>
                        <option>Choose Website</option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark">
                        Save and Next
                    </button>
                    <button type="button" class="btn btn-light">Cancel</button>
                </div>
                
            </div>
        </div>

        <div class="section" #patientPortal>
            <h6 class="heading">Patient Portal</h6>
        </div>

        <div class="section" #notes>
            <h6 class="heading">Notes</h6>
            <div class="row">
                <div class="col-6">
                    <textarea class="form-control" name="note" id="" cols="70" rows="5"></textarea>
                </div>

            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-dark">
                        Save Changes
                    </button>
                    <button type="button" class="btn btn-light">Cancel</button>
                </div>
                
            </div>
        </div>

    </div>
</div>