<div class="row">
	<div class="col-2">
		<div class="settings-row pointer" [routerLink]="urlSettings">
			<i
				class="bi bi-arrow-left-circle"
				style="font-size: 2rem; cursor: pointer"
			></i>
			<p>Settings</p>
		</div>
		<ul class="ul" style="margin-top: 27px">
			<p>Role Management</p>

			<div *ngFor="let item of menuItems" style="margin-left: 20px">
				<li
					class="pointer"
					*ngIf="item.isEnabled"
					routerLinkActive="active"
					[routerLink]="item.url"
				>
					{{ item.title }}
				</li>
			</div>
		</ul>
	</div>
	<div class="col-10 component-view">
		<div *ngIf="roleList.length == 0" class="section" style="height: 90%">
			<div style="text-align: center; padding-top: 7%">
				<h5><b>You haven’t added yet</b></h5>
				<p *ngIf="user?.isBGAdmin || user?.__ISSU__">
					Click here,
					<img
						src="assets/icons/add.svg"
						width="36"
						height="36"
						(click)="addRole()"
					/>
					to add Role
				</p>
				<p *ngIf="!user?.isBGAdmin && (roleRRTAdd || roleURRTAdd)">
					Click here,
					<img
						src="assets/icons/add.svg"
						width="36"
						height="36"
						(click)="addRole()"
					/>
					to add Role
				</p>
			</div>
		</div>
		<div *ngIf="roleList.length != 0">
			<div class="container">
				<div class="d-flex justify-content-between call-to-actions">
					<div class="col-4">
						<div class="input-group search_box">
							<span
								class="input-group-text border-0 bg-transparent"
								id="basic-addon1"
							>
								<i class="bi bi-search"></i>
							</span>
							<input
								type="text"
								class="form-control border-0"
								placeholder="Search"
								aria-describedby="basic-addon1"
							/>
						</div>
					</div>
					<div class="d-flex gap-2">
						<button
							*ngIf="user?.isBGAdmin || user?.__ISSU__"
							class="add_btn"
							routerLink="/dashboard/settings/role-management/manage-role/add"
						>
							<img src="/assets/icons/add.svg" alt="" />
						</button>
						<button
							*ngIf="
								!user?.isBGAdmin && (roleRRTAdd || roleURRTAdd)
							"
							class="add_btn"
							routerLink="/dashboard/settings/role-management/manage-role/add"
						>
							<img src="/assets/icons/add.svg" alt="" />
						</button>
					</div>
				</div>
			</div>

			<div class="container mt-4" id="main">
				<div class="row">
					<table
						class="table"
						*ngIf="user?.isBGAdmin || user?.__ISSU__"
					>
						<thead>
							<tr>
								<th scope="col">Role</th>
								<th scope="col">Description</th>
								<th scope="col">Template</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody *ngIf="roleList">
							<tr *ngFor="let role of roleList; let i = index">
								<td>
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>{{ role?.name }}</span
									>
								</td>
								<td>
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>{{ role?.description }}</span
									>
								</td>
								<td *ngIf="role?.roleTemplate.length == 1">
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>{{ role?.roleTemplate[0].name }}</span
									>
								</td>
								<td
									*ngIf="
										(role?.roleTemplateName == undefined &&
											role?.roleTemplate == undefined) ||
										role?.roleTemplate?.length == 0
									"
								>
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>Without Role Template</span
									>
								</td>
								<td *ngIf="role?.roleTemplate?.name">
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>{{ role?.roleTemplate.name }}</span
									>
								</td>
								<td>
									<div
										ngbDropdown
										container="body"
										placement="bottom-end"
									>
										<button
											class="btn btn-light btn-sm more_btn"
											ngbDropdownToggle
										>
											<i
												class="bi bi-three-dots-vertical"
											></i>
										</button>
										<div ngbDropdownMenu>
											<button ngbDropdownItem>
												Export as a pdf
											</button>
											<div class="dropdown-divider"></div>
											<button
												ngbDropdownItem
												(click)="
													delteRoleUser(role?._id)
												"
											>
												Delete
											</button>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<table
						class="table"
						*ngIf="!user?.isBGAdmin && !user?.__ISSU__"
					>
						<thead>
							<tr>
								<th scope="col">Roles</th>
								<th scope="col">Description</th>
								<th scope="col">Template</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody *ngIf="roleList">
							<tr *ngFor="let role of roleList; let i = index">
								<td>
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>{{ role?.name }}</span
									>
								</td>
								<td>
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>{{ role?.description }}</span
									>
								</td>
								<td *ngIf="role?.roleTemplateName">
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>{{ role?.roleTemplateName }}</span
									>
								</td>
								<td
									*ngIf="
										(role?.roleTemplateName == undefined &&
											role?.roleTemplate == undefined) ||
										role?.roleTemplate?.length == 0
									"
								>
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>Without Role Template</span
									>
								</td>
								<td *ngIf="role?.roleTemplate?.name">
									<span
										class="pointer"
										(click)="editRole(role?._id)"
										>{{ role?.roleTemplate.name }}</span
									>
								</td>

								<td>
									<div
										ngbDropdown
										container="body"
										placement="bottom-end"
									>
										<button
											class="btn btn-light btn-sm more_btn"
											ngbDropdownToggle
										>
											<i
												class="bi bi-three-dots-vertical"
											></i>
										</button>
										<div ngbDropdownMenu>
											<button ngbDropdownItem>
												Export as a pdf
											</button>
											<div class="dropdown-divider"></div>
											<button
												*ngIf="
													roleRRTDelete ||
													roleURRTDelete
												"
												ngbDropdownItem
												(click)="
													delteRoleUser(role?._id)
												"
											>
												Delete
											</button>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
