<div>
	<div id="navbar-pills">
		<div class="left" style="margin-left: 0px;">
			<a
				*ngFor="let menu of menuItems"
				[ngClass]="{ active: activeClass === menu.id }"
				(click)="scroll(menu)"
				>{{ menu.title }}</a
			>
		</div>
		<div class="right">
			<button
				class="save"
				*ngIf="saveBtn"
				[disabled]="disableSaveBtn"
				(click)="handleSaveBtnClicked()"
			>
				<img src="/assets/icons/save.svg" alt="" />
			</button>
			<button
				class="cancel"
				*ngIf="addBtn"
				(click)="handleAddCancelClicked()"
			>
				<img src="/assets/icons/add.svg" alt="" />
			</button>
			<button
				class="cancel"
				*ngIf="cancelBtn"
				(click)="handleSaveCancelClicked()"
			>
				<img src="/assets/icons/cancel.svg" alt="" />
			</button>
			<button
				class="save"
				*ngIf="disableSaveBtn && editButton?.isButton"
			>
				<img src="/assets/icons/Add-Patient-Wizard-Green.svg" alt="" />
			</button>
			<button
				class="cancel"
				*ngIf="!disableSaveBtn && editButton?.isButton"
				(click)="editButtonURL(editButton?.url)"
			>
				<img src="/assets/icons/Add-Patient-Wizard-Red.svg" alt="" />
			</button>
		</div>
	</div>
</div>
