<div class="row formrow" *ngIf="Form">
	<!-- <app-nav-bar-pills [menuItems]="menuItems" [activeClass]="currentSelection" [cancelBtn]="true" [saveBtn]="true"
		[disableSaveBtn]="Form.invalid || Form.pristine" (onCancel)="cancel()" (onSave)="save(Form.value)">
	</app-nav-bar-pills> -->
	<div class="row sticky" style="width: 101%;">
		<div [ngClass]="{'col-11':!isSaveButton, 'col-12':!inEdit }">
			<div class="col">
				<app-nav-bar-pills [menuItems]="menuItems" [activeClass]="currentSelection"
					[cancelBtn]="isSaveButton || !inEdit" [saveBtn]="isSaveButton || !inEdit"
					[disableSaveBtn]="Form.invalid || Form.pristine" (onCancel)="cancel()"
					(onSave)="save(Form.value)"></app-nav-bar-pills>
			</div>
			<!-- [disableSaveBtn]="BGForm.invalid || BGForm.pristine" -->
		</div>
		<div *ngIf="!isSaveButton && inEdit" class="col-1 d-flex justify-content-center align-items-start"
			style="background-color: transparent;">
			<img src="/assets/icons/Edit.svg" style="width: 37px; height: 37px; cursor: pointer;" alt=""
				(click)="checkPermission()" />
		</div>
	</div>
	<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
		<div class="col-12" id="main" scrollSpy (sectionChange)="onSectionChange($event)">
			<div class="section" id="overview">
				<div class="row formrow">
					<div class="col-2">
						<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
						</app-image-uploader>
					</div>
					<div class="col-3">
						<p>Olivia Doe <span>(P1001)</span></p>
						<p>Female</p>
						<p>May 10,1992</p>
						<p>29y, 10m</p>
					</div>
					<div class="col-3">
						<p>Preferred Pronoun: Lorem ipsum</p>
						<p>Status: Active</p>
						<p>Relationship: Mother</p>
						<p>Subscriber ID: 12454</p>
					</div>
					<div class="col-4">
						<p>Language: English</p>
						<p>Preferred Communication Method: Phone</p>
						<p>Phone (Primary): 1234567890</p>
						<p>Email (Primary): name@email.com</p>
					</div>
				</div>
			</div>

			<div class="section container" id="profile">
				<h6 class="heading">Profile</h6>
				<div class="row formrow">
					<div class="col-3">
						<label class="label-input-gap">Relationship with Patient</label>
						<ng-select class="input-upper" formControlName="relationship">
							<ng-option [value]="relationship" *ngFor="let relationship of relationshipArray">
								{{relationship}}
							</ng-option>
						</ng-select>
					</div>
					<div class="col-3">
						<label class="label-input-gap">Title</label>
						<ng-select class="input-upper" formControlName="title" placeholder="Select">
							<ng-option [value]="title.value" *ngFor="let title of famiMembTitle?.title">
								{{ title.label }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col-2">
						<label class="label-input-gap">First Name</label>
						<input class="form-control mandatory-field input-upper" type="text" placeholder=""
							name="firstName" formControlName="firstName" />
					</div>

					<div class="col-2">
						<label class="label-input-gap">Middle Name</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="middleName" />
					</div>
					<div class="col-2">
						<label class="label-input-gap">Last Name</label>
						<input class="form-control  mandatory-field input-upper" type="text" placeholder=""
							name="lastName" formControlName="lastName" />
					</div>
				</div>
				<div class="row formrow">
					<div class="col-3">
						<label class="label-input-gap">Date of Birth</label>
						<input class="form-control red-bottom-line input-upper" type="date" placeholder="" name="DOB"
							formControlName="DOB" 
							(input)="fieldValidation('DOB',true, true)"
							[ngClass]="{'valid-required-field':validDOB && FormDisable == false, 
							'red-bottom-line':validDOB==false  }" />
					</div>
					<div class="col-3">
						<label class="label-input-gap">Gender</label>
						<ng-select class="input-upper" formControlName="gender" placeholder="Select">
							<ng-option [value]="gender.value" *ngFor="let gender of genders">
								{{ gender.label }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col-2">
						<label class="label-input-gap">Preferred Pronoun</label>
						<ng-select class="input-upper" formControlName="pronoun" placeholder="Select">
							<ng-option [value]="pronoun.pronoun" *ngFor="let pronoun of pronouns">
								{{ pronoun.pronoun }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col-2">
						<label class="label-input-gap">Language</label>
						<ng-select class="input-upper" formControlName="language" placeholder="Select">
							<ng-option [value]="language.value" *ngFor="let language of languages">
								{{ language.label }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col-2">
						<label class="label-input-gap">Marital Status</label>
						<ng-select class="input-upper" formControlName="maritalStatus" placeholder="Select">
							<ng-option [value]="maritalStatus.value" *ngFor="let maritalStatus of maritalStatuses">
								{{ maritalStatus.label }}
							</ng-option>
						</ng-select>
					</div>
				</div>
				<div class="row formrow">
					<div class="col-3">
						<label class="heading" for="inputGroupFile01" style="cursor: pointer"><i
								class="bi bi-cloud-arrow-up" style="font-size: 15px; cursor: pointer"></i>&nbsp; Upload
							ID</label>
						<input class="form-control input-upper" type="file" placeholder="" id="inputGroupFile01"
							[hidden]="true" (change)="onFileSelected($event)" />
						<p *ngIf="fileName">
							<a href="{{ filePath }}" target="_blank">{{
								fileName
								}}</a>
							<img src="assets/icons/cancel.svg" width="20" height="20" (click)="cancleImage()" />
						</p>
					</div>
				</div>
			</div>

			<div class="section" id="address">
				<h6 class="heading">Address</h6>
				<app-address-form [parentGroup]="Form" [formGroupName]="'address'"></app-address-form>
			</div>

			<div class="section" id="contact">
				<h6 class="heading">Contact</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Email</label>
						<input class="form-control red-bottom-line input-upper" type="text" placeholder="" name="id"
							formControlName="emailId" 
							(input)="fieldValidation('emailId',true)"
							[ngClass]="{'valid-required-field':validEmail && FormDisable == false, 
							'red-bottom-line':validEmail==false  }" />
					</div>

					<div class="col">
						<label class="label-input-gap">Primary Phone Type</label>
						<ng-select class="input-upper mandatory-field input-upper" placeholder="Select"
							formControlName="primaryPhoneType">
							<ng-option [value]="phone.value" *ngFor="let phone of famiMembTitle.phone">
								{{ phone.label }}
							</ng-option>
						</ng-select>
					</div>

					<div class="col">
						<label class="label-input-gap">Primary Phone Number</label>
						<input class="form-control mandatory-field input-upper" type="text" placeholder="" name="name"
							formControlName="primaryPhoneNumber" />
					</div>
				</div>

				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Secondary Phone Type</label>
						<ng-select class="input-upper" formControlName="secondaryPhoneType" placeholder="Select">
							<ng-option>
								Select
							</ng-option>
						</ng-select>
					</div>

					<div class="col">
						<label class="label-input-gap">Secondary Phone Number</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="secondaryPhoneNumber" />
					</div>

					<div class="col">
						<label class="label-input-gap">Preferred Communication Method - Primary</label>
						<ng-select class="input-upper red-bottom-line input-upper"
							formControlName="primaryPreferredCommunicationMethod" placeholder="Select"
							(change)="fieldValidation('primaryPreferredCommunicationMethod',true)"
							[ngClass]="{'valid-required-field':validPrimaryPreferredCommunicationMethod && FormDisable == false, 
							'red-bottom-line':validPrimaryPreferredCommunicationMethod==false  }" 
							(clear)="clearprimaryPreferredCommunicationMethod()">
							<ng-option value="s">
								Select
							</ng-option>
						</ng-select>
					</div>
				</div>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Preferred Communication Method - Secondary</label>
						<ng-select class="input-upper input-upper"
							formControlName="secondaryPreferredCommunicationMethod" placeholder="Select">
							<ng-option value="s">
								Select
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">Preferred Timings for Call</label>
						<input class="form-control input-upper" type="number" placeholder=""
							name="preferredTimingForCall" formControlName="preferredTimingForCall" />
					</div>
					<div class="col"></div>
				</div>
			</div>

			<div class="section" id="financials">
				<h6 class="heading">Financials</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Work Status</label>
						<ng-select class="input-upper" formControlName="workStatus" placeholder="Select">
							<ng-option>
								Select
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">Occupation</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="occupation" />
					</div>
					<div class="col">
						<label class="label-input-gap">Employer</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="employer" />
					</div>
					<div class="col">
						<label class="label-input-gap">SSN</label>
						<input class="form-control input-upper" type="text" placeholder="" name="name"
							formControlName="SSN" />
					</div>
					<div class="col">
						<label class="label-input-gap">Credit Rating</label>
						<ng-select class="input-upper" formControlName="creditRating" [placeholder]="'Select'">
							<ng-option>
								Select
							</ng-option>
						</ng-select>
					</div>
				</div>
			</div>

			<div class="section" id="notes">
				<h6 class="heading">Notes</h6>
				<div class="row formrow">
					<div class="col-6">
						<textarea class="form-control input-upper" name="note" id="" cols="70" rows="5"
							formControlName="note"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>