<form [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
	<div class="mainformsection">
		<div class="two-items">
			<h6 class="heading" style="font-weight: bolder;">Patient</h6>
			<a class="heading a-link" *ngIf="showButtonSaveCancel==false" (click)="openTextarea()">Add Script</a>
			<div class="two-little-button" *ngIf="showButtonSaveCancel==true">
				<a class="heading a-link" (click)="closeSaveCancelFunc()">Save Script</a>
				<a class="heading a-link" (click)="closeSaveCancelFunc()">Cancel</a>
			</div>
		</div>

		<div class="row" style="margin-top: -4px; margin-bottom: 18px">
			<textarea *ngIf="openTextAreaVar == true" class="form-control" placeholder="Leave a comment here"
				id="floatingTextarea2" style="
					height: 98px;
					padding: 5px 10px 8px 6px;
					font-size: 12px;
					line-height: 20px;
					border: 2px solid #7a7a7c;
					font-style: oblique;
					resize: none;
				"></textarea>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="mainformset">
					<label class="label-input-gap">Practice</label>
					<ng-select placeholder="Select" formControlName="practice" (change)="onSelectPractice($event)">
						<ng-option [value]="item._id" *ngFor="let item of practiceList">{{item.name}}</ng-option>
					</ng-select>
				</div>
			</div>
			<div class="col">
				<div class="mainformset">
					<label class="label-input-gap">Location</label>
					<ng-select placeholder="Select" formControlName="location" (change)="onSelectLocation($event)">
						<ng-option [value]="item._id" *ngFor="let item of locationList">{{item.name}}</ng-option>
					</ng-select>
				</div>
			</div>
			<div class="col">
				<div class="mainformset">
					<label class="label-input-gap">Legal Entity</label>
					<ng-select placeholder="Select" formControlName="legalEntity"
						(change)="onSelectLegalEntity($event)">
						<ng-option [value]="item._id" *ngFor="let item of legalEntityList">{{item.name}}</ng-option>
					</ng-select>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div class="mainformset">
					<label class="label-input-gap">What is First Name of the Patient?</label>
					<input class="form-control mandatory-field" type="text" placeholder="" name="" formControlName="firstName"
						[(ngModel)]="patient.firstName" [class.valid-mandatory-field]="firstNameValid()"/>
				</div>
			</div>
			<div class="col">
				<div class="mainformset">
					<label class="label-input-gap">Last Name</label>
					<input class="form-control mandatory-field" type="text" placeholder="" name="" formControlName="lastName"
						[(ngModel)]="patient.lastName" [class.valid-mandatory-field]="lastNameValid()"/>
				</div>
			</div>
			<div class="col">
				<div class="mainformset">
					<label class="label-input-gap">Date of Birth</label>
					<input class="form-control" [ngClass]="{ 'mandatory-field': tab == 'coordWithProspect' }" type="date"
						placeholder="" name="" formControlName="DOB" [(ngModel)]="patient.dateBirth" 
						[class.valid-mandatory-field]="DOBValid()"/>
				</div>
			</div>
			<div class="col">
				<div class="mainformset">
					<label class="required">Gender</label>
					<ng-select placeholder="Select" formControlName="gender" (change)="onSelectGender($event)">
						<ng-option [value]="'male'">Male</ng-option>
						<ng-option [value]="'female'">Female</ng-option>
					</ng-select>
				</div>
			</div>
		</div>
		<div class="row two-final-buttons">
			<div class="two-items">
				<a class="btn btn-light btn-light-custom" (click)="openModel(content)">Exit</a>
				<button type="button" class="btn btn-dark btn-dark-custom" (click)="save(Form)"
					[disabled]="Form?.invalid">
					Save and continue
				</button>
			</div>
		</div>
	</div>
</form>
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title"></h4>
		<button
			type="button"
			class="btn-close"
			aria-label="Close"
			(click)="modal.dismiss('Cross click')"
		></button>
	</div>
	<div class="modal-body text-center">
		<p *ngIf="Form?.valid" style=" font-size: 20px; padding: 0px 20px;">
			Would you like to discard or save it?
	    </p>
		<p *ngIf="Form?.invalid" style=" font-size: 20px; padding: 0px 20px;">
			Mandatory fields are required to save.
	    </p>
	</div>
	<div class="modal-footer text-center">
		<button
			type="button"
			class="btn btn-dark "
			[disabled]="Form?.invalid"
			(click)="savePatientForm()">
			Save
		</button>
		<button
			type="button"
			class="btn btn-dark"
			(click)="discardPatient()">
			Discard
		</button>
	</div>
</ng-template>