<form autocomplete="off"  [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
    <div class="mainformsection">
        <div class="two-items">
            <h6 class="heading"  style="font-weight: bolder;">Patient</h6>
            <a class="heading a-link">Add Script</a>
        </div>

        <div class="formrow">
            <div class="row" style="margin-top: 10px;">
                <div class="twenty">
                    <div class="mainformset">
                        <label class="required">Practice</label>
                        <ng-select placeholder="Select" formControlName="practice">
                            <ng-option>Select</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="twenty">
                    <div class="mainformset">
                        <label class="required pb-1"
                            >What is First Name of the
                            Patient?</label
                        >
                        <input
                            class="form-control value-must"
                            type="text"
                            placeholder=""
                            name=""
                            formControlName="fName"
                        />
                    </div>
                </div>
                <div class="twenty">
                    <div class="mainformset">
                        <label class="required pb-1"
                            >Last Name</label
                        >
                        <input
                            class="form-control value-must"
                            type="text"
                            placeholder=""
                            name=""
                            formControlName="lName"
                        />
                    </div>
                </div>
                <div class="twenty">
                    <div class="mainformset">
                        <label class="required pb-1"
                            >Date of Birth</label
                        >
                        <input
                            class="form-control value-must"
                            type="date"
                            placeholder=""
                            name=""
                            formControlName="DOB"
                        />
                    </div>
                </div>
                <div class="twenty">
                    <div class="mainformset">
                        <label class="required">Gender</label>
                        <ng-select placeholder="Select" formControlName="gender">
                            <ng-option>Select</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="row two-final-buttons">
                <div class="two-items">
                    <button  class="btn btn-light btn-light-custom" >Exit</button>
                    <button type="button" class="btn btn-dark btn-dark-custom" (click)="continueToLegalGuar()"  [disabled]="Form?.invalid">Save and continue</button>
                </div>
            </div>
        </div>
    </div>
</form>
