$gray-circle: #bcbec0;

.vertical-line-top {
    border-left: 1px solid $gray-circle;
    height: 7.5rem;
    position: absolute;
    left: 46.3%;
}

.vertical-line-bottom {
    border-left: 1px solid $gray-circle;
    height: 8rem;
    position: absolute;
    left: 46.3%;
    top: 55rem;
}

.imageOver {
    content: "100";
    position: absolute;
    height: 2rem;
    top: 1rem;
    right: 1.2rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
    border-radius: 50%;
    color: white;
}