@import 'table';
table.mapping-table {
	tr.mapping {
		th {
			width: 32%;
			background: #f2f2f2;
		}
	}
	tbody {
		td {
			padding: 0;
		}
	}
}
ng-select {
	border: 1px solid transparent;
	border-radius: 4px;
	background: #fff;
}
ng-select {
	font-weight: bold !important;
}
.ng-select ::ng-deep .ng-arrow {
    display: none !important;
}
.ng-select ::ng-deep .ng-arrow-wrapper {
    height: 14px;
    width: 14px;
    background-image: url('./../../../../assets/icons/add.svg');
    background-repeat: no-repeat;
    margin-right: 12px;
    margin-left: 10px;
    margin-top: 0px;
}