#main {
	height: calc(100vh - 310px);
	overflow: auto;
	padding-bottom: 5rem;

	form {

		input,
		select {
			margin-bottom: 5px;
		}
	}
}

.permission {
	margin-top: 5px;
	border: 1px solid #eceeee;
	background-color: #f1f2f2;
	margin-left: -10px;

	span {
		font-weight: bold !important;
		margin-left: 10px;
	}

	height: 31px !important;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
}

.show {
	height: 31px !important;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 16px;
	margin-bottom: 9px;
	input, label {
		padding: 0px !important;
		margin: 0px !important;
	}
}

.checkandtext {
	height: 31px !important;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	margin-bottom: 6px !important;

	input, label {
		padding: 0px !important;
		margin: 0px !important;
	}
}

.roles {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	margin-top: -11px;
	margin-bottom: 10px;
}

.xandroles {
	height: 31px !important;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0px;
	margin-top: 10px;

	span {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 25px;
		background-color: #faf2e9;
		border: 1px solid #f9b85f;
		padding: 5px;
	}

	input {
		border-color: #f9b85f;
		background-color: #faf2e9;
		height: 25px;
		border-top-left-radius: 0%;
		border-bottom-left-radius: 0%;
		border-left: 0px solid;
		width: auto;
	}
}

.three-selects{
	margin-left: 20px; margin-bottom: 26px;
}