<div class="row" *ngIf="BGForm">
	<div class="col-10">
		<div class="col pills">
			<a [ngClass]="[ selectTab == 'overview' ? 'active' : 'inactive']" (click)="scroll(overview, 'overview')">Overview</a>
			<a [ngClass]="[ selectTab == 'profile' ? 'active' : 'inactive']" (click)="scroll(profile, 'profile')">Profile</a>
			<a [ngClass]="[ selectTab == 'physicalAddress' ? 'active' : 'inactive']" (click)="scroll(physicalAddress, 'physicalAddress')">Physical Address</a>
			<a [ngClass]="[ selectTab == 'mailingAddress' ? 'active' : 'inactive']" (click)="scroll(mailingAddress, 'mailingAddress')">Mailing Address</a>
			<a [ngClass]="[ selectTab == 'insuranceBillingAddress' ? 'active' : 'inactive']" (click)="scroll(insuranceBillingAddress, 'insuranceBillingAddress')">Insurance</a>
			<a [ngClass]="[ selectTab == 'contactDetails' ? 'active' : 'inactive']" (click)="scroll(contactDetails, 'contactDetails')">Contact</a>
			<a [ngClass]="[ selectTab == 'contactPerson' ? 'active' : 'inactive']" (click)="scroll(contactPerson, 'contactPerson')">Contact Person Info</a>
		</div>
	</div>
	<div class="col-2 d-flex justify-content-center align-items-center mb-3">
		<button class="btn btn-dark" [disabled]="BGForm.invalid" (click)="save(BGForm.value)">
			<img src="assets/icons/save.svg" width="20" height="20" />
		</button>
		&nbsp;&nbsp;
		<button class="btn btn-dark" (click)="cancel()">
			<i class="bi bi-x-lg"></i>
		</button>
	</div>

	<div class="col-12" id="main">
		<div class="section" #overview>
			<div class="row">
				<h6 class="heading">Logo</h6>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm">
					<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
					</app-image-uploader>
				</div>
				<div class="col-lg-3 col-sm">
					<p>Business Group Name</p>
					<p>Business Group ID </p>
					<p>Business Group Status</p>
				</div>
				<div class="col-lg-3 col-sm">
					<p>Effective Date: Feb 15, 2022</p>
					<p>Termination Date: Feb 15, 2022</p>
					<p>Created By: Lorem ipsum</p>
				</div>
				<div class="col-lg-3 col-sm">
					<p>Creation Date: Feb 15, 2022</p>
					<p>Last Updated By: Lorem ipsum</p>
					<p>Last Updated Date: Feb 15, 2022</p>
				</div>
			</div>
		</div>
		<form [formGroup]="BGForm" #f="ngForm" (submit)="save(f.value)">
			<!-- Profile -->
			<div class="section" #profile>
				<div class="row">
					<h6 class="heading">Profile</h6>
				</div>
				<div class="row">
					<div class="col-3">
						<label class="required">Business Group Name</label>
						<input type="text" class="form-control value-must" formControlName="name" />
					</div>
					<div class="col-3">
						<label class="required">TIN</label>
						<input type="text" class="form-control" formControlName="TIN" />
					</div>
					<div class="col-3">
						<label class="required">Country</label>
						<select class="form-select value-must" formControlName="country">
							<option>Choose country</option>
						</select>
					</div>
					<div class="col-3">
						<label class="required">Currency</label>
						<select class="form-select value-must" formControlName="currency">
							<option>Choose currency</option>
						</select>
					</div>
				</div>
			</div>
			<!-- Physical Address -->
			<div class="section" #physicalAddress>
				<div class="row">
					<h6 class="heading">Physical Address</h6>
				</div>
				<app-address-form [parentGroup]="BGForm" [formGroupName]="'physicalAddress'"></app-address-form>
			</div>
			<!-- Mailing Address -->
			<div class="section" #mailingAddress>
				<div class="row">
					<h6 class="heading">Mailing Address</h6>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="mailingCheckbox"
								(change)="checkboxValue($event, 'mailingAddress')">
							<label class="form-check-label" for="mailingCheckbox">
								Same as physical address
							</label>
						</div>
					</div>
					
				</div>
				<app-address-form [parentGroup]="BGForm" [formGroupName]="'mailingAddress'"></app-address-form>
			</div>
			<!-- Insurance Billing Address -->
			<div class="section" #insuranceBillingAddress>
				<div class="row">
					<h6 class="heading">Insurance Billing / Payment Address</h6>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="insuranceBillingCheckbox"
								(change)="checkboxValue($event, 'insuranceBillingAddress')">
							<label class="form-check-label" for="insuranceBillingCheckbox">
								Same as physical address
							</label>
						</div>
					</div>
				</div>
				<app-address-form [parentGroup]="BGForm" [formGroupName]="'insuranceBillingAddress'"></app-address-form>
			</div>
			<!-- Contact -->
			<div class="section" #contactDetails>
				<div class="row">
					<h6 class="heading">Contact Details</h6>
				</div>
				<app-contact-details-form [parentGroup]="BGForm" [formGroupName]="'contactDetails'">
				</app-contact-details-form>
			</div>
			<!-- Contact Person-->
			<div class="section" #contactPerson>
				<div class="row">
					<h6 class="heading">Contact Person</h6>
				</div>
				<app-contact-person-form [parentGroup]="BGForm" [formGroupName]="'contactPerson'">
				</app-contact-person-form>
			</div>
		</form>
	</div>
</div>