.background-white{
    background-color: white;
}

.background-gray{
    background-color: #f1f2f2;
}

.img-v {
    margin-bottom: -1rem;
    z-index: 1000;
}

.img-h {
    margin-right: -9rem;
    z-index: 1000;
    margin-top: -6rem;
}

thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

th {
	background-color: white !important;
	border-bottom-color: white;
	text-align: center;
	vertical-align: middle;
}

.table > :not(:first-child) {
	border-top: 1px solid #f1f2f2;
}

.best-value-yes {
	border-style: double;
	border-right-color: coral;
	border-left-color: coral;
	border-bottom-color: coral;
	tr:nth-child(even) {background: #faf2e9}
	tr:nth-child(odd) {background: #FFF}
}

.best-value-no {
	border-right-color: #dee2e6;
	border-left-color: #dee2e6 !important;
	border-bottom-color: #dee2e6;
}

.table-bordered > :not(caption) > * > * {
	border-width: 1px;
}

.show-best-value-yes {
	background-image: linear-gradient(130deg, #FD6E6A 10%, #FFC600 100%);
	border: none;
	border-radius: 1rem 1rem 0rem 0rem;
}

.show-best-value-no {
	background-color: white;
	border: none;
	border-radius: 0rem 0rem 0rem 0rem;
}

tr:nth-child(even) {background: #f1f2f2}
tr:nth-child(odd) {background: #ffffff}
/** jk **/
.custom-bg {
    padding: 15px 0px;
    text-align: center;
    min-height: 80px;
}
.custom-bg p {
    margin-bottom: 5px;
}
.custom-instalment .custom-bg {
    border: 1px solid #49c6ef;
    background-color: #ecf7fb;
}
.custom-instalment .col-md.pe-0 .custom-bg,.custom-downpayment .col-md-6.pe-0 .custom-bg{
    border-right: none;
}
.custom-downpayment .custom-bg {
    border: 1px solid #f8ab42;
    background: #f9f1e8;
}
.range-slider {
    width: 100%;
    margin-top: 20px;
}
.range-slider__value{
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;

}
.range-slider__range{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
}
.range-slider__range {
    cursor: pointer;
    border-top: 1px solid #f8ab42;
    border-bottom: 1px solid #f8ab42;
    border-radius: 0px;
}
.month .range-slider__range {
    cursor: pointer;
    border-top: 1px solid #46c7f1;
    border-bottom: 1px solid #46c7f1;
}

  
  /* custom thumb */
  .range__slider [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    border: #f9ca24 5px solid;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  .range__slider.month [type="range"]::-webkit-slider-thumb{
    border: #276ca3 5px solid;
  }
  .range__slider.month [type="range"]::-webkit-slider-thumb:hover {
    background: #46c7f1;
  }
  .range__slider [type="range"]::-webkit-slider-thumb:hover {
    background: #f0932b;
  }
  
  .range__slider [type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid; cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  
  .range__slider [type="range"]::-moz-range-thumb:hover {
    background: #f9ca24;
  }
  
  /* remove border */
  input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
  }
  input.range-slider__range:before {
    content: "";
    border-left: 1px solid #f8ab42;
    height: 19px !important;
    position: absolute;
    bottom: 11px;
}

.range__slider {
    position: relative;
}

input.range-slider__range:after {
    content: "";
    border-right: 1px solid #f8ab42;
    height: 19px !important;
    position: absolute;
    width: 100%;
    bottom: 6px;
}
.month input.range-slider__range:before {
    content: "";
    border-left: 1px solid #46c7f1;
}
.month input.range-slider__range:after {
    content: "";
    border-right: 1px solid #46c7f1;
}