@import 'navbar_pills';

table,
tr {
	border: 1px solid #bdbfc1;
	table-layout: fixed;
	width: 100%;
}

th {
	text-align: left;
	padding-left: 1rem;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 1rem;
}

tr:nth-child(odd) {
	background-color: #f1f1f1;
}

tr:nth-child(even) {
	background-color: #ffffff;
}


.nav-bar-left {
	background: #f9f9f9;
	height: 85%;
	gap: 15px;
	align-items: center;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 6px;
	padding-top: 6px;
	width: 102%;
	a {
		padding: 0px 15px;
		text-decoration: none;
		color: #000;
		line-height: 2.6;
		border-bottom: 2px solid transparent;
		&:hover {
			cursor: pointer;
			border-bottom: 2px solid var(--primary);
			color: var(--primary) !important;
		}
	}
	.active {
		color: var(--primary) !important;
		border-bottom: 2px solid var(--primary);
		font-weight: normal;
	}
}

#parent { height: 600px; }
#child1,#child2 { height: 100%; }