<div class="container">
    <app-nav-bar-pills [menuItems]="menuItems" [activeClass]="currentSelection" [cancelBtn]="true" [saveBtn]="true"
        [disableSaveBtn]="disableSaveButton" (onCancel)="cancel()" (onSave)="save($event)">
    </app-nav-bar-pills>
    <div class="row">
        <div class="col-6">
            <div class="section">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-6">
            <div class="section">
                <div class="container">
                    <h6 class="heading">Option 1</h6>
                    <hr />

                </div>
            </div>
        </div>
    </div>
</div>