<div class="row formrow" *ngIf="Form">
	<app-nav-bar-pills
		[menuItems]="menuItems"
		[activeClass]="currentSelection"
		[cancelBtn]="true"
		[saveBtn]="true"
		[disableSaveBtn]="Form.invalid"
		(onCancel)="cancel()"
		(onSave)="save(Form.value)"
	></app-nav-bar-pills>
	<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
		<div class="col-12"	id="main" scrollSpy	(sectionChange)="onSectionChange($event)">
			<div class="section" id="overview">
				<div class="row formrow">
					<div class="col-sm">
						<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
						</app-image-uploader>
					</div>
				</div>
			</div>
		
			<div class="section" id="profile">
				<h6 class="heading">Profile</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Title</label>
						<select class="form-select" formControlName="title">
							<option>Select</option>
						</select>
					</div>
					<div class="col">
						<label class="label-input-gap">First Name</label>
						<input
							class="form-control value-must"
							type="text"
							placeholder=""
							name="firstName"
							formControlName="firstName"
						/>
					</div>
		
					<div class="col">
						<label class="label-input-gap">Middle Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="middleName"
						/>
					</div>
					<div class="col">
						<label class="label-input-gap">Last Name</label>
						<input
							class="form-control value-must"
							type="text"
							placeholder=""
							name="lastName"
							formControlName="lastName"
						/>
					</div>
				</div>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Date of Birth</label>
						<input
							class="form-control"
							type="date"
							placeholder=""
							name="DOB"
							formControlName="DOB"
						/>
					</div>
					<div class="col">
						<label class="label-input-gap">Gender</label>
						<select class="form-select" formControlName="gender">
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select>
					</div>
					<div class="col">
						<label
							class="label-input-gap">Relationship with Patient</label
						>
						<select class="form-select" formControlName="pronoun">
							<option>Select</option>
						</select>
					</div>
					<div class="col"></div>
				</div>
			</div>
		</div>
	</form>
</div>












