<div *ngIf="parentGroup && staticData">
  <div [formGroup]="parentGroup">
    <div [formGroupName]="formGroupName">
      <div class="row">
        <div class="col">
          <label class="required">Contact Person Designation</label>
          <input type="text" class="form-control" formControlName="designation" />
        </div>
        <div class="col">
          <label class="required">Contact Person Title</label>
          <select class="form-select" formControlName="title">
            <option [value]="type.value" *ngFor="let type of staticData.title">
              {{ type.label }}
            </option>
          </select>
        </div>
        <div class="col">
          <label class="required">Contact Person First Name</label>
          <input type="text" class="form-control" formControlName="firstName" />
        </div>
        <div class="col">
          <label class="required">Contact Person Last Name</label>
          <input type="text" class="form-control" formControlName="lastName" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="required">Contact Person's Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="col">
          <label class="required">Contact Person's Phone Type</label>
          <select class="form-select" formControlName="type">
            <option [value]="type.value" *ngFor="let type of staticData.phone">
              {{ type.label }}
            </option>
          </select>
        </div>
        <div class="col">
          <label class="required">Contact Person's Phone Number</label>
          <input type="text" class="form-control" formControlName="number" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <i class="bi bi-plus-square-fill"></i>
      Add Another Contact Person Info
    </div>
  </div>
</div>