<div *ngIf="parentGroup && staticData">
	<div [formGroup]="parentGroup">
		<div [formGroupName]="formGroupName">
			<div class="row mb-3">
				<div class="col">
					<label class="required">Contact Person Designation</label>
					<input
						type="text"
						class="form-control"
						formControlName="designation"
						[ngClass]="{
							'value-must':
								isRequiredField('designation') === true
						}"
					/>
				</div>
				<div class="col">
					<label class="required">Contact Person Title</label>
					<select
						class="form-select"
						formControlName="title"
						[ngClass]="{
							'value-must': isRequiredField('title') === true
						}"
					>
						<option
							[value]="type.value"
							*ngFor="let type of staticData.title"
						>
							{{ type.label }}
						</option>
					</select>
				</div>
				<div class="col">
					<label class="required">Contact Person First Name</label>
					<input
						type="text"
						class="form-control"
						formControlName="firstName"
						[ngClass]="{
							'value-must':
								isRequiredField('firstName') === true
						}"
					/>
				</div>
				<div class="col">
					<label class="required">Contact Person Last Name</label>
					<input
						type="text"
						class="form-control"
						formControlName="lastName"
						[ngClass]="{
							'value-must':
								isRequiredField('lastName') === true
						}"
					/>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-3">
					<label class="required">Contact Person Email</label>
					<input
						type="email"
						class="form-control"
						formControlName="email"
						[ngClass]="{
							'value-must': isRequiredField('email') === true
						}"
					/>
				</div>
				<div class="col-9" formGroupName="phone">
					<div class="row">
						<div class="col-4">
							<label class="required"
								>Contact Person Phone Type</label
							>
							<select
								class="form-select"
								formControlName="type"
								[ngClass]="{
									'value-must':
										isRequiredField('phone.type') === true
								}"
							>
								<option
									[value]="type.value"
									*ngFor="let type of staticData.phone"
								>
									{{ type.label }}
								</option>
							</select>
						</div>
						<div class="col-4">
							<label class="required">Country Code</label>
							<input
								type="text"
								class="form-control"
								formControlName="countryCode"
								[ngClass]="{
									'value-must':
										isRequiredField('phone.countryCode') ===
										true
								}"
							/>
						</div>
						<div class="col-4">
							<label class="required"
								>Contact Person Number</label
							>
							<input
								type="text"
								class="form-control"
								formControlName="number"
								[ngClass]="{
									'value-must':
										isRequiredField('phone.number') === true
								}"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
