<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
    <div class="mainformsection">
        <div class="two-items">
            <h6 class="heading" style="font-weight: bolder;">Legal Guardian</h6>
            <a class="heading a-link">Add Script</a>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-4">
                <div class="mainformset">
                    <label class="required">Relationship to patient?</label>
                    <ng-select placeholder="Select">
                        <ng-option>Select</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-4">
                <div class="mainformset">
                    <label class="required pb-1"
                        >What is First Name of the Legal
                        Guardian?</label
                    >
                    <input
                        class="form-control value-must"
                        type="text"
                        placeholder=""
                        name=""
                        formControlName="lgName"
                    />
                </div>
            </div>
            <div class="col-4">
                <div class="mainformset">
                    <label class="required pb-1">Last Name</label>
                    <input
                        class="form-control value-must"
                        type="text"
                        placeholder=""
                        name=""
                        formControlName="lName"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Address Line 1</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Street address, P.O.box"
                        name=""
                    />
                </div>
            </div>
            <div class="col-6">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Address Line 2</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Apartment, Suite, Unit, Building, Floor, etc."
                        name=""
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1">Zip Code</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1">City</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1">State</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1">Country</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1"
                        >Primary Phone Number</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required">Type</label>
                    <ng-select placeholder="Select">
                        <ng-option>Select</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="required pb-1">Email</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
        </div>
        <div class="row two-final-buttons">
            <div class="two-items">
                <button class="btn btn-light btn-light-custom" >Exit</button>
                <button type="button" class="btn btn-dark btn-dark-custom" (click)="continueToDentist()" [disabled]="Form?.invalid">Save and continue</button>
            </div>
        </div>
    </div>
</form>
