<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)" style=" margin-top:0px;">
    <div class="mainformsection">
        <div *ngIf="tab!='addPatient'">
            <div class="two-items">
                <h6 class="heading" style="font-weight: bolder;">Legal Guardian</h6>
                <a class="heading a-link" *ngIf="showButtonSaveCancel==false" (click)="openTextarea()">Add Script</a>
                <div class="two-little-button" *ngIf="showButtonSaveCancel==true" >
                    <a class="heading a-link" (click)="closeSaveCancelFunc()">Save Script</a>
                    <a class="heading a-link" (click)="closeSaveCancelFunc()">Cancel</a>
                </div>
            </div>
            <div class="row" style="margin-top: 11px; margin-bottom: 18px;">
                <textarea *ngIf="openTextAreaVar==true"
                            class="form-control"
                            placeholder="Leave a comment here"
                            id="floatingTextarea2"
                            style="height: 98px; padding: 5px 10px 8px 6px; font-size: 12px; line-height : 20px; border: 2px solid #7a7a7c; font-style: oblique; resize: none;"
                        ></textarea
                        >
            </div>
        </div>
        <!-- search -->
        <div class="row" style=" margin-top:0px;">
            <!-- legal Guardian textbox and button -->
            <div class="col-6">
                <div class="mainformset">
                    <label class="label-input-gap input-button-label"
                    >Please search first If not found, create a
                    new one</label
                >
                    <div class="input-button">
                        <div class="input-group" style="background-color: white;">
                            <span
                                class="input-group-text border-0 bg-transparent"
                                id="basic-addon1"
                            >
                                <i class="bi bi-search"></i>
                            </span>
                            <input
                                type="text"
                                class="form-control border-0"
                                placeholder="Search"
                                aria-describedby="basic-addon1"
                                style="height: 100%;"
                            />
                        </div>
                        <button type="button" class="btn btn-dark" style="height: 35px;">Select</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 17px;">
            <div class="col-4">
                <div class="mainformset">
                    <label class="label-input-gap">Relationship to patient?</label>
                    <ng-select placeholder="Select">
                        <ng-option>Select</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-4">
                <div class="mainformset">
                    <label class=" label-input-gap"
                        >What is First Name of the Legal
                        Guardian?</label
                    >
                    <input
                        class="form-control value-must"
                        type="text"
                        placeholder=""
                        name=""
                        formControlName="lgName"
                    />
                </div>
            </div>
            <div class="col-4">
                <div class="mainformset">
                    <label class=" label-input-gap">Last Name</label>
                    <input
                        class="form-control value-must"
                        type="text"
                        placeholder=""
                        name=""
                        formControlName="lName"
                    />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:4px;">
            <div class="col-6">
                <div class="mainformset">
                    <label class=" label-input-gap"
                        >Address Line 1</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Street address, P.O.box"
                        name=""
                    />
                </div>
            </div>
            <div class="col-6">
                <div class="mainformset">
                    <label class=" label-input-gap"
                        >Address Line 2</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Apartment, Suite, Unit, Building, Floor, etc."
                        name=""
                    />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:5px;">
            <div class="col-3">
                <div class="mainformset">
                    <label class="label-input-gap">Zip Code</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="label-input-gap">City</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class=" label-input-gap">State</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class=" label-input-gap">Country</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:5px;">
            <div class="col-3">
                <div class="mainformset">
                    <label class=" label-input-gap"
                        >Primary Phone Number</label
                    >
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class="label-input-gap">Type</label>
                    <ng-select placeholder="Select" >
                        <ng-option>Select</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-3">
                <div class="mainformset">
                    <label class=" label-input-gap">Email</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder=""
                        name=""
                    />
                </div>
            </div>
        </div>
        <div  *ngIf="tab!='addPatient'" class="row two-final-buttons" >
            <div class="two-items">
                <button class="btn btn-light btn-light-custom" >Exit</button>
                <button type="button" class="btn btn-dark btn-dark-custom" (click)="continueToDentist()" [disabled]="Form?.invalid">Save and continue</button>
            </div>
        </div>
    </div>
</form>
