<div *ngIf="healthHistoryList?.length == 0">
    <div style="text-align: center; padding-top: 7%;">
        <div>
            <h5><b>You haven’t added yet</b></h5>
            <p>Click here, <img src="assets/icons/add.svg" width="36" height="36" (click)="addHealthHistory()" /> to add
                Health History</p>
        </div>
    </div>
</div>

<div *ngIf="healthHistoryList?.length != 0">
    <div class="container">
        <div class="d-flex justify-content-between call-to-actions">
            <div class="col-4">
            </div>
            <div class="d-flex gap-2">
                <button class="add_btn" disabled>
                    <img src="/assets/icons/export.svg" alt="" />
                </button>
                <button class="add_btn" [disabled]="true">
                    <img src="/assets/icons/print.svg" alt="" />
                </button>
                <button class="add_btn" [disabled]="true">
                    <img src="/assets/icons/delete.svg" alt="" />
                </button>
                <button class="add_btn" routerLink="/dashboard/patient/consultation/health-history/add">
                    <img src="/assets/icons/add.svg" alt="" />
                </button>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" /></th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="healthHistoryList">
                    <tr *ngFor="let healthHistory of healthHistoryList; let i = index">
                        <td><input type="checkbox" value="{{i}}" /></td>
                        <td>{{healthHistory?.date}}</td>
                        <td>{{healthHistory?.name}}</td>
                        <td>
                            <span *ngIf="healthHistory?.status === 'Completed'"
                                style="color: #3bbb7b;">{{healthHistory?.status}}</span>
                            <span *ngIf="healthHistory?.status === 'Review'"
                                style="text-decoration: underline;">{{healthHistory?.status}}</span>
                        </td>
                        <td>
                            <div ngbDropdown container="body" placement="bottom-end">
                                <i class="bi bi-three-dots-vertical" id="dropdownBasic" ngbDropdownToggle></i>
                                <ul ngbDropdownMenu aria-labelledby="dropdownBasic">
                                    <li ngbDropdownItem>Export as a pdf</li>
                                    <li ngbDropdownItem>Print</li>
                                    <li ngbDropdownItem>Delete</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>