<div class="row formrow" *ngIf="Form">
	<!-- <app-nav-bar-pills [menuItems]="menuItems" [activeClass]="currentSelection" [cancelBtn]="false" [saveBtn]="true" [editButton]="editButton"
		[disableSaveBtn]="Form.invalid" (onCancel)="cancel()" (onSave)="save(Form.value)"></app-nav-bar-pills> -->
	<div class="row sticky" style="width: 101%;">
		<div [ngClass]="{'col-11':!isSaveButton, 'col-12':!inEdit }">
			<!-- [cancelBtn]="isSaveButton || !inEdit" -->
			<div class="col">
				<app-nav-bar-pills [menuItems]="menuItems" [activeClass]="currentSelection" [cancelBtn]="false"
					[saveBtn]="isSaveButton || !inEdit" [editButton]="editButton"
					[disableSaveBtn]="Form.invalid || Form.pristine" (onCancel)="cancel()" (onSave)="save(Form.value)">
				</app-nav-bar-pills>
			</div>
		</div>
		<div *ngIf="!isSaveButton && inEdit" class="col-1 d-flex justify-content-center align-items-start"
			style="background-color: transparent;">
			<img src="/assets/icons/Edit.svg" style="width: 37px; height: 37px; cursor: pointer;" alt=""
				(click)="checkPermission()" />
		</div>
	</div>
	<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
		<div class="col-12" id="main" scrollSpy (sectionChange)="onSectionChange($event)">
			<div class="section" id="overview">
				<div class="row formrow">
					<div class="col-2"></div>
					<div class="principal">
						<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
						</app-image-uploader>
						<div class="colm" style="margin-left: 10px">
							<div class="letterandtext">
								<div class="columsp">
									<span class="special">Olivia Doe
										<span style="
												color: black;
												font-weight: normal;
											">(P1001)</span></span>
									<div class="horizont">
										<div class="colums">
											<span>Female</span>
											<span>May 10,1992</span>
											<span>29y, 10m</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="colm" style="margin-left: -35px">
							<div class="horizont" style="
									width: 103px;
									justify-content: space-between;
								">
								<div class="colums">
									<span>Phase:</span>
									<span>Status:</span>
									<span>Dentist:</span>
									<span>Referrer:</span>
								</div>
								<div class="colums">
									<span>2</span>
									<span>Active</span>
									<span>Kim Doe</span>
									<span>John Doe</span>
								</div>
							</div>
						</div>
						<div class="colm" style="margin-left: -45px">
							<div class="horizont" style="
									width: 293px;
									justify-content: space-between;
								">
								<div class="colums">
									<span>Language:</span>
									<span>Provider:</span>
									<span>Practice:</span>
									<span>Location:</span>
								</div>
								<div class="colums">
									<span>English</span>
									<span>Provider Name</span>
									<span>Practice Name</span>
									<span>330 2nd Street Huntington Beach, CA
										92646</span>
								</div>
							</div>
						</div>
						<div class="colm" style="margin-left: 125px">
							<div class="horizont" style="
									width: 206px;
									justify-content: space-between;
								">
								<div class="colums">
									<span>Chart Number:</span>
									<span>Creation Date:</span>
									<span>Treatement Start Date:</span>
									<span>Treatement End Date: </span>
								</div>
								<div class="colums">
									<span>US-10001</span>
									<span>Feb 15, 2022</span>
									<span>Feb 20, 2022</span>
									<span>March 20, 2022</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section" id="profile">
				<h6 class="heading">Profile</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Title</label>
						<ng-select class="input-upper" formControlName="title" placeholder="Select"
							[(ngModel)]="patientObj!.profile!.title">
							<ng-option [value]="title.value" *ngFor="let title of globalData.title">
								{{ title.label }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">First Name</label>
						<input class="form-control mandatory-field" type="text" placeholder="" name="firstName"
							formControlName="firstName" [(ngModel)]="patientObj!.profile!.firstName" />
					</div>

					<div class="col">
						<label class="label-input-gap">Middle Name</label>
						<input class="form-control" type="text" placeholder="" name="name" formControlName="middleName"
							[(ngModel)]="patientObj!.profile!.middleName" />
					</div>
					<div class="col">
						<label class="label-input-gap">Last Name</label>
						<input class="form-control mandatory-field" type="text" placeholder="" name="lastName"
							formControlName="lastName" [(ngModel)]="patientObj!.profile!.lastName" />
					</div>
					<div class="col">
						<label class="label-input-gap">Date of Birth</label>
						<input class="form-control mandatory-field" type="date" placeholder="" name="DOB"
							formControlName="DOB" [(ngModel)]="patientObj!.profile!.DOB" />
					</div>
				</div>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Gender</label>
						<ng-select class="input-upper mandatory-field" formControlName="gender" placeholder="Select"
							[(ngModel)]="patientObj!.profile!.gender">
							<ng-option [value]="gender.value" *ngFor="let gender of genders">
								{{ gender.label }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">Preferred Pronoun</label>
						<ng-select class="input-upper" formControlName="pronoun" placeholder="Select"
							[(ngModel)]="patientObj!.profile!.preferredPronoun">
							<ng-option [value]="pronoun.pronoun" *ngFor="let pronoun of pronouns">
								{{ pronoun.pronoun }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">Language</label>
						<ng-select class="input-upper" formControlName="language" placeholder="Select"
							[(ngModel)]="patientObj!.profile!.language">
							<ng-option [value]="language.value" *ngFor="let language of languages">
								{{ language.label }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">Marital Status</label>
						<ng-select class="input-upper" formControlName="maried" placeholder="Select"
							[(ngModel)]="patientObj!.profile!.maritalStatus">
							<ng-option [value]="maritalStatus.value" *ngFor="let maritalStatus of maritalStatuses">
								{{ maritalStatus.label }}
							</ng-option>
						</ng-select>
					</div>
				</div>
			</div>

			<div class="section" id="information">
				<h6 class="heading">Information</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Preferred Name</label>
						<input class="form-control" type="text" placeholder="" name="id"
							[(ngModel)]="patientObj!.information!.preferredName" formControlName="preferredName" />
					</div>
					<div class="col">
						<label class="label-input-gap">Pronounciation</label>
						<input class="form-control" type="text" placeholder="" name="name"
							[(ngModel)]="patientObj!.information!.pronounciation" formControlName="pronounciation" />
					</div>

					<div class="col">
						<label class="label-input-gap">School</label>
						<input class="form-control" type="text" placeholder="" name="name"
							[(ngModel)]="patientObj!.information!.school" formControlName="school" />
					</div>
					<div class="col">
						<label class="label-input-gap">Interests</label>
						<ng-select class="" formControlName="interest" [(ngModel)]="patientObj!.information!.interests">
							<ng-option *ngFor="let interest of interestsLst" [value]="interest">{{ interest }}
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">Tags</label>
						<ng-select class="" formControlName="tags" [(ngModel)]="patientObj!.information!.tags">
							<ng-option *ngFor="let tags of tagsLst" [value]="tags">{{ tags }}
							</ng-option>
						</ng-select>
					</div>
				</div>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">ID Type</label>
						<input class="form-control" formControlName="idType" type="text" placeholder="" name="name" />
					</div>

					<div class="col">
						<label class="label-input-gap">ID Number</label>
						<input class="form-control" formControlName="idNumber" type="text" placeholder="" name="name" />
					</div>

					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">ID Type</label>
						<input class="form-control" formControlName="idType" type="text" placeholder="" name="name" />
					</div>

					<div class="col">
						<label class="label-input-gap">ID Number</label>
						<input class="form-control" formControlName="idNumber" type="text" placeholder="" name="name" />
					</div>

					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
			</div>

			<div class="section" id="preferences">
				<h6 class="heading">Preferences</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Location</label>
						<ng-select class="input-upper red-bottom-line" formControlName="location"
							(change)="fieldValidation('location',true)" [ngClass]="{'valid-required-field':validLocation && FormDisable == false, 
							'red-bottom-line':validLocation==false  }" placeholder="Select" [(ngModel)]="patientObj!.preferences!.location">
							<ng-option [value]="item._id" *ngFor="let item of locationList">
								{{item.name}}
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">Billing Provider</label>
						<ng-select class="input-upper red-bottom-line" formControlName="billing"
							(change)="fieldValidation('billing',true)" [ngClass]="{'valid-required-field':validBilling && FormDisable == false, 
							'red-bottom-line':validBilling==false  }" placeholder="Select"
							[(ngModel)]="patientObj!.preferences!.billingProvider">
							<ng-option value="s">
								Select
							</ng-option>
						</ng-select>
					</div>

					<div class="col">
						<label class="label-input-gap">Treating Provider</label>
						<ng-select class="input-upper red-bottom-line" formControlName="provider"
							(change)="fieldValidation('provider',true)" [ngClass]="{'valid-required-field':validProvider && FormDisable == false, 
							'red-bottom-line':validProvider==false  }" placeholder="Select"
							[(ngModel)]="patientObj!.preferences!.treatingProvider">
							<ng-option value="s">
								Select
							</ng-option>
						</ng-select>
					</div>
				</div>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">New Patient Coordinator</label>
						<ng-select class="input-upper" formControlName="patientCoordinator" placeholder="Select"
							[(ngModel)]="patientObj!.preferences!.newPatientCoordinator">
							<ng-option value="s">
								Select
							</ng-option>
						</ng-select>
					</div>
					<div class="col">
						<label class="label-input-gap">Treatment Coordinator</label>
						<ng-select class="input-upper" formControlName="treatmentCoordinator" placeholder="Select"
							[(ngModel)]="patientObj!.preferences!.treatmentCoordinator">
							<ng-option value="s">
								Select
							</ng-option>
						</ng-select>
					</div>

					<div class="col">
						<label class="label-input-gap">Chair Side Assistant</label>
						<ng-select class="input-upper" formControlName="CSAssistant" placeholder="Select"
							[(ngModel)]="patientObj!.preferences!.chairSideAssistant">
							<ng-option value="s">
								Select
							</ng-option>
						</ng-select>
					</div>
				</div>
				<!-- <div class="row formrow">
					<div class="col-4">
						<label class="label-input-gap">Practice</label>
						<ng-select class="input-upper" formControlName="practice" placeholder="Select"
							[(ngModel)]="patientObj!.practiceId">
							<ng-option [value]="item._id" *ngFor="let item of practiceList">
								{{item.name}}
							</ng-option>
						</ng-select>
					</div>
				</div> -->
			</div>

			<div class="section" id="emergencyContact">
				<h6 class="heading">Emergency Contact</h6>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Contact Person</label>
						<ng-select class="input-upper red-bottom-line" formControlName="cPerson"
							(change)="fieldValidation('cPerson',true)" [ngClass]="{'valid-required-field':validCPerson && FormDisable == false, 
							'red-bottom-line':validCPerson==false  }" placeholder="Select"
							[(ngModel)]="patientObj!.emergencyContact!.contactPerson">
							<ng-option value="s">
								Select
							</ng-option>
						</ng-select>
					</div>
					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
				<div class="row formrow">
					<div class="col">
						<label class="label-input-gap">Name</label>
						<input class="form-control red-bottom-line" type="text" placeholder="" name="id"
							formControlName="name" [(ngModel)]="patientObj!.emergencyContact!.name"
							(input)="fieldValidation('name',true, true)" [ngClass]="{'valid-required-field':validName && FormDisable == false, 
							'red-bottom-line':validName==false  }" />
					</div>
					<div class="col">
						<label class="label-input-gap">Emergency Contact</label>
						<input class="form-control red-bottom-line" type="text" placeholder="" name="name"
							formControlName="eContact" [(ngModel)]="patientObj!.emergencyContact!.emergencyContact"
							(input)="fieldValidation('eContact',true, true)" [ngClass]="{'valid-required-field':validEContact && FormDisable == false, 
							'red-bottom-line':validEContact==false  }" />
					</div>
					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
			</div>

			<div class="section" id="notes">
				<h6 class="heading">Notes</h6>
				<div class="row formrow">
					<div class="col-6">
						<textarea class="form-control" name="note" id="" cols="70" rows="5"
							formControlName="note"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>