.input-box {
    width: 98%;
    height: 3rem;
    border-radius: 0.7rem;
    outline: auto;
    outline-color: white;
}

.border-box {
    width: 13%;
    height: 3rem;
    border-radius: 0.7rem;
    outline: auto;
    outline-color: #d9dbdc;
    background: white;
}
