<div class="container">
    <h6 class="heading">{{title | titlecase}}</h6>
    <hr />
    <div class="row">
        <div class="col">
            <div class="row m3">
                <div class="col">
                    <p class="heading">Timing</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="timingRadio" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Treatment at this time
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="timingRadio" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Observation
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="timingRadio" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault3">
                            No treatment
                        </label>
                    </div>
                </div>
            </div>
            <div class="row m3">
                <div class="col">
                    <p class="heading">Treament Phase</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="treamentPhaseRadioOptions"
                            id="treamentPhaseRadio1" value="Comprehenssive">
                        <label class="form-check-label" for="treamentPhaseRadio1">Comprehenssive</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="treamentPhaseRadioOptions"
                            id="treamentPhaseRadio2" value="Phase I">
                        <label class="form-check-label" for="treamentPhaseRadio2">Phase I</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="treamentPhaseRadioOptions"
                            id="treamentPhaseRadio3" value="Limited">
                        <label class="form-check-label" for="treamentPhaseRadio3">Limited</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="treamentPhaseRadioOptions"
                            id="treamentPhaseRadio4" value="Aligners">
                        <label class="form-check-label" for="treamentPhaseRadio4">Aligners</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="treamentPhaseRadioOptions"
                            id="treamentPhaseRadio5" value="Observation">
                        <label class="form-check-label" for="treamentPhaseRadio5">Observation</label>
                    </div>
                </div>
            </div>
            <div class="row m3">
                <div class="col">
                    <p class="heading">Treament Type</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="treamentTypeRadioOptions"
                            id="treamentTypeRadio1" value="Braces">
                        <label class="form-check-label" for="treamentTypeRadio1">Braces</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="treamentTypeRadioOptions"
                            id="treamentTypeRadio2" value="Aligners">
                        <label class="form-check-label" for="treamentTypeRadio2">Aligners</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="heading">Treament Time</p>
                <div class="col-2">
                    <input type="text" class="input-box" />
                </div>
                <div class="col-1" [align]="'center'">
                    <span style="font-size: 3rem; position: relative; bottom: 1rem;">-</span>
                </div>
                <div class="col-2">
                    <input type="text" class="input-box" />
                </div>
                <div class="col-1" [align]="'center'">
                    <span style="position: relative; top: 1rem;">Months</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row gap-3">
        <div class="col p2">
            <button class="btn btn-dark" (click)="moveToNext()">Next</button>
        </div>
    </div>
</div>