$gray-circle: #ebeff3;
ul {
	li {
		line-height: 3;
		// font-size: smaller;
	}
}
.component-view {
	height: calc(100vh - 200px);
	overflow-x: hidden;
	overflow-y: auto;
}
.ol {
	margin-left: 8px;
	padding: 2px;
	list-style: none;
}

.line {
	border-left: 16px solid $gray-circle;
	height: 14rem;
	// margin-left: 8px;
	margin-top: -3px;
}
