<!-- menu -->
<div class="row sticky" style="width: 101.4%;">
	<div class="col-11">
		<div class="col pills">
			<a
				[ngClass]="[selectTab == 'eligibility' ? 'active' : 'inactive']"
				(click)="scroll(eligibility, 'eligibility')"
				>Eligibility</a
			>
			<a
				[ngClass]="[selectTab == 'cobaddig' ? 'active' : 'inactive']"
				(click)="scroll(cobaddig, 'cobaddig')"
				>COB/Assignment</a
			>
			<a
				[ngClass]="[selectTab == 'deductible' ? 'active' : 'inactive']"
				(click)="scroll(deductible, 'deductible')"
				>Deductible</a
			>
			<a
				[ngClass]="[selectTab == 'dentalbenef' ? 'active' : 'inactive']"
				(click)="scroll(dentalbenef, 'dentalbenef')"
				>Dental Benefits</a
			>
			<a
				[ngClass]="[selectTab == 'frequencies' ? 'active' : 'inactive']"
				(click)="scroll(frequencies, 'frequencies')"
				>Frequencies</a
			>
			<a>History</a>
			<a>General Provision</a>
			<a>Implant Benefits</a>
		</div>
	</div>
	<div class="col-1 d-flex justify-content-center align-items-center mb-3 gap-2">
		<img
			src="../../../../../assets/icons/save.svg"
			style="width: 37px; height: 37px; cursor: pointer;"
			alt=""
		/>
		<img
			src="../../../../../assets/icons/add.svg"
			style="width: 37px; height: 37px; cursor: pointer"
			alt=""
		/>
	</div>
</div>
<!-- sections -->
<div class="row formstyle">
	<div class="col-12" id="main">
		<div class="section p-5" #eligibility>
			<form autocomplete="off">
				<div class="mainformsection">
					<h6 class="heading mb-2">Eligibility</h6>
					<div class="formrow">
						<div class="row">
							<div class="col-3 pt-3">
								<div class="mainformset">
									<div>
										<label class="required pb-3"
											>Is patient eligible under
											plan?</label
										>
									</div>

									<div class="form-check form-check-inline">
										<input
											class="form-check-input"
											type="radio"
											name="btnradio"
											id="btnradio1"
											autocomplete="off"
											checked
										/>
										<label
											class="form-check-label"
											for="btnradio1"
											>Yes</label
										>
									</div>
									<div class="form-check form-check-inline">
										<input
											class="form-check-input"
											type="radio"
											name="btnradio"
											id="btnradio2"
											autocomplete="off"
										/>
										<label
											class="form-check-label"
											for="btnradio2"
											>No</label
										>
									</div>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Calendar Year / Fiscal Year</label
									>
									<select
										class="form-select"
										formControlName="interest"
									>
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Begin Date</label
									>
									<input
										class="form-control"
										type="date"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>End Date</label
									>
									<input
										class="form-control"
										type="date"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="row">
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Age limit for subscriber</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Age limit for dependants</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Age limit for dependants (Child)</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Age limit for dependants
										(Student)</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="section p-5" #cobaddig>
			<div class="mainformsection">
				<form autocomplete="off">
					<h6 class="heading mb-2">COB/Assignment</h6>
					<div class="formrow">
						<div class="row">
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Type of Coordination of benefits</label
									>
									<select
										class="form-select"
										formControlName="interest"
									>
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Assignment of Benefits</label
									>
									<select
										class="form-select"
										formControlName="interest"
									>
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Are the fees based on contract or
										UCR?</label
									>
									<select
										class="form-select"
										formControlName="interest"
									>
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>If contract, which fee schedule?</label
									>
									<select
										class="form-select"
										formControlName="interest"
									>
										<option disabled>Select Website</option>
										<option>Select</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="section p-5" #deductible>
			<form autocomplete="off">
				<div class="mainformsection">
					<h6 class="heading mb-2">Deductible</h6>
					<div class="formrow">
						<div class="row">
							<div class="twenty pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Deductible (Family)</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="twenty pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Deductible remaining (Family)</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="twenty pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Deductible (Individual)</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="twenty pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Deductible remaining
										(Individual)</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="twenty pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Deductible waived on
										Preventative?</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="row">
							<p class="mt-4 mb-0">PERCENTAGE COVERED</p>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Preventative/Diagnostic (%)</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Basic (%)</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
							<div class="col-3 pt-3">
								<div class="mainformset">
									<label class="required pb-1"
										>Major (%)</label
									>
									<input
										class="form-control"
										type="text"
										placeholder=""
										name="DOB"
										formControlName="DOB"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="mainformset">
							<p class="mt-4 mb-0">WAITING PERIOD</p>
							<div class="row">
								<div class="col-3 pt-3">
									<div class="mainformset">
										<!-- <p class="required">Waiting Periods?</p> -->

										<div>
											<label class="required pb-3"
												>Waiting Periods?</label
											>
										</div>
										<div
											class="form-check form-check-inline"
										>
											<input
												class="form-check-input"
												type="radio"
												name="btnradio"
												id="btnradio1"
												autocomplete="off"
												checked
											/>
											<label
												class="form-check-label"
												for="btnradio1"
												>Yes</label
											>
										</div>
										<div
											class="form-check form-check-inline"
										>
											<input
												class="form-check-input"
												type="radio"
												name="btnradio"
												id="btnradio2"
												autocomplete="off"
											/>
											<label
												class="form-check-label"
												for="btnradio2"
												>No</label
											>
										</div>
									</div>
								</div>

								<div class="col-3 pt-3">
									<div class="mainformset">
										<label class="required pb-1"
											>Prev/Diagnostic</label
										>
										<input
											class="form-control"
											type="date"
											placeholder=""
											name="DOB"
											formControlName="DOB"
										/>
									</div>
								</div>
								<div class="col-3 pt-3">
									<div class="mainformset">
										<label class="required pb-1"
											>Basic</label
										>
										<input
											class="form-control"
											type="date"
											placeholder=""
											name="DOB"
											formControlName="DOB"
										/>
									</div>
								</div>
								<div class="col-3 pt-3">
									<div class="mainformset">
										<label class="required pb-1"
											>Major</label
										>
										<input
											class="form-control"
											type="date"
											placeholder=""
											name="DOB"
											formControlName="DOB"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="section p-5" #dentalbenef>
			<form autocomplete="off">
				<div class="mainformsection">
					<h6 class="heading mb-2">Dental Benefits</h6>
					<div class="row">
						<div class="col-2 pt-3">
							<div class="mainformset">
								<label class="required pb-1"
									>Dental annual maximum</label
								>
								<input
									class="form-control"
									type="text"
									placeholder=""
									name="DOB"
									formControlName="DOB"
								/>
							</div>
						</div>
						<div class="col-2 pt-3">
							<div class="mainformset">
								<label class="required pb-1">Remaining</label>
								<input
									class="form-control"
									type="text"
									placeholder=""
									name="DOB"
									formControlName="DOB"
								/>
							</div>
						</div>
						<div class="col-8 pt-3">
							<div class="mainformset">
								<div>
									<label class="required pb-1"
										>Basic includes</label
									>
								</div>

								<div class="form-check form-check-inline">
									<input
										class="form-check-input"
										type="checkbox"
										id="inlineCheckbox1"
										value="option1"
									/>
									<label
										class="form-check-label"
										for="inlineCheckbox1"
										>Restorative</label
									>
								</div>
								<div class="form-check form-check-inline">
									<input
										class="form-check-input"
										type="checkbox"
										id="inlineCheckbox2"
										value="option2"
									/>
									<label
										class="form-check-label"
										for="inlineCheckbox2"
										>Endo</label
									>
								</div>
								<div class="form-check form-check-inline">
									<input
										class="form-check-input"
										type="checkbox"
										id="inlineCheckbox1"
										value="option1"
									/>
									<label
										class="form-check-label"
										for="inlineCheckbox3"
										>Perio</label
									>
								</div>
								<div class="form-check form-check-inline">
									<input
										class="form-check-input"
										type="checkbox"
										id="inlineCheckbox2"
										value="option2"
									/>
									<label
										class="form-check-label"
										for="inlineCheckbox4"
										>Oral Surgery</label
									>
								</div>

								<div class="form-check form-check-inline">
									<div class="d-flex align-items-center">
										<div class="">
											<input
												class="form-check-input mb-2"
												type="checkbox"
												id=""
												value="option2"
											/>
										</div>

										<div class="pe-2 ps-2">
											<label
												class="form-check-label"
												for=""
												>Other</label
											>
										</div>

										<div class="">
											<input
												class="form-control-inline"
												type="text"
												placeholder=""
												name=""
												formControlName=""
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="formrow">
						<div class="row">
							<div class="col">
								<div class="mainformset">
									<div>
										<label class="required pt-3 pb-1"
											>Major includes</label
										>
									</div>

									<div class="form-check form-check-inline">
										<input
											class="form-check-input"
											type="checkbox"
											id="inlineCheckbox1"
											value="option1"
										/>
										<label
											class="form-check-label"
											for="inlineCheckbox1"
											>Crowns</label
										>
									</div>
									<div class="form-check form-check-inline">
										<input
											class="form-check-input"
											type="checkbox"
											id="inlineCheckbox2"
											value="option2"
										/>
										<label
											class="form-check-label"
											for="inlineCheckbox2"
											>Bridges</label
										>
									</div>
									<div class="form-check form-check-inline">
										<input
											class="form-check-input"
											type="checkbox"
											id="inlineCheckbox1"
											value="option1"
										/>
										<label
											class="form-check-label"
											for="inlineCheckbox3"
											>Dentures</label
										>
									</div>
									<div class="form-check form-check-inline">
										<input
											class="form-check-input"
											type="checkbox"
											id="inlineCheckbox2"
											value="option2"
										/>
										<label
											class="form-check-label"
											for="inlineCheckbox4"
											>Partials</label
										>
									</div>
									<div class="form-check form-check-inline">
										<input
											class="form-check-input"
											type="checkbox"
											id="inlineCheckbox2"
											value="option2"
										/>
										<label
											class="form-check-label"
											for="inlineCheckbox5"
											>Implants</label
										>
									</div>
									<div class="form-check form-check-inline">
										<div class="d-flex align-items-center">
											<div class="">
												<input
													class="form-check-input mb-2"
													type="checkbox"
													id=""
													value="option2"
												/>
											</div>

											<div class="pe-2 ps-2">
												<label
													class="form-check-label"
													for=""
													>Other</label
												>
											</div>

											<div class="">
												<input
													class="form-control-inline"
													type="text"
													placeholder=""
													name=""
													formControlName=""
												/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="section p-5" #frequencies>
			<form autocomplete="off">
				<div class="mainformsection">
					<h6 class="heading mb-2">Frequencies</h6>

					<div class="formrow">
						<div class="row">
							<div class="col-5">
								<p class="mt-4 mb-2 pb-2">EXAMS</p>
								<div class="row">
									<!-- button and dropdown inline-->
									<div class="col-6">
										<div class="mainformset">
											<div class="row">
												<div class="labelsinline">
													<label class="required pb-1"
														>Frecuency</label
													>
													<label class="required pb-1"
														>Time Frame</label
													>
												</div>
											</div>
										</div>
										<div class="row">
											<div
												class="btn-group btn-group-select"
											>
												<button style="height: 35px;" class="">Select</button>
												<select
													class="form-select"
													formControlName="interest"
												>
													<option disabled>
														Select Website
													</option>
													<option>
														Select
													</option>
												</select>
											</div>
										</div>
									</div>
									<!-- input with its title -->
									<div class="col-6">
										<div class="mainformset">
											<label class="required pb-1"
												>Exceptions</label
											>
											<input
												class="form-control"
												type="text"
												placeholder=""
												name=""
												formControlName=""
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="col-5">
								<p class="mt-4 mb-2 pb-2">PROPHYLAXIS</p>
								<div class="row">
									<!-- button and dropdown inline-->
									<div class="col-6">
										<div class="row">
											<div class="labelsinline">
												<label class="required pb-1"
													>Frecuency</label
												>
												<label class="required pb-1"
													>Time Frame</label
												>
											</div>
										</div>
										<div class="row">
											<div
												class="btn-group btn-group-select"
											>
												<button style="height: 35px;" class="">Select</button>
												<select
													class="form-select"
													formControlName="interest"
												>
													<option disabled>
														Select Website
													</option>
													<option>
														Select
													</option>
												</select>
											</div>
										</div>
									</div>

									<!-- input with its title -->
									<div class="col-6">
										<div class="mainformset">
											<label class="required pb-1"
												>Exceptions</label
											>
											<input
												class="form-control"
												type="text"
												placeholder=""
												name=""
												formControlName=""
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="formrow">
						<p class="mt-4 mb-0 pb-0">PERIO. MAINTENANCE</p>
						<div class="row">
							<div class="col-5">
								<div class="row">
									<!-- button and dropdown inline-->
									<div class="col-6 pt-3">
										<div class="row">
											<div class="labelsinline">
												<label class="required pb-1"
													>Frecuency</label
												>
												<label class="required pb-1"
													>Time Frame</label
												>
											</div>
										</div>
										<div class="row">
											<div
												class="btn-group btn-group-select"
											>
												<button style="height: 35px;" class="">Select</button>
												<select
													class="form-select"
													formControlName="interest"
												>
													<option disabled>
														Select Website
													</option>
													<option>
														Select
													</option>
												</select>
											</div>
										</div>
									</div>
									<!-- input with its title -->
									<div class="col-6 pt-3">
										<div class="mainformset">
											<label class="required pb-1"
												>Exceptions</label
											>
											<input
												class="form-control"
												type="text"
												placeholder=""
												name=""
												formControlName=""
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="col-5 pt-3">
								<div class="row">
									<!-- button and dropdown inline-->
									<div class="col-6">
										<div class="mainformset">
											<label class="required pb-1"
												>Paid at</label
											>
											<input
												class="form-control"
												type="text"
												placeholder=""
												name=""
												formControlName=""
											/>
										</div>
									</div>
									<!-- input with its title -->
									<div class="col-6">
										<div class="mainformsetdefalt">
											<label
												class="required py-1"
											></label>
											<div class="form-check">
												<input
													class="form-check-input"
													type="radio"
													name="flexRadioDefault"
													id="flexRadioDefault1"
												/>
												<label
													class="form-check-label"
													for="flexRadioDefault1"
												>
													Default radio
												</label>
											</div>
										</div>

										<div class="form-check">
											<div class="mainformset">
												<input
													class="form-check-input"
													type="radio"
													name="flexRadioDefault"
													id="flexRadioDefault2"
													checked
												/>
												<label
													class="form-check-label"
													for="flexRadioDefault2"
												>
													Default checked radio
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
