<!-- menu -->
<div class="row sticky">
  <div class="col-11">
     <div class="col pills">
        <a class="active">Eligibility</a>
        <a>COB/Assignment</a>
        <a>Deductible</a>
        <a>Dental Benefits</a>
        <a>Frequencies</a>
        <a>History</a>
        <a>General Provision</a>
        <a>Implant Benefits</a>
     </div>
  </div>
  <div class="col-1 d-flex justify-content-center align-items-center mb-3">
     <button class="btn btn-dark">
     <i class="bi bi-plus-lg"></i>
     </button>
  </div>
</div>
<!-- sections -->
<div class="row">
  <div class="col-12" id="main">
     <div class="section" #eligibility>
        <form autocomplete="off">
           <div class="mainformsection">
              <h6 class="heading">Eligibility</h6>
              <div class="formrow">
                 <div class="row">
                    <div class="col-3">
                       <div class="mainformset">
                          <p class="required">
                             Is patient eligible under plan?
                          </p>
                          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                             <input type="radio" name="btnradio" id="btnradio1" autocomplete="off" checked />
                             <label class="" for="btnradio1">Yes</label>
                             <input type="radio" name="btnradio" id="btnradio2" autocomplete="off" />
                             <label class="" for="btnradio2">No</label>
                          </div>
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Calendar Year / Fiscal Year</label>
                          <select class="form-select" formControlName="interest">
                             <option disabled>Select Website</option>
                             <option>Select</option>
                          </select>
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Begin Date</label>
                          <input class="form-control" type="date" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">End Date</label>
                          <input class="form-control" type="date" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                 </div>
              </div>
              <div class="formrow">
                 <div class="row">
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Age limit for subscriber</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Age limit for dependants</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Age limit for dependants (Child)</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Age limit for dependants
                          (Student)</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </form>
     </div>
     <div class="section" #cobaddig>
        <div class="mainformsection">
           <form autocomplete="off">
              <h6 class="heading">COB/Assignment</h6>
              <div class="formrow">
                 <div class="row">
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Type of Coordination of benefits</label>
                          <select class="form-select" formControlName="interest">
                             <option disabled>Select Website</option>
                             <option>Select</option>
                          </select>
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Assignment of Benefits</label>
                          <select class="form-select" formControlName="interest">
                             <option disabled>Select Website</option>
                             <option>Select</option>
                          </select>
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Are the fees based on contract or
                          UCR?</label>
                          <select class="form-select" formControlName="interest">
                             <option disabled>Select Website</option>
                             <option>Select</option>
                          </select>
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">If contract, which fee schedule?</label>
                          <select class="form-select" formControlName="interest">
                             <option disabled>Select Website</option>
                             <option>Select</option>
                          </select>
                       </div>
                    </div>
                 </div>
              </div>
           </form>
        </div>
     </div>
     <div class="section" #deductible>
        <form autocomplete="off">
           <div class="mainformsection">
              <h6 class="heading">Deductible</h6>
              <div class="formrow">
                 <div class="row">
                    <div class="twenty">
                       <div class="mainformset">
                          <label class="required">Deductible (Family)</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="twenty">
                       <div class="mainformset">
                          <label class="required">Deductible remaining (Family)</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="twenty">
                       <div class="mainformset">
                          <label class="required">Deductible (Individual)</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="twenty">
                       <div class="mainformset">
                          <label class="required">Deductible remaining
                          (Individual)</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="twenty">
                       <div class="mainformset">
                          <label class="required">Deductible waived on
                          Preventative?</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                 </div>
              </div>
              <div class="formrow">
                 <div class="row">
                    <p>PERCENTAGE COVERED</p>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Preventative/Diagnostic (%)</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Basic (%)</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="mainformset">
                          <label class="required">Major (%)</label>
                          <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                       </div>
                    </div>
                 </div>
              </div>
              <div class="formrow">
                 <div class="mainformset">
                    <p>WAITING PERIOD</p>
                    <div class="row">
                       <div class="col-3">
                          <div class="mainformset">
                             <p class="required">Waiting Periods?</p>
                             <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" name="btnradio" id="btnradio1" autocomplete="off" checked />
                                <label class="" for="btnradio1">Yes</label>
                                <input type="radio" name="btnradio" id="btnradio2" autocomplete="off" />
                                <label class="" for="btnradio2">No</label>
                             </div>
                          </div>
                       </div>
                       <div class="col-3">
                          <div class="mainformset">
                             <label class="required">Prev/Diagnostic</label>
                             <input class="form-control" type="date" placeholder="" name="DOB" formControlName="DOB" />
                          </div>
                       </div>
                       <div class="col-3">
                          <div class="mainformset">
                             <label class="required">Basic</label>
                             <input class="form-control" type="date" placeholder="" name="DOB" formControlName="DOB" />
                          </div>
                       </div>
                       <div class="col-3">
                          <div class="mainformset">
                             <label class="required">Major</label>
                             <input class="form-control" type="date" placeholder="" name="DOB" formControlName="DOB" />
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </form>
     </div>
     <div class="section" #dentalbenef>
        <form autocomplete="off">
           <div class="mainformsection">
              <h6 class="heading">Dental Benefits</h6>
              <div class="row">
                 <div class="col-2">
                    <div class="mainformset">
                       <label class="required">Dental annual maximum</label>
                       <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                    </div>
                 </div>
                 <div class="col-2">
                    <div class="mainformset">
                       <label class="required">Remaining</label>
                       <input class="form-control" type="text" placeholder="" name="DOB" formControlName="DOB" />
                    </div>
                 </div>
                 <div class="col-8">
                    <div class="mainformset">
                       <p class="required">Basic includes</p>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                          <label class="form-check-label" for="inlineCheckbox1">Restorative</label>
                       </div>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                          <label class="form-check-label" for="inlineCheckbox2">Endo</label>
                       </div>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                          <label class="form-check-label" for="inlineCheckbox3">Perio</label>
                       </div>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                          <label class="form-check-label" for="inlineCheckbox4">Oral Surgery</label>
                       </div>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="" value="option2" />
                          <label class="form-check-label" for="">Other</label>
                          <input class="form-control-inline" type="text" placeholder="" name="" formControlName="" />
                       </div>
                    </div>
                 </div>
              </div>
              <div class="formrow">
                 <div class="row">
                    <div class="col">
                       <div class="mainformset">
                       <p class="required">Major includes</p>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                          <label class="form-check-label" for="inlineCheckbox1">Crowns</label>
                       </div>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                          <label class="form-check-label" for="inlineCheckbox2">Bridges</label>
                       </div>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                          <label class="form-check-label" for="inlineCheckbox3">Dentures</label>
                       </div>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                          <label class="form-check-label" for="inlineCheckbox4">Partials</label>
                       </div>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                          <label class="form-check-label" for="inlineCheckbox5">Implants</label>
                       </div>
                       <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="" value="option2" />
                          <label class="form-check-label" for="">Other</label>
                          <input class="form-control-inline" type="text" placeholder="" name="" formControlName="" />
                       </div>
                    </div>
                 </div>
              </div>
           </div>
          </div>
        </form>
     </div>
     <div class="section" #frequencies>

        <form autocomplete="off">
          <div class="mainformsection">
           <h6 class="heading">Frequencies</h6>

           <div class="formrow">
           <div class="row">
              <div class="col-5">
                 <p>EXAMS</p>
                 <div class="row">
                    <!-- button and dropdown inline-->
                    <div class="col-6">
                      <div class="mainformset">
                       <div class="row">
                          <div class="labelsinline">
                             <label class="required">Frecuency</label>
                             <label class="required">Time Frame</label>
                          </div>
                       </div></div>
                       <div class="row">
                          <div class="buttoninput">
                             <button class="">Select</button>
                             <select class="form-select" formControlName="interest">
                                <option disabled>
                                   Select Website
                                </option>
                                <option>Select</option>
                             </select>
                          </div>
                       </div>
                    </div>
                    <!-- input with its title -->
                    <div class="col-6">
                      <div class="mainformset">
                       <label class="required">Exceptions</label>
                       <input class="form-control" type="text" placeholder="" name="" formControlName="" />
                    </div></div>
                 </div>
              </div>
              <div class="col-5">
                 <p>PROPHYLAXIS</p>
                 <div class="row">
                    <!-- button and dropdown inline-->
                    <div class="col-6">
                      <div class="row">
                         <div class="labelsinline">
                            <label class="required">Frecuency</label>
                            <label class="required">Time Frame</label>
                         </div>
                      </div>
                      <div class="row">
                         <div class="buttoninput">
                               <button class="">Select</button>
                               <select class="form-select" formControlName="interest">
                                  <option disabled>
                                     Select Website
                                  </option>
                                  <option>Select</option>
                               </select>
                         </div>
                      </div>
                   </div>



                    <!-- input with its title -->
                    <div class="col-6">
                      <div class="mainformset">
                       <label class="required">Exceptions</label>
                       <input class="form-control" type="text" placeholder="" name="" formControlName="" /></div>
                    </div>
                 </div>
              </div>
           </div>
           </div>

           <div class="formrow">
           <div class="row">
              <div class="col-5">
                 <p>PERIO. MAINTENANCE</p>
                 <div class="row">
                    <!-- button and dropdown inline-->
                    <div class="col-6">

                       <div class="row">
                          <div class="labelsinline">
                             <label class="required">Frecuency</label>
                             <label class="required">Time Frame</label>
                          </div>
                       </div>
                       <div class="row">
                          <div class="buttoninput">
                             <button class="">Select</button>
                             <select class="form-select" formControlName="interest">
                                <option disabled>
                                   Select Website
                                </option>
                                <option>Select</option>
                             </select>
                          </div>
                       </div>
                    </div>
                    <!-- input with its title -->
                    <div class="col-6">
                      <div class="mainformset">
                       <label class="required">Exceptions</label>
                       <input class="form-control" type="text" placeholder="" name="" formControlName="" />
                      </div>
                    </div>
                 </div>
              </div>
              <div class="col-5">
                 <div style="height: 30px"></div>
                 <div class="row">
                    <!-- button and dropdown inline-->
                    <div class="col-6">
                      <div class="mainformset">
                       <label class="required">Paid at</label>
                       <input class="form-control" type="text" placeholder="" name="" formControlName="" />
                    </div></div>
                    <!-- input with its title -->
                    <div class="col-6">
                      <div class="mainformsetdefalt">
                       <div style="height: 10px"></div>
                       <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                          <label class="form-check-label" for="flexRadioDefault1">
                          Default radio
                          </label>
                       </div></div>

                       <div class="form-check">
                        <div class="mainformset">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                          <label class="form-check-label" for="flexRadioDefault2">
                          Default checked radio
                          </label>
                       </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           </div>
</div>

        </form>





     </div>
  </div>
</div>
