.twenty{
    width: 20%;
}

.form-control-inline{
    display:inline-block;
}

.buttoninput{
    display: flex;
    justify-content: flex-start;
}

.labelsinline{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}