<div class="row sticky">
	<div class="col-11">
		<div class="col pills">
			<a class="active" (click)="scroll(overview)">Overview</a>
			<a (click)="scroll(profile)">Profile</a>
			<a (click)="scroll(address)">Address</a>
			<a (click)="scroll(contact)">Contact</a>
			<a (click)="scroll(referredPatients)">Referred Patients</a>
			<a (click)="scroll(notes)">Notes</a>
		</div>
	</div>
	<div class="col-1 d-flex justify-content-center align-items-center mb-3">
		<button class="btn btn-dark">
			<i class="bi bi-plus-lg"></i>
		</button>
	</div>
</div>

<div class="row">
	<div class="col-12" id="main">
		<div class="section" #overview>
			<div class="row">
				<div class="col-sm">
					<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
					</app-image-uploader>
				</div>
				<div class="col-sm">
					<p>Olivia Doe <span>(P1001)</span></p>
					<p>Female</p>
					<p>May 10,1992</p>
					<p>29y, 10m</p>
				</div>
				<div class="col-sm">
					<p>Phase: 2</p>
					<p>Status: Active</p>
					<p>Dentist: <span>{{ 'Kim Doe' | shortened: 4 }}</span></p>
					<p>Referrer: <span>{{ 'John Doe' | shortened: 4 }}</span></p>
				</div>
				<div class="col-sm">
					<p>Language: English</p>
					<p>Provider: <span>{{ 'Provider Name' | shortened: 8 }}</span></p>
					<p>Practice: <span>{{ 'Practice Name' | shortened: 8 }}</span></p>
					<p>Location: <span>{{ '330 2nd Street Huntington Beach, CA 92646' | shortened: 8 }}</span></p>
				</div>
				<div class="col-sm">
					<p><span>{{ 'Chart Number' | shortened: 8 }}</span> : <span>{{ 'US-10001' | shortened: 4 }}</span></p>
					<p><span>{{ 'Creation Date' | shortened: 8 }}</span> : <span>{{ ' Feb 15, 2022' | shortened: 4 }}</span></p>
					<p><span>{{ 'Treatement Start Date' | shortened: 8 }}</span> : <span>{{ 'Feb 20, 2022' | shortened: 4 }}</span>
					</p>
					<p><span>{{ 'Treatement End Date' | shortened: 8 }}</span> : <span>{{ 'March 20, 2022' | shortened: 4 }}</span>
					</p>
				</div>
			</div>
		</div>

		<div class="section" #profile>
			<form autocomplete="off">
				<h6 class="heading">Profile</h6>
				<div class="row">
					<div class="col">
						<label
							class="required"
							data-toggle="tooltip"
							title="Is prefered provider"
							>{{ 'Is prefered provider' | shortened: 10 }}</label
						>
						<select class="form-select" formControlName="provider">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
					<div class="col">
						<label class="required">Title</label>
						<select class="form-select" formControlName="title">
							<option disabled>Select Website</option>
							<option>Choose Website</option>
						</select>
					</div>
					<div class="col">
						<label class="required">First Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="firstName"
							formControlName="firstName"
						/>
					</div>

					<div class="col">
						<label class="required">Middle Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							fromControlName="middleName"
						/>
					</div>
					<div class="col">
						<label class="required">Last Name</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="lastName"
							formControlName="lastName"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label
							class="required"
							data-toggle="tooltip"
							title="Practice Name"
							>{{ 'Practice Name' | shortened: 10 }}</label
						>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="praticeName"
						/>
					</div>
					<div class="col">
						<label class="required">Degree</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="degree"
						/>
					</div>
					<div class="col">
						<label
							class="required"
							data-toggle="tooltip"
							title="Dental/Medical School"
							>{{
								'Dental/Medical School' | shortened: 10
							}}</label
						>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="DMSchool"
						/>
					</div>
					<div class="col">
						<label class="required">Specialty</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="specialty"
						/>
					</div>
					<div class="col">
						<label
							class="required"
							data-toggle="tooltip"
							title="Specialty School"
							>{{ 'Specialty School' | shortened: 10 }}</label
						>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlName="specialtySchool"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<label class="required">Greeting</label>
						<input
							class="form-control"
							type="text"
							placeholder=""
							name="name"
							formControlNAme="greeting"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col d-flex gap-3 mt-3">
						<button class="btn btn-dark">Save Changes</button>
						<button type="button" class="btn btn-light">
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>

		<div class="section" #address>
			<h6 class="heading">Address</h6>
			<app-address-form
				[parentGroup]="Form"
				[formGroupName]="'address'"
			></app-address-form>
		</div>

		<div class="section" #contact>
			<h6 class="heading">Contact</h6>
			<div class="row">
				<div class="col">
					<label class="required">Email</label>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="id"
						formControlName="emailId"
					/>
				</div>

				<div class="col">
					<label class="required">Primary Phone Type</label>
					<select class="form-select" formControlName="pPhoneType">
						<option disabled>Select Website</option>
						<option>Choose Website</option>
					</select>
				</div>

				<div class="col">
					<label class="required">Primary Phone Number</label>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="name"
						formControlName="pPhoneNumber"
					/>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label
						class="required"
						data-toggle="tooltip"
						title="Secondary Phone Type"
						>{{ 'Secondary Phone Type' | shortened: 10 }}</label
					>
					<select class="form-select" formControlName="sPhoneType">
						<option disabled>Select Website</option>
						<option>Choose Website</option>
					</select>
				</div>

				<div class="col">
					<label
						class="required"
						data-toggle="tooltip"
						title="Secondary Phone Number"
						>{{ 'Secondary Phone Number' | shortened: 10 }}</label
					>
					<input
						class="form-control"
						type="text"
						placeholder=""
						name="name"
						formControlName="sPhoneNumber"
					/>
				</div>

				<div class="col">
					<label
						class="required"
						data-toggle="tooltip"
						title="Preferred Mail Method"
						>{{ 'Preferred Mail Method' | shortened: 10 }}</label
					>
					<select class="form-select" formControlName="preferredMailMethod">
						<option disabled>Select Website</option>
						<option>Choose Website</option>
					</select>
				</div>

				<div class="col">
					<label class="required">Website</label>
					<div class="input-group mb-3">
						<span class="form-control" id="basic-addon3"
							>https://</span
						>
						<input
							type="text"
							class="form-control"
							id="basic-url"
							aria-describedby="basic-addon3"
							name="website"
							placeholder="www.example.com"
							formControlName="website"
						/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col d-flex gap-3 mt-3">
					<button class="btn btn-dark">Save Changes</button>
					<button type="button" class="btn btn-light">Cancel</button>
				</div>
			</div>
		</div>

		<div class="section" #referredPatients>
			<h6 class="heading">Referred Patients</h6>
			<div class="row">
				<div class="col">
					<table class="table">
						<thead>
							<tr>
								<th
									scope="col"
									data-toggle="tooltip"
									title="First Name"
								>
									{{ 'First Name' | shortened: 8 }}
								</th>
								<th
									scope="col"
									data-toggle="tooltip"
									title="Last Name"
								>
									{{ 'Last Name' | shortened: 8 }}
								</th>
								<th scope="col">Phase</th>
								<th scope="col">Status</th>
								<th
									scope="col"
									data-toggle="tooltip"
									title="Treatment Start Date"
								>
									{{ 'Treatment Start Date' | shortened: 8 }}
								</th>
								<th
									scope="col"
									data-toggle="tooltip"
									title="Treatment End Date"
								>
									{{ 'Treatment End Date' | shortened: 8 }}
								</th>
							</tr>
						</thead>
						<tbody *ngIf="bussinessGroups">
							<tr
								*ngFor="let d of bussinessGroups; let i = index"
							>
								<td>{{ d?.First_Name }}</td>
								<td>{{ d?.Last_Name }}</td>
								<td>{{ d?.Phase }}</td>
								<td>{{ d?.Status }}</td>
								<td>{{ d?.Treatment_Start_Date }}</td>
								<td>{{ d?.Treatment_End_Date }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="section" #notes>
			<h6 class="heading">Notes</h6>
			<div class="row">
				<div class="col-6">
					<textarea
						class="form-control"
						name="note"
						id=""
						cols="70"
						rows="5"
						formControlName="note"
					></textarea>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col d-flex gap-3 mt-3">
					<button type="button" class="btn btn-dark">
						Save Changes
					</button>
					<button type="button" class="btn btn-light">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
