div.img-uploader-main {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 8px;
  overflow: hidden;
  .loader-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}

// loader
.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 50%;
  border: 6px solid var(--primary);
  border-color: var(--primary) transparent var(--primary) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
