#main {
	height: calc(100vh - 310px);
	overflow: auto;
	padding-bottom: 5rem;

	form {

		input,
		select {
			margin-bottom: 5px;
		}
	}
}

.formrow tbody tr td input:disabled {
    opacity: 0.5;
}

.ng-selection {
	position: relative;
    display: block;
    box-sizing: border-box;
    width: 24rem;
}
.save {
    border: none;
    background: transparent;
}