<app-nav-bar-pills [cancelBtn]="true" [saveBtn]="true" [disableSaveBtn]="Form.invalid" (onCancel)="cancel()"
    (onSave)="save(Form.value)"></app-nav-bar-pills>

<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">

    <!-- content -->
    <div class="section" id="main">
        <h6 class="heading">Edit Role</h6>

        <div class="row formrow">
            <div class="col-6">
                <label class="label-input-gap">Name of role</label>
                <input type="text" class="form-control" [(ngModel)]="roleObj.name" formControlName="name">
            </div>
            <div class="col-6">
                <label class="label-input-gap">Description</label>
                <input type="text" class="form-control" [(ngModel)]="roleObj.description" formControlName="description">
            </div>
        </div>


        <!-- Accordion -->
        <div class="row formrow">
            <div class="col-12">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <!-- Org. Onboarding -->
                    <ngb-panel cardClass="onboarding" *ngFor="let permissions of roleObj.permissions">
                        <ng-template ngbPanelTitle>
                            <p><strong>{{permissions.section}}</strong></p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div [align]="'end'">
                                <input type="checkbox" style="float: inherit;" (change)="displayShowAdvanced = !displayShowAdvanced">
                                <label class="form-check-label" style="padding-bottom: 1.3rem;">
                                    Show Advanced
                                </label>
                            </div>
                            <table class="table" *ngIf="permissions.permissions?.length != 0">
                                <thead>
                                    <tr style="background-color: #f1f2f2; height: 30px;">
                                        <th></th>
                                        <th>Permission</th>
                                        <th>Lock</th>
                                        <th>Allow Override</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let childPermision of permissions.permissions">
                                    <tr>
                                        <td>
                                            <input type="checkbox" value="{{childPermision.enabled}}" [checked]="childPermision.enabled" (change)="childPermision.enabled = !childPermision.enabled" *ngIf="displayCreateRoleYesNoOption" />
                                            <input type="checkbox" value="{{childPermision.enabled}}" [checked]="childPermision.enabled" [disabled]="childPermision.locked" (change)="childPermision.enabled = !childPermision.enabled" *ngIf="!displayCreateRoleYesNoOption" />
                                        </td>
                                        <td>{{childPermision?.name}}</td>
                                        <td>
                                            <input type="checkbox" value="{{childPermision.locked}}" [checked]="childPermision.locked" (change)="childPermision.locked = !childPermision.locked" *ngIf="!childPermision.locked" />
                                            <img src="../../../../../../assets/icons/locked.svg" *ngIf="childPermision.locked" width="25" height="25" />
                                        </td>
                                        <td><input type="checkbox" value="{{childPermision.allowOverride}}" [checked]="childPermision.allowOverride" /></td>
                                    </tr>
                                    <tr *ngIf="displayShowAdvanced">
                                        <td></td>
                                        <td>
                                            <label>Legal Entity</label>
                                            <ng-select placeholder="Select">
                                                <ng-option *ngFor="let legalEntity of legelEntityList">{{legalEntity.name}}</ng-option>
                                            </ng-select>
                                        </td>
                                        <td>
                                            <label>Location</label>
                                            <ng-select placeholder="Select">
                                                <ng-option *ngFor="let location of locationList">{{location.name}}}</ng-option>
                                            </ng-select>
                                        </td>
                                        <td>
                                            <label>Practice</label>
                                            <ng-select placeholder="Select">
                                                <ng-option *ngFor="let practice of practiceList">
                                                    <input type="checkbox" value="{{practice}}" checked  />&nbsp;{{practice.name}}
                                                </ng-option>
                                            </ng-select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</form>