<div *ngIf="parentGroup && formGroupControls">
  <div [formGroup]="parentGroup">
    <div [formGroupName]="formGroupName">
      <div class="row">
        <div class="col">
          <label class="required">Address Line 1</label>
          <input
            type="text"
            class="form-control"
            formControlName="addressLine1"
          />
        </div>
        <div class="col">
          <label class="required">Address Line 2</label>
          <input
            type="text"
            class="form-control"
            formControlName="addressLine2"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="required">Country</label>
          <input type="text" class="form-control" formControlName="country" />
        </div>
        <div class="col">
          <label class="required">State</label>
          <input type="text" class="form-control" formControlName="state" />
        </div>
        <div class="col">
          <label class="required">City</label>
          <input type="text" class="form-control" formControlName="city" />
        </div>
        <div class="col">
          <label class="required">Zip Code</label>
          <input type="number" class="form-control" formControlName="zipCode" />
        </div>
      </div>
    </div>
  </div>
</div>
