<div *ngIf="parentGroup && staticData">
  <div [formGroup]="parentGroup">
    <div [formGroupName]="formGroupName">
      <div class="row">
        <div class="col">
          <label class="required">Primary Phone Type</label>
          <select class="form-select" formControlName="type">
            <option [value]="type.value" *ngFor="let type of staticData.phone">
              {{ type.label }}
            </option>
          </select>
        </div>
        <div class="col">
          <label class="required">Primary Phone Number</label>
          <input type="text" class="form-control" formControlName="number" />
        </div>
        <div class="col">
          <label class="required">Email</label>
          <input type="text" class="form-control" formControlName="email" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="required">Secondary Phone Type</label>
          <select class="form-select" formControlName="type">
            <option [value]="type.value" *ngFor="let type of staticData.phone">
              {{ type.label }}
            </option>
          </select>
        </div>
        <div class="col">
          <label class="required">Secondary Phone Number</label>
          <input type="text" class="form-control" formControlName="number" />
        </div>
        <div class="col">
          <label class="required">Website</label>
          <input type="text" class="form-control" formControlName="website" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="required">Fax</label>
          <input type="text" class="form-control" formControlName="fax" />
        </div>
        <div class="col">
          <label class="required">Prefered Mail Method</label>
          <select class="form-select" formControlName="preferedMailMethod">
            <option [value]="type.value" *ngFor="let type of staticData.phone">
              {{ type.label }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>