<div *ngIf="parentGroup && staticData">
	<div [formGroup]="parentGroup">
		<div [formGroupName]="formGroupName">
			<div class="row mb-3" formGroupName="primaryPhone">
				<div class="col">
					<label class="required">Primary Phone Type</label>
					<ng-select formControlName="type" [ngClass]="{
						'required-field':
							isRequiredField('primaryPhone.type') === true
					}">
						<ng-option *ngFor="let type of staticData.phone" [value]="type.value">{{ type.label }}
						</ng-option>
					</ng-select>
				</div>
				<div class="col">
					<label class="required">Country Code</label>
					<input type="text" class="form-control" formControlName="countryCode" [ngClass]="{
							'required-field':
								isRequiredField('primaryPhone.countryCode') ===
								true
						}" />
				</div>
				<div class="col">
					<label class="required">Number</label>
					<input type="text" class="form-control" formControlName="number" appPhoneMask maxlength="14"
						[ngClass]="{
							'required-field':
								isRequiredField('primaryPhone.number') === true
						}" />
				</div>
			</div>
			<div class="row mb-3" formGroupName="secondaryPhone">
				<div class="col">
					<label class="required">Secondary Phone Type</label>

					<ng-select formControlName="type" [ngClass]="{
						'required-field':
							isRequiredField('secondaryPhone.type') === true
					}">
						<ng-option *ngFor="let type of staticData.phone" [value]="type.value">{{ type.label }}
						</ng-option>
					</ng-select>
				</div>

				<div class="col">
					<label class="required">Country Code</label>
					<input type="text" class="form-control" formControlName="countryCode" [ngClass]="{
							'required-field':
								isRequiredField(
									'secondaryPhone.countryCode'
								) === true
						}" />
				</div>
				<div class="col">
					<label class="required">Number</label>
					<input type="text" class="form-control" formControlName="number" appPhoneMask maxlength="14"
						[ngClass]="{
							'required-field':
								isRequiredField('secondaryPhone.number') ===
								true
						}" />
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<label class="required">Email</label>
					<input type="text" class="form-control" formControlName="email" [ngClass]="{
							'required-field': isRequiredField('email') === true
						}" />
				</div>
				<div class="col">
					<label class="required">Website</label>
					<div class="input-group">
						<label class="input-group-text" for="inputGroupFile01">https://</label>
						<input type="text" class="form-control" formControlName="website" [ngClass]="{
								'required-field':
									isRequiredField('website') === true
							}" />
					</div>
				</div>
				<div class="col">
					<label class="required">Fax</label>
					<input type="text" class="form-control" formControlName="fax" [ngClass]="{
							'required-field': isRequiredField('fax') === true
						}" />
				</div>
				<div class="row mt-3">
					<div class="col-4">
						<label class="required">Prefered Mail Method</label>
						<ng-select formControlName="preferedMailMethod" [ngClass]="{
							'required-field':
								isRequiredField('preferedMailMethod') === true
						}">
							<ng-option value="mail">Mail</ng-option>
						</ng-select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>