<div class="container">
	<app-nav-bar-pills
		[cancelBtn]="true"
		[saveBtn]="true"
		[disableSaveBtn]="false"
		(onCancel)="cancel()"
		(onSave)="save($event)"
	></app-nav-bar-pills>
	<div class="row">
		<div class="col-10">
			<div class="row">
				<div class="col">
					<div class="section" style="height: 30rem">
						<router-outlet></router-outlet>
					</div>
				</div>
				<div class="col">
					<div
						class="section"
						style="height: 30rem"
						*ngIf="!showImageGallery"
					>
						<div class="container">
							<div class="row">
								<div class="col">
									<h6
										class="heading"
										style="margin-bottom: 0.5rem"
									>
										Diagnostic Findings
									</h6>
								</div>
								<div class="col-4" style="margin-bottom: -2rem">
									<h6
										class="heading"
										style="margin-bottom: 0rem"
									>
										Problems
									</h6>
									<div
										ngbDropdown
										container="body"
										placement="bottom-end"
										[align]="'end'"
										style="top: -1.5rem"
									>
										<button
											class="btn btn-light btn-sm more_btn"
											ngbDropdownToggle
										>
											<i
												class="bi bi-three-dots-vertical"
											></i>
										</button>
										<div ngbDropdownMenu>
											<button class="btn btn-light">
												<b>Copy from</b>
											</button>
											<button ngbDropdownItem>
												Consultation 1
											</button>
											<button ngbDropdownItem>
												Consultation 2
											</button>
										</div>
									</div>
								</div>
							</div>
							<hr />
							<div class="scroll" id="scrollDiv">
								<div
									class="row"
									*ngFor="
										let problem of problemLst;
										let i = index
									"
								>
									<div
										class="col"
										*ngIf="problem.child?.length != 0"
									>
										<ul>
											<li>
												<h5
													class="heading"
													style="margin-bottom: auto"
												>
													{{
														problem.title
															| titlecase
													}}
												</h5>
												<div
													*ngFor="
														let item of problem.child;
														let i = index
													"
												>
													<div class="input-group">
														<span
															class="input-group-text"
															id="basic-addon1"
															><i
																class="bi bi-x-circle"
																style="
																	font-size: 1rem;
																"
															></i
														></span>
														<input
															type="text"
															class="form-control"
															aria-label="Username"
															aria-describedby="basic-addon1"
															value="{{
																item.title
															}}"
															readonly
															style="
																border: none;
																background-color: transparent;
																height: 2rem;
															"
														/>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div
										class="col-3"
										*ngIf="problem.child?.length != 0"
										[align]="'center'"
									>
										<h5 class="heading"></h5>
										<div
											class="row mb-1"
											*ngFor="
												let item of problem.child;
												let i = index
											"
										>
											<div class="col">
												<div
													class="form-check"
													style="
														vertical-align: middle;
														display: table;
													"
												>
													<input
														class="form-check-input"
														type="checkbox"
													/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<app-image-gallery
						[galleryImagesList]="selectedGalleryImage"
						(closeImageGallery)="showImageGallery = false"
						[width]="478"
						[height]="371"
						*ngIf="showImageGallery"
					></app-image-gallery>
				</div>
			</div>
			<app-toothchart
				[toothChartType]="1"
				[width]="50"
				[height]="50"
				[showDropdownMenu]="true"
				(onSelectOption)="onSelectOption($event)"
			></app-toothchart>
		</div>
		<div class="col-2">
			<div class="row">
				<div class="col-1">
					<h6 class="heading" style="margin-bottom: 0.5rem">
						Gallery
					</h6>
				</div>
				<div ngbDropdown class="col-1 d-inline-block">
					<button
						type="button"
						class="btn btn-outline-dark"
						id="dropdownBasic1"
						ngbDropdownToggle
						style="margin-left: 2.3rem;"
					>
						Current Series
					</button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
						<button ngbDropdownItem>CO - 1</button>
						<button ngbDropdownItem>CO - 2</button>
						<button ngbDropdownItem>CO - 3</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div *ngFor="let imageGallery of galleryImagesList">
						<img
							src="{{ imageGallery.imageUrl }}"
							class="gallery"
							width="60"
							height="60"
							(click)="displaySelectImage(imageGallery)"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
