<form [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
    <div class="section">
        <h6 class="heading">Create User</h6>
        <div class="row formrow">
            <div class="col-3">
                <label class="label-input-gap">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="user['profile'].firstName"
                    formControlName="firstName">
            </div>
            <div class="col-3">
                <label class="label-input-gap">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="user['profile'].lastName"
                    formControlName="lastName">
            </div>
        </div>
        <div class="row formrow">
            <div class="col-3">
                <label class="label-input-gap">Email</label>
                <input type="text" class="form-control" [(ngModel)]="userEmail" formControlName="userEmail"
                    email="true">
            </div>
            <div class="col-3">
                <label class="label-input-gap">Password</label>
                <input type="password" class="form-control password" [(ngModel)]="user['creds'].password"
                    formControlName="password">
            </div>
        </div>
        <div class="row formrow">
            <div class="col-3">
                <label class="label-input-gap">Roles</label>
                <ng-select [multiple]="true" placeholder="Role name" [(ngModel)]="user['roles']"
                    formControlName="userRoles">
                    <ng-option *ngFor="let role of roles" [value]="role._id">{{role.name}}</ng-option>
                </ng-select>
            </div>
            <div class="col-3">
                <label class="label-input-gap">Type</label>
                <ng-select placeholder="Role template name">
                    <ng-option>General</ng-option>
                    <ng-option>Provider</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row formrow">
            <div class="col-3" style="margin-top: 4px;">
                <button type="button" class="btn btn-dark btn-dark-custom" [disabled]="Form?.invalid"
                    (click)="saveUser()">Create</button>
            </div>
        </div>
    </div>
</form>