@import 'navbar_pills';

#main {
	height: calc(100vh - 310px);
	overflow: auto;
	padding-bottom: 5rem;

	form {

		input,
		select {
			margin-bottom: 5px;
		}
	}
}

.box {
	height: 10rem;
	border: 1px solid lightgrey;
	background-color: white;
}

.radio-label{
	display: flex;
	justify-content: flex-start;
	width: 155px;
	gap: 5px;
	input{
		padding: 0px  !important;
		margin: 0px !important;
	}
}

.to-span{
	width: 120px; margin: 3px 0px; padding: 0px;
}

.to-span2{
	width: 120px; margin: 3px 0px 3px 9px; padding: 0px;
}

.to-input{
	margin: 0px !important; padding: 0px !important;
}
.section {
	padding: 2rem;
}

form .btn-light {
    border-color: white;
}