<div class="container">
    <app-nav-bar-pills [cancelBtn]="true" [saveBtn]="true" [disableSaveBtn]="false" (onCancel)="cancel()"
        (onSave)="save($event)"></app-nav-bar-pills>
    <div class="row">
        <div class="col-6" *ngFor="let numberofColum of numberofColums; let i = index">
            <div class="section">
                <div class="row formrow">
                    <div class="col-6">
                        <label class="label-input-gap" style="font-weight: bold;">Choose your Treatment Option</label>
                        <input class="form-control" type="text" placeholder="Type Name" name="" />
                    </div>
                </div>

                <div class="row formrow">
                    <label class="label-input-gap" style="font-weight: bold;">Tx Option Name 1</label>
                </div>
                <hr>

                <div *ngFor="let txOption of txOptions; let i = index">
                    <div class="row" style="border: 1px solid #c0c2c4">
                        <div class="col-6" [ngClass]="[checkOdd(i) == false ? 'background-gray' : 'background-white']" style="font-weight: bold;">{{ txOption.subtitle }}</div>
                        <div class="col-6" [ngClass]="[checkOdd(i) == false ? 'background-gray' : 'background-white']">{{ txOption.content }}</div>
                    </div>
                </div>

                <div class="row formrow">
                    <label class="label-input-gap" style="font-weight: bold;">Tx Fee Estimate</label>
                </div>
                <hr>
                <div *ngFor="let txFee of txFees; let i = index">
                    <div class="row">
                        <div class="col-6">{{ txFee.subtitle }}</div>
                        <div class="col-6">{{ txFee.content }}</div>
                    </div>
                </div>
                <hr>

                <br>
                <div *ngFor="let minDownPaym of minDownPayms; let i = index">
                    <div class="row">
                        <div class="col-6" style="font-weight: bold;">{{ minDownPaym.subtitle }}</div>
                        <div class="col-6" *ngIf="minDownPaym.type == 'dropdown'">
                            <ng-select placeholder="Payment Option 2">
                                <ng-option>Payment Option 2</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-6" *ngIf="minDownPaym.type != 'dropdown'" [ngClass]="[checkOdd(i) == false ? 'background-white' : 'background-gray']">{{ minDownPaym.content }}</div>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6" style="margin: auto; background-color: #f1f2f2;">
                        <div [align]="'center'">
                            <div class="row" style="border-bottom: 4px solid white;">
                                <div class="col">
                                    $500
                                    <p>Down Payment</p>
                                </div>
                                <img src="assets/icons/slider_v.svg" width="20" height="20" class="img-v" />
                            </div>
            
                            <div class="row">
                                <div class="col" style="border-right: 4px solid white;">
                                    24
                                    <p>No. of Installments</p>
                                    <img src="assets/icons/slider_h.svg" width="20" height="20" class="img-h"/>
                                </div>
                                <div class="col" style="border-left: 0px solid white;">
                                    $250
                                    <p>Monthly Installments</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>