<app-nav-bar-pills [cancelBtn]="true" [saveBtn]="true" [disableSaveBtn]="Form.invalid" (onCancel)="cancel()"
    (onSave)="save(Form.value)"></app-nav-bar-pills>

<form autocomplete="off" [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
    <!-- content -->
    <div class="section" id="main">
        <h6 class="heading" style="font-weight: bold;">Role Assignment</h6>

        <label class="label-input-gap" style="font-weight: bold;">Current Roles</label>
        <div class="roles">
            <div class="" *ngFor="let role of roles; let i = index">
                <div class="input-group flex-nowrap formrow" style="width: 100px; height: 30px;">
                    <span class="input-group-text" style="background-color: #faf2e9; border: 1px solid #f9b85f;"><i
                            class="bi bi-x-lg"></i></span>
                    <input type="text" class="form-control" value="{{role.name}}" readonly
                        style="border-color: #f9b85f; background-color: #faf2e9; height: 25px;">
                </div>
            </div>
        </div>

        <div class="row formrow">
            <div class="col-3">
                <label class="label-input-gap">Roles</label>
                <ng-select placeholder="Select">
                    <ng-option>Select Roles</ng-option>
                </ng-select>
            </div>
        </div>

        <h6 class="heading" style="font-weight: bold;">User Policy</h6>
        <div class="row formrow">
            <div class="twenty">
                <label class="label-input-gap">Legal Entity</label>
                <ng-select placeholder="Select">
                    <ng-option>Select</ng-option>
                </ng-select>
            </div>
            <div class="twenty">
                <label class="label-input-gap">Location</label>
                <ng-select placeholder="Select">
                    <ng-option>Select</ng-option>
                </ng-select>
            </div>
            <div class="twenty">
                <label class="label-input-gap">Practice</label>
                <ng-select placeholder="Select">
                    <ng-option>Select</ng-option>
                </ng-select>
            </div>
        </div>

        <!-- Accordion -->
        <div class="row formrow">
            <div class="col-12">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <!-- Org. Onboarding -->
                    <ngb-panel cardClass="onboarding">
                        <ng-template ngbPanelTitle>
                            <p><strong>Org. Onboarding</strong> <br>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <ngb-accordion #accOnboarding="ngbAccordion" activeIds="ngb-panel-0">
                                <!-- Business Group -->
                                <ngb-panel cardClass="businessg">
                                    <ng-template ngbPanelTitle>
                                        <p><strong>Business Group</strong> <br>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh
                                        </p>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="permission"><span>Permission</span></div>
                                        <div class="show"><input type="checkbox" value="" id="show" checked /><label
                                                for="show">Show Advanced</label></div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext" checked /> <label for="checkandtext">Lorem ipsum dolor
                                                sit amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext1" /> <label for="checkandtext1">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext2" /> <label for="checkandtext2">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext3" /> <label for="checkandtext3">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>

                                <!-- Legal Entity -->
                                <ngb-panel cardClass="legalenti">
                                    <ng-template ngbPanelTitle>
                                        <p><strong>Legal Entity</strong></p>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="permission"><span>Permission</span></div>
                                        <div class="show"><input type="checkbox" value="" id="show" checked /><label
                                                for="show">Show Advanced</label></div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext" checked /> <label for="checkandtext">Lorem ipsum dolor
                                                sit amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext1" /> <label for="checkandtext1">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext2" /> <label for="checkandtext2">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext3" /> <label for="checkandtext3">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>

                                <!-- Location -->
                                <ngb-panel cardClass="legalenti">
                                    <ng-template ngbPanelTitle>
                                        <p><strong>Location</strong></p>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="permission"><span>Permission</span></div>
                                        <div class="show"><input type="checkbox" value="" id="show" checked /><label
                                                for="show">Show Advanced</label></div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext" checked /> <label for="checkandtext">Lorem ipsum dolor
                                                sit amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext1" /> <label for="checkandtext1">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext2" /> <label for="checkandtext2">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext3" /> <label for="checkandtext3">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>

                                <!-- Practice -->
                                <ngb-panel cardClass="legalenti">
                                    <ng-template ngbPanelTitle>
                                        <p><strong>Practice</strong></p>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="permission"><span>Permission</span></div>
                                        <div class="show"><input type="checkbox" value="" id="show" checked /><label
                                                for="show">Show Advanced</label></div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext" checked /> <label for="checkandtext">Lorem ipsum dolor
                                                sit amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext1" /> <label for="checkandtext1">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext2" /> <label for="checkandtext2">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="checkandtext formrow"><input type="checkbox" value=""
                                                id="checkandtext3" /> <label for="checkandtext3">Lorem ipsum dolor sit
                                                amet,
                                                consectetuer adipiscing elit, sed diam</label></div>
                                        <div class="row formrow" style="margin-left: 26px;">
                                            <div class="col-3">
                                                <label class="label-input-gap">Legal Entity</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Location</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-3">
                                                <label class="label-input-gap">Practice</label>
                                                <ng-select placeholder="Select">
                                                    <ng-option>Select</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </ng-template>
                    </ngb-panel>

                    <!-- Module 1 -->
                    <ngb-panel cardClass="module1">
                        <ng-template ngbPanelTitle>
                            <p><strong>Module 1</strong> <br>
                                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                    nibh</span>
                            </p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                        </ng-template>
                    </ngb-panel>

                    <!-- Module 2 -->
                    <ngb-panel cardClass="module2">
                        <ng-template ngbPanelTitle>
                            <p><strong>Module 2</strong></p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                        </ng-template>
                    </ngb-panel>

                    <!-- Module 3 -->
                    <ngb-panel cardClass="module3">
                        <ng-template ngbPanelTitle>
                            <p><strong>Module 3</strong></p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                        </ng-template>
                    </ngb-panel>

                    <!-- Module 4 -->
                    <ngb-panel cardClass="module4">
                        <ng-template ngbPanelTitle>
                            <p><strong>Module 4</strong></p>
                        </ng-template>
                        <ng-template ngbPanelContent>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</form>