tr {
	line-height: 3;
}
.table > :not(:first-child) {
	border-top: 1px solid currentColor;
}
.more_btn {
	font-size: 16px;
	font-weight: bold;
	background-color: transparent;
	border: none;
}
table.table {
	table-layout: fixed;
}
table.table td {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
}

table.table th:nth-child(1) {
	width: min-content;
}
