<div class="row" *ngIf="Form">
	<!-- <div class="col-12 d-flex mb-3">
		<div class="col d-flex align-items-center">
			<span class="text-uppercase fw-bold">{{ title }}</span>
		</div>
	</div> -->

	<div id="navbar-pills">
		<div class="left">
			<a class="active" (click)="scroll(overview)">Overview</a>
			<a (click)="scroll(profile)">Profile</a>
			<a (click)="scroll(physicalAddress)">Physical Address</a>
			<a (click)="scroll(mailingAddress)">Mailing Address</a>
			<a (click)="scroll(insuranceBillingAddress)">Insurance</a>
			<a (click)="scroll(contactDetails)">Contact</a>
			<a (click)="scroll(contactPerson)">Contact Person Info</a>
		</div>
		<div class="right">
			<button
				class="save"
				[disabled]="Form.invalid"
				(click)="save(Form.value)"
			>
				<img src="/assets/icons/save.svg" alt="" />
			</button>
			<button class="cancel" (click)="cancel()">
				<img src="/assets/icons/cancel.svg" alt="" />
			</button>
		</div>
	</div>

	<div class="container" id="main">
		<div class="section" #overview>
			<!-- <div class="row">
				<h6 class="heading">Logo</h6>
			</div> -->
			<div class="row">
				<app-image-uploader
					[imageUrl]="formData?.logo || ''"
					(onUpload)="handleUploadedImage($event)"
				></app-image-uploader>
			</div>
		</div>
		<form [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
			<!-- Profile -->
			<div class="section" #profile>
				<div class="row">
					<h6 class="heading">Profile</h6>
				</div>
				<div class="row">
					<div class="col">
						<label class="required">Legal Entity Name</label>
						<input
							type="text"
							class="form-control required-field"
							formControlName="name"
						/>
					</div>

					<div class="col">
						<label class="required">Abbreviation</label>
						<input
							type="text"
							class="form-control"
							formControlName="abbreviation"
						/>
					</div>

					<div class="col">
						<label class="required">TIN</label>
						<input
							type="text"
							class="form-control required-field"
							formControlName="TIN"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<label class="required">Country</label>
						<ng-select formControlName="country">
							<ng-option
								*ngFor="let country of countries"
								[value]="country.iso3"
								>{{ country.name }}</ng-option
							>
						</ng-select>
					</div>
					<div class="col-4">
						<label class="required">Currency</label>
						<select class="form-select" formControlName="currency">
							<option value="usd">USD</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<label class="required"
							>Is this Legal Entity also Legal Employer?</label
						>
						<div class="d-flex gap-4 pt-3" (change)="checkRadio($event)">
							<label for="">
								<input
									type="radio"
									name=""
									formControlName="isLegalEmployer"
									value="yes"
								/>&nbsp;Yes
							</label>
							<label for="">
								<input
									type="radio"
									name=""
									formControlName="isLegalEmployer"
									value="no"
								/>&nbsp;No
							</label>
						</div>
					</div>
					<div class="col-4" *ngIf="showEmpIdFeild">
						<label class="required">Employer ID</label>
						<input
							type="text"
							class="form-control"
							formControlName="employerId"
						/>
					</div>
				</div>
			</div>
			<!-- Physical Address -->
			<div class="section" #physicalAddress>
				<div class="row">
					<h6 class="heading">Physical Address</h6>
				</div>
				<app-address-form
					[parentGroup]="Form"
					[formGroupName]="'physicalAddress'"
				></app-address-form>
			</div>
			<!-- Mailing Address -->
			<div class="section" #mailingAddress>
				<div class="row">
					<h6 class="heading">Mailing Address</h6>
				</div>
				<!-- <div class="row">
					<div class="col-4 mb-3">
						<button
							type="button"
							class="btn btn-sm btn-dark"
							(click)="setAddress('mailingAddress')"
						>
							Same as physical address
						</button>
					</div>
				</div> -->
				<app-address-form
					[parentGroup]="Form"
					[formGroupName]="'mailingAddress'"
				></app-address-form>
			</div>
			<!-- Insurance Billing Address -->
			<div class="section" #insuranceBillingAddress>
				<div class="row">
					<h6 class="heading">Insurance Billing / Payment Address</h6>
				</div>
				<!-- <div class="row">
					<div class="col-4 mb-3">
						<button
							type="button"
							class="btn btn-sm btn-dark"
							(click)="setAddress('insuranceBillingAddress')"
						>
							Same as physical address
						</button>
					</div>
				</div> -->
				<app-address-form
					[parentGroup]="Form"
					[formGroupName]="'insuranceBillingAddress'"
				></app-address-form>
			</div>
			<!-- Contact -->
			<div class="section" #contactDetails>
				<div class="row">
					<h6 class="heading">Contact</h6>
				</div>
				<app-contact-details-form
					[parentGroup]="Form"
					[formGroupName]="'contactDetails'"
				></app-contact-details-form>
			</div>
			<!-- Contact Person-->
			<div class="section" #contactPerson>
				<div class="row">
					<h6 class="heading">Contact Person Info</h6>
				</div>
				<app-contact-person-form
					[parentGroup]="Form"
					[formGroupName]="'contactPerson'"
				></app-contact-person-form>
			</div>
			<!-- <div class="d-flex border-top pt-3 gap-2">
				<button
					class="btn btn-dark"
					type="submit"
					[disabled]="Form.invalid"
				>
					Save Changes
				</button>

				<button class="btn btn-light" type="button" (click)="cancel()">
					Cancel
				</button>
			</div> -->
		</form>
	</div>
</div>
