<div class="row" *ngIf="Form">
	<app-nav-bar-pills
		[menuItems]="menuItems"
		[activeClass]="currentSelection"
		[cancelBtn]="true"
		[saveBtn]="true"
		[disableSaveBtn]="Form.invalid"
		(onCancel)="cancel()"
		(onSave)="save(Form.value)"
	></app-nav-bar-pills>
	<form [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
		<div
			class="col-12"
			id="main"
			scrollSpy
			(sectionChange)="onSectionChange($event)"
		>
			<div class="section" id="overview">
				<!-- <div class="row">
				<h6 class="heading">Logo</h6>
			</div> -->
				<div class="row">
					<app-image-uploader
						[imageUrl]="formData?.logo || ''"
						(onUpload)="handleUploadedImage($event)"
					></app-image-uploader>
				</div>
			</div>
			<!-- Profile -->
			<div class="section" id="profile">
				<div class="row">
					<h6 class="heading">Profile</h6>
				</div>
				<div class="row">
					<div class="col">
						<label class="required">Legal Entity Name</label>
						<input
							type="text"
							class="form-control required-field"
							formControlName="name"
						/>
					</div>

					<div class="col">
						<label class="required">Abbreviation</label>
						<input
							type="text"
							class="form-control"
							formControlName="abbreviation"
						/>
					</div>

					<div class="col">
						<label class="required">TIN</label>
						<input
							type="text"
							class="form-control required-field"
							formControlName="TIN"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<label class="required">Country</label>
						<ng-select formControlName="country">
							<ng-option
								*ngFor="let country of countries"
								[value]="country.iso3"
								>{{ country.name }}</ng-option
							>
						</ng-select>
					</div>
					<div class="col-4">
						<label class="required">Currency</label>
						<select class="form-select" formControlName="currency">
							<option value="usd">USD</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<label class="required"
							>Is this Legal Entity also Legal Employer?</label
						>
						<div class="d-flex gap-4 pt-3">
							<label for="">
								<input
									type="radio"
									name=""
									formControlName="isLegalEmployer"
									value="yes"
								/>&nbsp;Yes
							</label>
							<label for="">
								<input
									type="radio"
									name=""
									formControlName="isLegalEmployer"
									value="no"
								/>&nbsp;No
							</label>
						</div>
					</div>
					<div class="col-4">
						<label class="required">Employer ID</label>
						<input
							type="text"
							class="form-control"
							formControlName="employerId"
						/>
					</div>
				</div>
			</div>
			<!-- Physical Address -->
			<div class="section" id="physicalAddress">
				<div class="row">
					<h6 class="heading">Physical Address</h6>
				</div>
				<app-address-form
					[parentGroup]="Form"
					[formGroupName]="'physicalAddress'"
				></app-address-form>
			</div>
			<!-- Mailing Address -->
			<div class="section" id="mailingAddress">
				<div class="row">
					<h6 class="heading">Mailing Address</h6>
				</div>
				<!-- <div class="row">
				<div class="col-4 mb-3">
					<button
						type="button"
						class="btn btn-sm btn-dark"
						(click)="setAddress('mailingAddress')"
					>
						Same as physical address
					</button>
				</div>
			</div> -->
				<app-address-form
					[parentGroup]="Form"
					[formGroupName]="'mailingAddress'"
				></app-address-form>
			</div>
			<!-- Insurance Billing Address -->
			<div class="section" id="insuranceBillingAddress">
				<div class="row">
					<h6 class="heading">Insurance Billing / Payment Address</h6>
				</div>
				<!-- <div class="row">
				<div class="col-4 mb-3">
					<button
						type="button"
						class="btn btn-sm btn-dark"
						(click)="setAddress('insuranceBillingAddress')"
					>
						Same as physical address
					</button>
				</div>
			</div> -->
				<app-address-form
					[parentGroup]="Form"
					[formGroupName]="'insuranceBillingAddress'"
				></app-address-form>
			</div>
			<!-- Contact -->
			<div class="section" id="contactDetails">
				<div class="row">
					<h6 class="heading">Contact</h6>
				</div>
				<app-contact-details-form
					[parentGroup]="Form"
					[formGroupName]="'contactDetails'"
				></app-contact-details-form>
			</div>
			<!-- Contact Person-->
			<div class="section" id="contactPerson">
				<div class="row">
					<h6 class="heading">Contact Person Info</h6>
				</div>
				<app-contact-person-form
					[parentGroup]="Form"
					[formGroupName]="'contactPerson'"
				></app-contact-person-form>
			</div>
			<!-- <div class="d-flex border-top pt-3 gap-2">
			<button
				class="btn btn-dark"
				type="submit"
				[disabled]="Form.invalid"
			>
				Save Changes
			</button>
	
			<button class="btn btn-light" type="button" (click)="cancel()">
				Cancel
			</button>
		</div> -->
		</div>
	</form>
</div>
