<div class="row" *ngIf="Form">
	<div class="col-10">
		<div class="col pills">
			<a [ngClass]="[ selectTab == 'overview' ? 'active' : 'inactive']" (click)="scroll(overview, 'overview')">Overview</a>
			<a [ngClass]="[ selectTab == 'profile' ? 'active' : 'inactive']" (click)="scroll(profile, 'profile')">Profile</a>
			<a [ngClass]="[ selectTab == 'physicalAddress' ? 'active' : 'inactive']" (click)="scroll(physicalAddress, 'physicalAddress')">Physical Address</a>
			<a [ngClass]="[ selectTab == 'mailingAddress' ? 'active' : 'inactive']" (click)="scroll(mailingAddress, 'mailingAddress')">Mailing Address</a>
			<a [ngClass]="[ selectTab == 'insuranceBillingAddress' ? 'active' : 'inactive']" (click)="scroll(insuranceBillingAddress, 'insuranceBillingAddress')">Insurance</a>
			<a [ngClass]="[ selectTab == 'contactDetails' ? 'active' : 'inactive']" (click)="scroll(contactDetails, 'contactDetails')">Contact</a>
			<a [ngClass]="[ selectTab == 'contactPerson' ? 'active' : 'inactive']" (click)="scroll(contactPerson, 'contactPerson')">Contact Person Info</a>
		</div>
	</div>
	<div class="col-2 d-flex justify-content-center align-items-center mb-3">
		<button class="btn btn-light" [disabled]="Form.invalid" (click)="save(Form.value)">
			<img src="assets/icons/save.svg" width="40" height="40" />
		</button>
		<button class="btn btn-dark"  (click)="cancel()">
			<i class="bi bi-x-lg"></i>
		</button>
	</div>

	<div class="container" id="main">
		<div class="section" #overview>
			<div class="row">
				<h6 class="heading">Logo</h6>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm">
					<app-image-uploader [imageUrl]="formData?.logo || ''" (onUpload)="handleUploadedImage($event)">
					</app-image-uploader>
				</div>
				<div class="col-lg-3 col-sm">
					<p>Legal Entity Name</p>
					<p>Legal Entity ID</p>
					<p>Legal Entity Status</p>
				</div>
				<div class="col-lg-3 col-sm">
					<p>Effective Date: Feb 15, 2022</p>
					<p>Termination Date: Feb 15, 2022</p>
					<p>Created By: Lorem ipsum</p>
				</div>
				<div class="col-lg-3 col-sm">
					<p>Creation Date: Feb 15, 2022</p>
					<p>Last Updated By: Lorem ipsum</p>
					<p>Last Updated Date: Feb 15, 2022</p>
				</div>
			</div>
		</div>
		<form [formGroup]="Form" #f="ngForm" (submit)="save(f.value)">
			<!-- Profile -->
			<div class="section" #profile>
				<div class="row">
					<h6 class="heading">Profile</h6>
				</div>
				<div class="row">
					<div class="col">
						<label class="required">Legal Entity Name</label>
						<input
							type="text"
							class="form-control value-must"
							formControlName="name"
						/>
					</div>
					<div class="col">
						<label class="required">Abbreviation</label>
						<input
							type="text"
							class="form-control"
							formControlName="abbreviation"
						/>
					</div>
					<div class="col">
						<label class="required">TIN</label>
						<input
							type="text"
							class="form-control value-must"
							formControlName="TIN"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="required">Country</label>
						<select class="form-select" formControlName="country">
							<option>Choose country</option>
						</select>
					</div>
					<div class="col">
						<label class="required">Currency</label>
						<select class="form-select" formControlName="currency">
							<option>Choose currency</option>
						</select>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col">
						<p>Is this Legal Entity also Legal Employer?</p>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="yes" (change)="checkEmployee($event)">
							<label class="form-check-label" for="inlineRadio1">Yes</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="no" (change)="checkEmployee($event)">
							<label class="form-check-label" for="inlineRadio2">No</label>
						</div>
					</div>
					<div class="col" *ngIf="showEmployeIdFeild">
						<label class="required">Employer ID</label>
						<input
							type="text"
							class="form-control"
							formControlName="eid"
						/>
					</div>
				</div>
			</div>
			<!-- Physical Address -->
			<div class="section" #physicalAddress>
				<div class="row">
					<h6 class="heading">Physical Address</h6>
				</div>
				<app-address-form
					[parentGroup]="Form"
					[formGroupName]="'physicalAddress'"
				></app-address-form>
			</div>
			<!-- Mailing Address -->
			<div class="section" #mailingAddress>
				<div class="row">
					<h6 class="heading">Mailing Address</h6>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="mailingCheckbox"
								(change)="checkboxValue($event, 'mailingAddress')">
							<label class="form-check-label" for="mailingCheckbox">
								Same as physical address
							</label>
						</div>
					</div>
				</div>
				<app-address-form
					[parentGroup]="Form"
					[formGroupName]="'mailingAddress'"
				></app-address-form>
			</div>
			<!-- Insurance Billing Address -->
			<div class="section" #insuranceBillingAddress>
				<div class="row">
					<h6 class="heading">Insurance Billing Address</h6>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="insuranceBillingCheckbox"
								(change)="checkboxValue($event, 'insuranceBillingAddress')">
							<label class="form-check-label" for="insuranceBillingCheckbox">
								Same as physical address
							</label>
						</div>
					</div>
				</div>
				<app-address-form
					[parentGroup]="Form"
					[formGroupName]="'insuranceBillingAddress'"
				></app-address-form>
			</div>
			<!-- Contact -->
			<div class="section" #contactDetails>
				<div class="row">
					<h6 class="heading">Contact Details</h6>
				</div>
				<app-contact-details-form
					[parentGroup]="Form"
					[formGroupName]="'contactDetails'"
				></app-contact-details-form>
			</div>
			<!-- Contact Person-->
			<div class="section" #contactPerson>
				<div class="row">
					<h6 class="heading">Contact Person</h6>
				</div>
				<app-contact-person-form
					[parentGroup]="Form"
					[formGroupName]="'contactPerson'"
				></app-contact-person-form>
			</div>
		</form>
	</div>
</div>
