// Importing Bootstrap SCSS file
@import '~bootstrap/dist/css/bootstrap.min.css';

// Bootstrap icons - https://icons.getbootstrap.com
@import '~bootstrap-icons/font/bootstrap-icons.css';

html,
body {
    margin: 0px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}