<div
	class="dashboard-layout"
	[ngStyle]="{
		'grid-auto-columns': compactSidebar
			? '42px 1fr 200px'
			: '200px 1fr 200px'
	}"
>
	<div class="__navbar">
		<top-navbar></top-navbar>
	</div>
	<div class="__sidebar">
		<ul>
			<li
				class="d-flex justify-content-end"
				[ngStyle]="{
					'line-height': compactSidebar ? '2' : '1'
				}"
			>
				<i
					class="bi bi-arrow-left"
					(click)="toggleMenuBar()"
					*ngIf="!compactSidebar"
					ngbTooltip="Minimize sidemenu"
				></i>
				<i
					class="bi bi-arrow-right"
					(click)="toggleMenuBar()"
					*ngIf="compactSidebar"
					ngbTooltip="Expand sidemenu"
				></i>
			</li>
			<li
				*ngFor="let item of menuItems.top"
				routerLinkActive="active"
				[routerLink]="item.url"
				placement="right"
			>
				<div
					class="icon"
					*ngIf="compactSidebar"
					[ngbTooltip]="item.title"
				>
					<i [class]="item.icon"></i>
				</div>
				<div class="icon" *ngIf="!compactSidebar">
					<i [class]="item.icon"></i>
				</div>
				<div class="title" *ngIf="!compactSidebar">
					{{ item.title }}
				</div>
			</li>
		</ul>
		<ul>
			<li
				*ngFor="let item of menuItems.bottom"
				routerLinkActive="active"
				[routerLink]="item.url"
				placement="right"
			>
				<div
					class="icon"
					*ngIf="compactSidebar"
					[ngbTooltip]="item.title"
				>
					<i [class]="item.icon"></i>
				</div>
				<div class="icon" *ngIf="!compactSidebar">
					<i [class]="item.icon"></i>
				</div>
				<div class="title" *ngIf="!compactSidebar">
					{{ item.title }}
				</div>
			</li>
		</ul>
	</div>
	<div class="__content">
		<div
			class="container d-flex justify-content-end align-items-center global-bg-dropdown"
		>
			<div class="col-md-5 ps-2">
				<span class="fw-bold text-uppercase text-black-50">{{
					moduleName
				}}</span>
			</div>
			<div class="col-3 text-end me-2">
				<label class="fw-bold">Business Group:</label>
			</div>
			<div class="col-4">
				<select
					class="form-select"
					[(ngModel)]="selectedBusinessGroup"
					(change)="setBusinessGroup($event)"
					[disabled]="disableBGDropdown"
				>
					<option *ngFor="let bg of businessGroups" [value]="bg._id">
						{{ bg.name }}
					</option>
				</select>
			</div>
		</div>

		<router-outlet></router-outlet>
	</div>
	<div class="__tray"></div>
</div>
