@import '../../styles/mixins.scss';

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 40px 1fr 40px;

    svg,
    img {
        width: 18px;
        height: 18px;
        cursor: pointer;

    }

    .left {
        @include vertical;

        .images {
            @include vertical;
            gap: 10px;


        }

        .settings {
            @include center;

            svg {
                margin: 0px;
                padding: 0px;
            }
        }
    }

    .center {
        background-color: black;
    }
}