@import '../../styles/mixins.scss';

.navbar {
    height: 40px;
    width: 100%;
    @include horizontal;
    justify-content: space-between;
    background: linear-gradient(to right,
            rgba(211, 181, 99, 0.35),
            #eb4b4b,
            rgba(225, 167, 35, 0.91),
            rgba(225, 168, 35, 0.7));
    ;

    .navbar-left {
        @include horizontal;
        border: 1px solid;

        .waffle {}

        .logo {}

        .dropdown {}

        .search {}

        .down-arrow {}
    }

    .navbar-right {
        @include horizontal;
        gap: 1.8rem;
        margin-right: 1.8rem;
        // border: 1px solid;

        p,
        img,
        svg {
            margin: 0px;
            padding: 0px;
            color: white;
            font-weight: 700 !important;
        }
    }

}

.main {
    height: calc(100vh - 40px);
    display: grid;
    grid-template-columns: 40px 1fr 40px;

    svg,
    img {
        width: 18px;
        height: 18px;
        cursor: pointer;

    }

    .left {
        @include vertical;
        justify-content: space-between;
        padding: 1rem 0rem 2rem 0rem;

        .images {
            @include vertical;
            gap: 1rem;


        }

        .settings {
            @include vertical;

            svg {
                margin: 0px;
                padding: 0px;
                width: 12px;
                height: 12px;
            }
        }
    }

    .center {
        background-color: black;
    }
}