@import '../../../mixins.scss';


.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 75px 1fr 75px;

    div {
        border: 1px solid;
    }

    img {
        width: 18px;
        height: 18px;
    }

    .left {
        @include vertical;

        .images {
            @include vertical;
            gap: 10px;
        }

        .settings {
            @include center;

            svg {
                margin: 0px;
                padding: 0px;
            }
        }
    }

    .center {
        background-color: black;
    }
}