<div
	class="dashboard-layout"
	[ngStyle]="{
		'grid-auto-columns': compactSidebar
			? '42px 1fr 200px'
			: '200px 1fr 200px'
	}"
>
	<div class="__navbar">
		<top-navbar></top-navbar>
	</div>
	<div class="__sidebar">
		<ul>
			<li
				class="d-flex justify-content-end"
				[ngStyle]="{
					'line-height': compactSidebar ? '2' : '1'
				}"
			>
				<i
					class="bi bi-arrow-left"
					(click)="toggleMenuBar()"
					*ngIf="!compactSidebar"
					ngbTooltip="Minimize sidemenu"
				></i>
				<i
					class="bi bi-arrow-right"
					(click)="toggleMenuBar()"
					*ngIf="compactSidebar"
					ngbTooltip="Expand sidemenu"
				></i>
			</li>

			<div *ngIf="compactSidebar">
				<ul class="ul">
					<li
						class="icon mb-3"
						ngbTooltip="{{ 'home' }}"
						routerLinkActive="active"
						[routerLink]="'/dashboard/home'"
						placement="right"
					>
						<img src="assets/icons/home-disable.svg" *ngIf="router.url != '/dashboard/home'" />
						<img src="assets/icons/home.svg" *ngIf="router.url == '/dashboard/home'" />
					</li>
					<li
						class="icon mb-3"
						ngbTooltip="{{ 'Appointments' }}"
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<img src="assets/icons/appointments.svg" />
					</li>
					<li
						class="icon mb-3"
						ngbTooltip="{{ 'Communication' }}"
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<img src="assets/icons/communication.svg" />
					</li>
					<li
						class="icon mb-3"
						ngbTooltip="{{ 'Patient Flow' }}"
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<img src="assets/icons/patient_flow.svg" />
					</li>
					<li
						class="icon mb-3"
						ngbTooltip="{{ 'Practice Tool' }}"
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<img src="assets/icons/practice_tools.svg" />
					</li>
					<li
						class="icon mb-3"
						ngbTooltip="{{ 'Practice Management' }}"
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<img src="assets/icons/practice_management.svg" />
					</li>
					<li
						class="icon mb-3"
						ngbTooltip="{{ 'Reports' }}"
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<img src="assets/icons/Reports.svg" />
					</li>
					<li
						class="icon mb-3"
						ngbTooltip="{{ 'More' }}"
						placement="right"
					>
						<img src="assets/icons/More.svg" />
					</li>
					<li
						class="icon mb-3"
						ngbTooltip="{{ 'Task List' }}"
						placement="right"
					>
						<img src="assets/icons/task_list.svg" />
					</li>
				</ul>
			</div>
			<div *ngIf="!compactSidebar">
				<ul class="ul">
					<li
						routerLinkActive="active"
						[routerLink]="'/dashboard/home'"
						placement="right"
					>
						<div class="icon">
							<img
								src="assets/icons/home-disable.svg"
								width="20"
								height="15"
								*ngIf="router.url != '/dashboard/home'"
							/>
							<img
								src="assets/icons/home.svg"
								width="20"
								height="15"
								*ngIf="router.url == '/dashboard/home'"
							/>
							Home
						</div>
					</li>
					<li
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<div class="icon">
							<img
								src="assets/icons/appointments.svg"
								width="20"
								height="15"
							/>
							Appointments
						</div>
					</li>
					<li
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<div class="icon">
							<img
								src="assets/icons/communication.svg"
								width="20"
								height="15"
							/>
							Communication
						</div>
					</li>
					<li
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<div class="icon">
							<img
								src="assets/icons/patient_flow.svg"
								width="20"
								height="15"
							/>
							Patient Flow
						</div>
					</li>
					<li
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<div class="icon">
							<img
								src="assets/icons/practice_tools.svg"
								width="20"
								height="15"
							/>
							Practice Tool
						</div>
					</li>
					<li
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<div class="icon">
							<img
								src="assets/icons/practice_management.svg"
								width="20"
								height="15"
							/>
							Practice Management
						</div>
					</li>
					<li
						routerLinkActive="active"
						[routerLink]="'NA'"
						placement="right"
					>
						<div class="icon">
							<img
								src="assets/icons/Reports.svg"
								width="20"
								height="15"
							/>
							Reports
						</div>
					</li>
					<li placement="right">
						<div class="icon">
							<img
								src="assets/icons/More.svg"
								width="20"
								height="15"
							/>
						</div>
					</li>
					<!-- <li>
						<div class="icon">
							<img src="assets/icons/task_list.svg" width="20" height="15" />
						</div>
						<ngb-accordion #acc="ngbAccordion" activeIds="patient-panel" class="accord-transparent">
							<ngb-panel title="Task List" id="patient-panel">
								<ng-template ngbPanelContent>
									<ul class="ol">
										<li routerLinkActive="active" [routerLink]="'NA'" placement="right">
											Dental Examination
										</li>
										<li routerLinkActive="active" [routerLink]="'NA'" placement="right">
											Teeth Cleaning
										</li>
										<li routerLinkActive="active" [routerLink]="'NA'" placement="right">
											Tooth Extraction
										</li>
										<li routerLinkActive="active" [routerLink]="'NA'" placement="right">
											Dental filling theraphy
										</li>
									</ul>
								</ng-template>
							</ngb-panel>
						</ngb-accordion>
					</li> -->
				</ul>
			</div>
		</ul>
		<ul>
			<li
				*ngFor="let item of menuItems.bottom"
				routerLinkActive="active"
				[routerLink]="item.url"
				placement="right"
			>
				<div
					class="icon"
					*ngIf="compactSidebar"
					[ngbTooltip]="item.title"
				>
					<i [class]="item.icon"></i>
				</div>
				<div class="icon" *ngIf="!compactSidebar">
					<i [class]="item.icon"></i>
				</div>
				<div class="title" *ngIf="!compactSidebar">
					{{ item.title }}
				</div>
			</li>
		</ul>
	</div>
	<div class="__content">
		

		<!-- <nav aria-label="breadcrumb" *ngIf="router.url.includes('onboarding')">
			<ol class="breadcrumb">
				{{router.url}}
			</ol>
		</nav>

		<hr  *ngIf="router.url.includes('onboarding')" /> -->

		<router-outlet></router-outlet>
	</div>
	<div class="__tray"></div>
</div>
