<div class="main" *ngIf="moduleData != undefined">

    <div class="row">
        <div class="col-3" style="border: 1px solid white;">
            <i class="bi bi-arrow-left-circle" style="font-size: 2rem"></i>
            <span>{{moduleData.goBack}}</span>
            <div>
                <p *ngFor="let leftItem of moduleData.leftMenu">{{leftItem}}</p>
            </div>
        </div>
        <div class="col-9">
            <div class="top">
                <input type="text" placeholder="Search">
                <button class="add_btn" routerLink="/dashboard/settings/onboarding/business-group/add">
                    <img src="/assets/icons/add.svg" alt="" />
                </button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let header of moduleData.rightHeaders">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let header of moduleData.rightHeaders">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>