<form autocomplete="off" [formGroup]="roleTemplateForm" #f="ngForm">
    <div class="row sticky" style="width: 101%;">
        <div class="col-11">
            <div class="col pills menuheight">
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center mb-3 gap-2">
            <button [disabled]="roleTemplateForm?.invalid" (click)="saveRoleTemplate()" class="save"> <img src="/assets/icons/save.svg"
                    style="width: 37px; height: 37px; cursor: pointer;" alt="" /></button>

            <img src="/assets/icons/cancel.svg"
                [routerLink]="'/dashboard/settings/role-management/manage-role-template'"
                style="width: 37px; height: 37px; cursor: pointer;" alt="" />
        </div>
    </div>
    <!-- content -->

    <div class="section" id="main">
        <h6 class="heading">Create Role Template</h6>
        <div class="row formrow">
            <div class="col-6">
                <label class="label-input-gap">Name of role</label>
                <input type="text" class="form-control required-field" formControlName="name"                
                >
            </div>
            <div class="col-6">
                <label class="label-input-gap">Description</label>
                <input type="text" class="form-control"
                    formControlName="description"
                    >
            </div>
        </div>
        <div class="row formrow">
            <div class="col-3">
                <label class="label-input-gap">Type</label>
                <ng-select placeholder="Select" class="required-field" formControlName="type" (change)="roleTypeValue($event)"
                >
                    <ng-option value="public">Public</ng-option>
                    <ng-option value="private" *ngIf="getRoleTemplateType === 'private' || getRoleTemplateType == ''">Private</ng-option>
                    <ng-option value="specific" *ngIf="getRoleTemplateType != 'public' || getRoleTemplateType == ''">Specific</ng-option>
                </ng-select>
            </div>
            <div class="col-3" *ngIf="isTypeSpecific">
                <label class="label-input-gap">Business Group</label>
                <ng-select [multiple]="true" placeholder="Select" formControlName="businessGroups">
                    <ng-option *ngFor="let bg of businessGroups" [value]="bg._id">{{ bg.name }}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row formrow">
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Search permissions ..." (input)="searchPermission($event);">
            </div>
        </div>
        <!-- Accordion -->
        <div class="row formrow">
            <div class="col-12" style="margin-top: 6px;">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" formArrayName="permissions">
                    <!-- Org. Onboarding -->
                    <ngb-panel cardClass="onboarding" *ngFor="let module of moduleNested; let i=index" [formGroupName]="i">
                        <ng-template ngbPanelTitle>
                            <div>
                                <p><strong>{{module.value.module}}</strong> <br>
                                </p>
                            </div>

                        </ng-template>
                        <ng-template ngbPanelContent formArrayName="sections">
                            <ngb-accordion #accOnboarding="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let section of sectionNested(i); let j=index" [formGroupName]="j">
                                <!-- Business Group -->
                                <ngb-panel cardClass="businessg">
                                    <ng-template ngbPanelTitle>
                                        <p><strong>{{section.value.section}}</strong> <br>
                                        </p>
                                        
                                    </ng-template>
                                    <ng-template ngbPanelContent formArrayName="permissions">
                                        <table class="table">
                                            <thead>
                                                <tr style="background-color: #f1f2f2; height: 30px;">
                                                    <th></th>
                                                    <th>Permission</th>
                                                    <th>Lock</th>
                                                    <th>Allow Override</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let perm of permissionNested(i,j); let k=index" [formGroupName]="k">
                                                    <td><input type="checkbox" formControlName="enabled" [attr.disabled]="perm.value.locked"
                                                        *ngIf="perm.value.locked"/>
                                                        <input type="checkbox" formControlName="enabled"  *ngIf="!perm.value.locked"/></td>
                                                    <td> <input type="hidden" formControlName="name">{{perm.value.name}}</td>
                                                    <td><input type="checkbox" formControlName="locked" (change)="checkLockedValue($event,perm)"/></td>
                                                    <td><input type="checkbox" formControlName="allowOverride" *ngIf="perm.value.locked"/></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-template>
                                </ngb-panel>

                                
                            </ngb-accordion>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</form>
