
.topimagesection {padding: 15px 30px 15px 15px;


    img {height: auto;
     width: 130px;
     border-radius: 8px;}
   
    .row {align-items: center;}
   
    p {line-height: normal;margin: 0;padding: 5px 0;}
   
   }
   
   
   .menuspace{
     display: flex;
     justify-content: flex-start;
     gap: 42px;
   }
   
   
   
   
   // mainformsection
   .row.sticky {z-index: 999;background: #fff;}
   .mainformsection {padding: 15px 0;
   
   
     .mainformset label.btn.btnoutlinesecondary {background: #39383a;height: 38px;line-height: 38px;width: 130px!important;display: block;padding: 0;margin: 0!important; min-width: inherit!important;flex: none;;border-radius: 6px 0 0 6px ;}
   
   
     .mainformset .btnoutlinesecondary2 {
       background: #fff;
       height: 38px;
       line-height: 38px;
       width: 110px !important;
       display: block;
       padding: 0 0 0 16px;
       margin: 0!important;
       min-width: inherit !important;
       flex: none;
       border-radius: 0px 0 0 0px;
       color: #000;
       border-color: #BCBEC0;
       text-align: left;
   }
   
   .mainformsection input.btnoutlinesecondary3 {
     background: #fff;
     height: 38px!important;
     line-height: 39px;
     width: 110px !important;
     display: block;
     padding: 0 0 0 16px;
     margin: 0 !important;
     min-width: inherit !important;
     flex: none;
     border-radius: 0px 6px 6px 0px!important;
     color: #000;
     border-color: #BCBEC0;
     text-align: left;
     border-left: 0!important;
   }
     .mainformsetdefalt {padding-top: 12px;}
     .buttoninput {margin-top: 6px;}
   
     .buttoninput > select {height: 35px;border-radius: 0 6px 6px 0;}
   
     h6.heading {padding-left: 10px;}
    .mainformset > label {padding-bottom: 5px;color: #000;     padding-left: 1px;     white-space: nowrap;}
    .formrow {padding-top: 10px;    padding-left: 10px;
    padding-right: 10px}
    h6.heading + .formrow {padding-top: 0;}
    .mainformset {padding: 0 0px;}
    .mainformset input[type=text],
    .mainformset input[type=date],
    .mainformset .form-select { height: 36px;
    border: 1px solid #BCBEC0;
    border-radius: 6px;
    box-shadow: 0 -0.5px 0pt 0.1pt #ddd!important;
    }
   
    .mainformset .form-check.form-check-inline > * {display: inline-block;vertical-align: middle;float: none!important;white-space: nowrap;padding-right: 6px;}
    .mainformset .form-check.form-check-inline > label.form-check-label {padding-left: 4px;padding-top: 2px;}
    .mainformset .btn-group {display: flex;align-items: center;}
    .mainformset .btn-group label {margin-right: 22px;margin-left: 4px;}
   
   
    .mainformset.noradiopad .form-check.form-check-inline {
     padding-left: 0;
   }
    }
   
    .pluscentered{
      display: flex;
      justify-content: center;
      align-content: center;
  }